{% extends 'layout.html' %}
{% load static %}


{% block title %}
     ABOUT
{% endblock %}


{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<style>
    .moff{
        height: 100%;
        width: 100%;
        font-size: 48px;
        text-align: center; 
        background-image: url(rawuf.png);
        background-size:cover;
        background-repeat: no-repeat; 
        color: white; 
    }
</style>
      
      


<div class="moff">
        <a href=""><img src="{% static 'imagefolder/images/Screenshot.png' %}" width="20%" alt=""></a>
        <p>Connecting movie fans with their <br>favorite content worldwide</p>
        </div>
<br>
<br>
<br>
<style>
   
    .bat{
        display: flex;
        text-align: center;
        padding: 10px;
        margin: 15px;
        gap: 20px;
        font-size: 20px;
        color: white;
    }

    .rap{
        border: 2px solid rgba(7, 6, 6, 0);
    }
    .gold{
        color: rgba(255, 255, 255, 0.603);
    }

    .gold:hover{
        color: rgb(206, 143, 7);
    }
</style>
<div >
    <center><h1>WHAT WE DO</h1></center>
</div>
    <nav>
        <div class="bat">
            <div class="rap">
                <div> 
                    <h1>For our clients</h1>
                    <p >Next generation movie marketing</p>
                </div>
                <br>
            <div>
                <img src="{% static 'imagefolder/images/images (29).jpeg' %}" width="100%"  alt="">
                <br>
                <br>
                <p >MOVIEgaiN Media helps Entertainment brands around the world get to grips with new challenges and opportunities. From blockbuster movies, award winning shows, major sporting events and console games, we buy media for our clients across the major digital platforms. We offer our clients something no one else can, media buying based on audience content tastes.</p>
                <br>
                <h1><a class="gold" href="#">Learn more about our marketing</a></h1>
            </div>
             
         </div> 
            <div class="rap">
                <div>     
                    <h1>For our users</h1>
                    <p>Apps for movie & TV show fans</p>
                   </div>
                   <br>
             <div>
            <img src="{% static 'imagefolder/images/jango.jpg' %}" width="95%" alt="">
            <br>
            <br>
             <p>We show you can legally watch movies and TV shows that you Love. You are kept up to date with what is new on Netflix, Amazon Prime, Apple TV and many other streaming platforms. Our simple filter system allows you to see only what is important to you. We also allow user to track their favorite shows and movies, and can notify you when a title is available on one of your services..</p>
             <br>
             <h1><a class="gold" href="#">Learn more about our apps</a></h1>
             </div>
            </div> 
         </div>
    </nav>
    <br>
    <br>
  
   <br>
   <br>
   <br>

<style>
        .q3q3{
            height: 100px;
            text-align: center;
        }
    </style>
   <div class="q3q3">
    <h1>WE WANT TO HEAR FROM YOU</h1>
   </div>
<br>
<style>
    .stoff{
        height: 100%;
        display: flex;
        text-align: center;
        font-size: 20px;
        gap: 10px;
        padding: 10px;
        margin: 5px;
        color: white;
    }
</style>
   <div class="stoff">
    <p>We work tirelessly to make the experience of using <a class="gold" href="#">our apps</a> the best that it can be and we love any feedback or suggestions you may have in order for us to improve futher.</p>
    <p>If you would like to find out more opportunities to work with us, visit our <a class="gold"href="/talent">talent page,</a>we are always looking to get more skilled and inspired people on our team.</p>
    <p>If you are interested in running campaigns with us for your upcoming movie, home entertainment release or VOD service we are happy to <a class="gold" href="/contact">hear from you</a>.</p>
</div>
   <br>
   <br>
   <br>


<style>
    .g3g3g{
        height: 100%;
        text-align: center;
        font-size: 25px;
    }
</style>
<div class="g3g3g">
    <a class="gold" href="#">Write to info@MOVIEgaiN.com</a>
</div>
<br>
<br>
<br>
<br>
<br>
{% endblock %}