{% extends 'layout.html' %}
{% load static %}


{% block title %}
     HOME
{% endblock %}



{% block content %}

    <br>
    <br> 
    <br>
    <br>
    <br>
<div class="many_25">
    <div class="manyy">
        {% if request.user.is_superuser or request.user.is_staff %}
    <a style="color: white" href="{% url 'admin' %}">AdminPage</a>
    {% endif %} 
    </div>
    <br>
    <br>
    <br><br>
    <p>Movies move us like nothing else can, <br>whether they're scary, funny, dramatic, romantic or anywhere in-between. <br>so many titles, so much to experience.</p>
    <br>
    <div>
  <p>{{key}}</p>
        <p style="color: white">{{request.user }}</p>
    </div>
</div>

<br>
<div>
   <a href="/watch"> <h1 class="all_25">Your Next Watch</h1></a>
</div>
<br>
<div class="gallery-wrap_25">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_25">
    <div class="gallery_25">
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/nextwatch/AAAABaNKG7jm7_enkuR70ushfXFeCrrJG05KkUICZBP2gqV7-rgPmbEfivmj89AzrmRKeAKXztfm6IqirIiVJ1kSWjgyUesQ1PBsMV84dVjH25i3itbCBDSrLA7ZQejlFvIv9_UR.jpg' %}" alt=""></a>
            <h1>Anikulapo</h1>
        </span>

        <span>
           <a href=""> <img src="{% static 'imagefolder/nextwatch/AAAABbu7Vgl6lpBZWiNydrFGF8wWi-42WWpQ1Jw7tw88OYKzqeNraSCDM6VXuG-60o1ifwF8y-xmc97M8dYOJotaybUjehZA3VtTvrRh-rYQZAU2NIrXPUm6X3c6Kc2iW1mp1Gi6.jpg' %}" alt=""></a>
            <h1>The GentelMan</h1>
        </span>
        <span>
           <a href=""><img src="{% static 'imagefolder/nextwatch/AAAABc3vktAktMtjzifs7NmShb68_LM3GzLqzgUFu8dqlkGPd2-8W114UjklauvZQY0w95E_uYrkiJKq7Sz4s75CTSusoemQtr3Rz35T07Y4S8Tp4_KDaTqYugeFuJ-iTTsphfDX.jpg' %}" alt=""></a>
            <h1>Lift</h1>
        </span>
    </div>
    <div>
        <span>
           <a href=""><img src="{% static 'imagefolder/nextwatch/AAAABcNKnCWAtNNy_so6Ni5kPX5nCHhIxTLi-hmdPCtCakFwFAEVTrKra4HDmdAANOz8_PeoZDCuetAUWkRHgyRhur7s6LfivnnVsGyIKowSK7HZMyqI0Es8OV1XxJnao7kvkgMN.jpg' %}" alt=""></a>
            <h1>Strong Girl</h1></span>
        <span>
           <a href=""> <img src="{% static 'imagefolder/nextwatch/AAAABYCUnKbHq_vsVpHszs-2nyUsiK0-cMB95AvBH8nvjhlWgqUgnzs-rlguVoQHLNjj6SbSjmryxhPpGXE_022Ck100-aUCSYXe4yIIyIHWkqGHBFw854nc5X8ya5Ctcq3OsAjn.jpg' %}" alt=""></a>
            <h1>Atlas</h1></span>
       
    </div>
    <div>
        <span>
           <a href=""> <img src="{% static 'imagefolder/nextwatch/AAAABdu1-UYxGUcKaJQvBIK-UbhVMfWVgtn8cr-DwVqmFGYeFMB2NmaGKdg_QJsUPkl_LMv0rRz9zeBTdMqQORGivSxA8L7RrVFqIlXrLsq_AIy-nQmyHLwoApozP___vEh2xzzJ.jpg' %}" alt=""></a>
            <h1>Trigger Warning</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/nextwatch/AAAABe_sjUoMNiuavPOi-DPNDCU9JLct0Lg0tkuH5fAGhm4h991EVhe3SAZVGnRsaQFiDttGo3w2RRbDz6L8XWCeKaTBdKgQUqzzPHjlFARHFvSQ0DwAR_928Ygosc2mZfax88-h.jpg' %}" alt=""></a>
            <h1>Ololade</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/nextwatch/AAAABeKclUQB0zbzXFKzzCPy7JIGfSC9cBsUrGy4uSL6Y8xTbA6uQ9RQ3T2hkFAivuVlcs2oe9Co_k6r3nxLdHWwZ2aT5KUNVAu3VqsuurQXLmMn1o2kZB1ihsp3XY1cwov6nJnz.jpg' %}" alt=""></a>
            <h1>One Piece</h1></span>
    </div>
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/nextwatch/AAAABVi8_TRhfqUzuj0SpY6NWG_sJtG6RcVbhLkzyDVG9NEERESnh8hSNv4WK8nzlTgHzc1zxe-EDyX3babYHncbhDoPqELUSUUxfyb9yPNUGkSbK94UQ1thRiIbGyXSCmPLTAnq.jpg' %}" alt=""></a>
            <h1>Achemy Of Souls</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/nextwatch/AAAABePlg4u3Pzy5eTv4T9i7DXSuuoWuseJemy_V0r9qF0aNjhaUQIUTuiiAnlSJNICmq_Rc_t3hkl6EgIEetv5E-nxKWdgshUUsnGgPJi79o2hmfCjEbfTkq_tnaXdEd-3bUUNd.jpg' %}" alt=""></a>
            <h1>Furies</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/nextwatch/AAAABfF1-hbqWVwKzAoUKyV88KPNabiy8sH5HsdxpdxSmICl3iMii02b7agick-qR6nN9Bi69cizD4pB9-iPqGnXBY_LvTjWcZa7I7GRK4QwBkngSR9vl_TJtJhf8-bLT3XZJcXu.jpg' %}" alt=""></a>
            <h1>The Last Airbend...</h1></span>
    </div>
</div>
    <img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_25">
</div>
<br>
<br>
<style>
    .gallery_25{
        display: flex;
        overflow-x: scroll;
    }
    
    .gallery_25 div{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: px;
        flex: none;
        gap: 5px;
    }
    
    .gallery_25 div img{
        width: 98%;
    }
    
    .gallery_25::-webkit-scrollbar{
        display: none;
    }
    
    .gallery-wrap_25{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #backBtn_25, #nextBtn_25{
        width: 20px;
        cursor: pointer;
        height: 50px;
    }
    
    #backBtn_25, #nextBtn_25{
        opacity: 0.1;
    }
    
    #backBtn_25:hover, #nextBtn_25:hover{
        opacity: 1;
    }
    
    .gallery_25 div img:hover{
        filter: grayscale(0);
        cursor: pointer;
    }
    
    
    .all_25{   
        color: white;
        margin-left: 26px;
        }
       
        .gallery_25 h1{
            color: rgba(255, 255, 255, 0.623);
            text-align: center;
            font-size: 20px;
        }

        .many_25{
            color: white;
            text-align: center;
            height: 270px;
            background-image: url('{% static 'imagefolder/images/rawuf.png' %}');
        }

        .many_25 p{
            color: rgb(255, 255, 255);
            font-size: 25px;
            text-align: center;
        }
        .manyy{
            text-align: start;
            font-size: 25px;
            font-family: sans-serif;
        }
</style>





  


<div>
    <a href="/comedy"><h1 class="all_3">Comedy Movies</h1></a>
</div>
<br>
<div class="gallery-wrap_3">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_3">
    <div class="gallery_3">
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/comedy/AAAABQesYif4jGvkm0mKn_pzP2SsSAkvtu2r2R2qIMSXBquUEROgCVn7gejnN5aiC7uOVK2bkFUYbR7yaUj0NZBhT-1VPC8Er0eIz4w.jpg' %}" alt=""></a><h1>Bad Boys For Life</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/comedy/AAAABYs_G2VXY5ffR5utbHjZXl5MfuxewCuMLDf9TtX1xd1Mi7zwzFbVwOBBVkjrjPTRK2zjklBOm6JF3n4uLjoHkQkHGrdE8aZ8-K0.jpg' %}" alt=""></a><h1>Charlies Angels</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/comedy/AAAABY5jw00--K98xqb15tcTqs9ZefXf7Yx_s2VHgFEs-5VQirGfU3RxPKESm0A-AtJLH9Q70-r8I-3DXcHuNRzevbDWz3j0hITqo4PXvYH7NvpVcFY-mCaqjV7doGokNcSQECxq.jpg' %}" alt=""></a><h1>Irish Wish</h1></span>
    </div>
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/comedy/AAAABWOF5Z3XTLnCWy-9XQtQBY2QvEFCi8BEopwW8h5VksC6mj5wsA1zQzwpgtI99ByoVTSkl4RxRSvYHNeQn8YoeQ5JBTIB9kUXlK4.jpg' %}" alt=""></a><h1>MenGirls</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/comedy/AAAABVAOrtTizwL3qgKmC70hzl8zlFaPVstsOIvK9ziw6mnaB7cYj82DDgUmn2hIW4RcgZ_IINsJkSAS773-b1DCiH6m8LcnV95Jc8cm2yJVLUxnOv-HK61bt1A7z2pdaUg0wwew.jpg' %}" alt=""></a><h1>You are so noy...</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/comedy/AAAABUEEve9pt74jESDgC9BX23ClD27UJVZhDFgc8BpOeUzid3RV4rzoWdPu9_mdXv0dM4tB0Yxg41Vtc0vyNA2zuQrlZBvAKt38FOs.jpg' %}" alt=""></a><h1>Before Valentine's</h1></span>
    </div>
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/comedy/AAAABQAYcjycZSCfpnbRGCKEsbTLh7qz8OtiZKaypCYEujOuO6Yn3o6rXBriAr1PGVWkghezQK_ZGOQ4977DXN-94ckxGTX7tSCYZeJ2O9PwOXJUOz9jceZ_VX7aj84IM1BCItmC.jpg' %}" alt=""></a><h1>Army of Thieves</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/comedy/AAAABfrxzzRtQX7HW4TbDjGPsNDLyJFxRbYVoDO65yTA-eP8KjvGzDJWwUXVX4yrjELhU1Bi2FkKZ_1TDsxZ5TmSZyHWpAJlsFpB4JJX2I4lJphqR6LXJdYp7cU6V9d4PFCP1GDk.jpg' %}" alt=""></a><h1>Lion Heart</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/comedy/AAAABen-qoJO8Kl1QH58kTMJuyRSUMlJDDiENntef3_QUEK9adrAeMb4eCR-DOw0-j3lCW73ZYxwjwJtWR9Hh5hKPs_ER_P0A4Rz4lg.jpg' %}" alt=""></a><h1>My Summer Prince</h1></span>
    </div>
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/comedy/AAAABd2zf-hn4it2FB5sfSTeoFwZjv8IZpp6zfkTxNxQ4q5R-kS_XYg7JxKPxowBo_BFIc38ZTv5dJ5OvW05viMyo16ZlUfbqPQ_TGY.jpg' %}" alt=""></a><h1>A Man Called...</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/comedy/AAAABb1mHHIjblRtLb99zmQEMeaSBGaX3wRbsOBnv5fDT3ZJpve9QiV1f5Rdyb7WmitIby8HY9npI7dFDjk2D9G4qJ5HN-tLwTcY7tE.jpg' %}" alt=""></a><h1>Laapataa Ladies</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/comedy/AAAABa8zlK-Gy5hzO4aQ5tpiJD8PBlYSH1uP-3ZldnTMLap7iNe8tCorPEuvL2s7hg9o7zaNhtcr-ahuXeHe9WkcMztyUoFwlMyzMBo.jpg' %}" alt=""></a><h1>Dwindle</h1></span>
    </div>
</div>
    <img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_3">
</div>
<br>
<br>
<br>




  


<div>
   <a href="/africa"> <h1 class="all_2">African Movies</h1></a>
</div>
<br>
<div class="gallery-wrap_2">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_2">
    <div class="gallery_2">
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/africa/AAAABaG9BDblvgHuwShf1XSyKZfT2MsDMy78MG27eF-uZVdThXljOU01M5ThGq-kBqgnxEfaMt9Ss4nY0gLEKYTZiIK2UNV7UzHjq0k.jpg' %}" alt=""></a><h1>Strained</h1></span>

        <span>
            <a href=""><img src="{% static 'imagefolder/africa/AAAABZdHPS2MiOv6DkV0woo7neDwDhwaNlWOl-NzX4WKkYXF717f8SEtCeWATP7aiAQVDEs9wWYiIw_LromhHxKysIquZtd-nr8TRENAp8KHKVI6ur4nsro5Ttyqwa8w-pftZt_v.jpg' %}" alt=""></a><h1>Luther The fallen...</h1></span>

        <span>
            <a href=""><img src="{% static 'imagefolder/africa/AAAABb-mjcQr4c3Uiy2YhQz4XnmqgHNWrUdg1NhSDR60dzEQDY6m4CF5Y2pZUC3Zm_ASJ7gq1nDuJMTodJuPwgRiyxlYs3stts7JE6E.jpg' %}" alt=""></a><h1>Passport</h1></span>
    </div>

    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/africa/AAAABQbdsI642Y33OILpD3_8QSMuqGSYIh1J8MUa9x83mJu-2MVKAXjHhjOoVWBgM5YUcroKT2AKVQlnd0iMqui3GK5eVMtLdv05wwqRTgALY6BZUYGhyWdnzE-vi1NMLZMU3DxC.jpg' %}" alt=""></a><h1>Blood Vessel</h1></span>

        <span>
            <a href=""><img src="{% static 'imagefolder/africa/AAAABbbg-H6h_iWCWUSRKkmps8gWlNuEvGb1O9ob9Bici-7cBGEMBLO2ZlsLkA_sDw2aik2F3ygDCsUA-5sHy1bj_vsu_RTubZ8et_c.jpg' %}" alt=""></a><h1>The Woman Think...</h1></span>

        <span>
            <a href=""><img src="{% static 'imagefolder/africa/AAAABc-oQ52bnQ4tp1HPchNJeqKgr5zDeruvNQfBeCTBW-05XCmaylG80S-iszQBh3MOurxAP3opFLB4y43wq5cNUjAtb9n19BGnAOg.jpg' %}" alt=""></a><h1>One Too Many</h1></span>
    </div>

    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/africa/AAAABelrz4ziWUTYGe5P181arHm4DbFApiTnGdWewPkYdNb6a4Yc2b5a5tcEYkG42NNwM5_RwFK0r_qCslyXExTePb6on51QbN3OFYI.jpg' %}" alt=""></a><h1>Obara'm</h1></span>

        <span>
            <a href=""><img src="{% static 'imagefolder/africa/AAAABevU_O1vck8wGtaxtK6eG7BJMDbQub9jTt0iOmq6RL-1wH8nsu-VAOplDz2JKeL9mWrG27Cj3u2oPjGQoZfhKG41L7uq9X8tssNAZdg4XIP-90oYCeMlXOM7IOt9UlpMPbSN.jpg' %}" alt=""></a><h1>Ijogbon</h1></span>
    </div>

    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/africa/AAAABWJmdlD_BSqU9a0Opv6Kl--KsuOscNNk4BX1FY0co4k9vOpVh9ZRDpq-xHg9qNd7dpGoFzyKj8CPGXw3vyhDCcIoNInVZhmsujhm9MztBhJ3KBH51gphMoqfinuNjVMrCPST.jpg' %}" alt=""></a><h1>Love, Sex &...</h1></span>

        <span>
            <a href=""><img src="{% static 'imagefolder/africa/AAAABUVNlK1gGovkKUulg5mYLdjESuyXCF5IDOlG9o0sfpMjVbfhpg_ruf3o_UzG6vW_DHQ5h1W_fK3vuGPsmJOuoOHJinNukvQmp1c.jpg' %}" alt=""></a><h1>The Wildflower</h1></span>

        <span>
            <a href=""><img src="{% static 'imagefolder/africa/AAAABVjYgz3QlzXJg9ec8JKgiQRElj6cBH6HdER2Dh62AlL-uU-nk-6XUBS5up_FXZpi6KTdi9_OWzFfYqTIuCkH06eRP8YuVwkeYPc.jpg' %}" alt=""></a><h1>A Simple Lie</h1></span>
    </div>
</div>
    <img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_2">
</div>
<br>
<br>
<br>



  


<div>
    <a href="/action"><h1 class="all_4">Ation Movies</h1></a>
</div>
<br>
<div class="gallery-wrap_4">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_4">
    <div class="gallery_4">
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/action/AAAABb9d19BKVbMmNdR8VidjMZsfOLrjnx-YCkkcXpi4KdmhBaZNY3YKT5SLCYfK_TnQni_chvVJmIzkKFcl-ChraRrii7wFhcYgQ6A.jpg' %}" alt=""></a><h1>Jason Bourne</h1></span>

        <span>
            <a href=""><img src="{% static 'imagefolder/action/AAAABRP1uDCwAWlclJOGwENPIK7-OSnGBlQhRFy1p_t-c5F0F6ToInIn1Mjxp0yzdNVVvrremP9HlBVJguaBBweTy8pPhqu-Oct0AME.jpg' %}" alt=""></a><h1>The Huntsman...</h1></span>

        <span>
            <a href=""><img src="{% static 'imagefolder/action/AAAABbFeiA29rMvHtuksOJdpzkAurUZC4Vg4OzULq6SR2UfzMgWBEArLg_T0EL0ch8Gn-y5H6c_CJyrV3uEWFe5mj7eYPQHiX8Gkcq3lwLsIcHqMQH8RWu_JhM8E5oBf7zHTeG3p.jpg' %}" alt=""></a><h1>Aka</h1></span>
    </div>

    <div>
        <span><a href=""><img src="{% static 'imagefolder/action/AAAABbo3ixlGkmwSNqQu8LY6MBF8HvsdEce1XBzCzjkunMvsJohzP6dHOzFDxmqTDhZCeyeXiHu_pY4om4GMRZ-U13OpB2x0F2O2jh0.jpg' %}" alt=""></a><h1>Hidding Strike</h1></span>

        <span>
            <a href=""><img src="{% static 'imagefolder/action/AAAABc3vktAktMtjzifs7NmShb68_LM3GzLqzgUFu8dqlkGPd2-8W114UjklauvZQY0w95E_uYrkiJKq7Sz4s75CTSusoemQtr3Rz35T07Y4S8Tp4_KDaTqYugeFuJ-iTTsphfDX.jpg' %}" alt=""></a><h1>Left</h1></span>

        <span>
            <a href=""><img src="{% static 'imagefolder/action/AAAABcnL3dcj0cEBbobliZMc6f72gaWXJUw5rrJQTRzrVWnH7wzFiPyUR4xkRG_VOWr0AvVwCROKfH6jxKGdJIl4XZC3FtHiH2AkuSQ.jpg' %}" alt=""></a><h1>Blood Shot</h1></span>
    </div>

    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/action/AAAABdu1-UYxGUcKaJQvBIK-UbhVMfWVgtn8cr-DwVqmFGYeFMB2NmaGKdg_QJsUPkl_LMv0rRz9zeBTdMqQORGivSxA8L7RrVFqIlXrLsq_AIy-nQmyHLwoApozP___vEh2xzzJ.jpg' %}" alt=""></a><h1>Trigger Warning</h1></span>

        <span>
            <a href=""><img src="{% static 'imagefolder/action/AAAABeCTs3a1n8v252gJNN4Nzf5VkFfkKyo6y3d2Aivhvjxr6UX5luH8U7aYawEeLpqT1vdawxQNmrL59XhdJ8uIXy-8U6kMuaSWdrQ.jpg' %}" alt=""></a><h1>Animal</h1></span>

        <span>
            <a href=""><img src="{% static 'imagefolder/action/AAAABee4zh2YvJHlS6GJ-1CKbQ4_VFQiZPukUIP5z3QNQuEkPqwVPNO3WQuyxqtVUHzSVETI8TIPibZoTPLJssmTFN5A_hREBXRnjas7UpP6kfUhtz2gGYIYCxFXnF2ocOoNrMeI.jpg' %}" alt=""></a><h1>Badi And Hunts...</h1></span>
    </div>

    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/action/AAAABeePx-4jJTty4LjM5NTqUsgmwr6i9YyhvNE5M9VzSgry3E5kZ3A8_893lrYyB3LhBXCQsK3coquBPphsIpTZbLsiA4MDgXiqI_T09hjIlfPD_IFPynLng9lABT7MRJ3c1TJ8.jpg' %}" alt=""></a><h1>60 Menutes</h1></span>

        <span>
            <a href=""><img src="{% static 'imagefolder/action/AAAABf4JhxKYZ2BzNVORiLy1h6s8Mrj_s5B8PBp4yxMqwDZp54-Rk5Uria-eO2LptkF_DotKqNkw4Zy79MsdwBS7vf9jCCAHJke7ckk.jpg' %}" alt=""></a><h1>Jawan Extended...</h1></span>

        <span>
            <a href=""><img src="{% static 'imagefolder/action/AAAABQCHGYiFWGxj6sKovfRs3EUSDCW_esJJPjPHcFrgDiAKziIfIzd-dQ4gR-BN_h4hDy1m5gzk7_dPRG1N3bpM9FyszpRDNKws866gwNxvii_BEVTsvOyToogxj33mBWbX0_oN.jpg' %}" alt=""></a><h1>Reble Moon...</h1></span>
    </div>
</div>
    <img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_4">
</div>
<br>
<br>
<br>



  


<div>
    <a href="/documentary"><h1 class="all_4">Documentary Filmes</h1></a>
</div>
<br>
<div class="gallery-wrap_5">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_5">
    <div class="gallery_5">
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/docummentary/AAAABQSPYWm_1fpZefN_84lqZ5010MVlJu_LdZ5frXNEMfUf1gfDrVvcbv_K1182uKbXSHZ0fRfR-iAZZWW9yoY9wWHsqlxmBl3_ybmZc0BkhHp6JtzDAHi77CbDumD22W6MyBmH.jpg' %}" alt=""></a><h1>Miss Americana</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/docummentary/AAAABb9hpa2an89ZOWZvO9vvINsHYi6yoIFbbf1fAYjXHnF_fH-7Um5s_eAkeMC-z_hh7EkIE5P0zO5IIQNzu2caEiuJjDrisfwOTbV4DHTfI1293tjTiiGw28akFYIUrka2xy3Y.jpg' %}" alt=""></a><h1>Hot Girls Wanted</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/docummentary/AAAABcVvuv-vN-Nrijig93fKScQxfthbZXWbNUO77zJLikbjHaJr-CTXpVL_eYQAWCQcLSyb3rAHcQBplqO8lc9v-MZ77Af_Lke07l0.jpg' %}" alt=""></a><h1>Inside Job</h1></span>
    </div>
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/docummentary/AAAABdSKmdLolSrkZNzVIbniOx5TYaglH962TnHVsE5qbKDuH5iCIKxGswz3qfC0XQ9n8Vgq4MmkJn1bXJn_mcPp2jx9vqZYWkYGTT8.jpg' %}" alt=""></a><h1>When Lambs Become...</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/docummentary/AAAABe3VuG6cq6Kh2wzM7mwGJ26-B3cnBo_iJRk5QHPsThyqJr_30kJlLAxcChchfgGP5U68fh9tgcZsJS3DD7KpNO9q6bXPTsi0IZx7BhIAE8KNIf6FZFFb608uW2WoEmum_My7.jpg' %}" alt=""></a><h1>Halftime</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/docummentary/AAAABelT6ki6FjSpKRlWIVQ7mZikP-moO46xPqRCk4kAF1yDsK6wFB07tvez4hIeTMQWJdOqIjFunumQjEG_Lc4JoHyLLageGgbaBx8sqPN9y6JRBq49VgeFuJ8P05q-bhaJ4jO1.jpg' %}" alt=""></a><h1>The Social Dilemma</h1></span>
    </div>

    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/docummentary/AAAABfQOMK5hR_gvLsmI4k2eLZFa6LYkyMbRUOJYGTC46JAibalh7vt0_GU4IN2uLt18V7M_F7KtdswBq5uhDpZvmjOjFsTsYOyv-0RoD20XDirj0sprwZq-SVmJXne_tLW-AOKK.jpg' %}" alt=""></a><h1>Sky Landder</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/docummentary/AAAABfT5HMRIvzLVKDfs5J-GtpV--7hnW9IeNNN5WAXmfPZ8hHEDgBuooNb-clUB0dExp15poeQCN9T23qaSg5JCMcVkXDi5YqwLt6l1L7kixjp_afZNlh3iE-IlCszmxpkiScXd.jpg' %}" alt=""></a><h1>Lover Stalker...</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/docummentary/AAAABQg-9irI9u4DID3sDwtp_pDoBKS2b_3m4gg-_t8Qcxw1prO_0m5qWc3dxjGla2Vq521rpUfR-R9M8YLpM0ef1wUfLQ_GH8Oli1p-QUZ7MHuLmBVTcjpKqH7Z9Q3C2HZQZ3Un.jpg' %}" alt=""></a><h1>Stamped From The...</h1></span>
    </div>
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/docummentary/AAAABVUlIlRadQj9m7dT-Mi1p65FYZorPEvTp8doWoJRlURkVZjpiy9O9YzHCbdZNC8XvHPJ-RcLcURUSRil8w6wOGkpC-8pC_zWxbKfESs1hvXv9B4D99QdyXGdItabgOrGN1NF.jpg' %}" alt=""></a><h1>14 Peaks</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/docummentary/AAAABVyl8aDwW33UAWgNWFdUJbTouelzJ8MNZItI4hD_v6lzhM5jPDnUxGXnvQPoMrB-0z_rRMxjtEVDYmHiI6cSzraGfGuYCh_rJjffA5tPPAb3kDUMXUopG73SDk_oa1y7LuQY.jpg' %}" alt=""></a><h1>Tell Me Who I Am</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/docummentary/AAAABX9VRSH4KvKjHz_AP-Rd8M4emHV83TgtaztmNVKs3nnjOcfK0oFMAnY9O3HaE3XUz4cjzyBKSl_Cia7VrcaLs9XcRXVHvRCjzLZrI-Wy8G0Z2fQ-UQhMV-oyriW91LnogSch.jpg' %}" alt=""></a><h1>Quincy</h1></span>
    </div>
</div>
    <img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_5">
</div>
<br>
<br>
<br>


  


<div>
    <a href="/recommended"><h1 class="all_6">Recommended For...</h1></a>
</div>
<br>
<div class="gallery-wrap_6">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_6">
    <div class="gallery_6">
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/recommended/AAAABag4PzAEbs0FcRh7_vdvSnp-vwZS1nmkQ-PuRgmpam1pb_R_SsHc6HBhzxes_o0DIALsEf5sxgLmO7FxMn080QEGRZPaNnEQoM8.jpg' %}" alt=""></a><h1>Elysium</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/recommended/AAAABaunh0HKzka6WE_p74cnLrvBkbTie_Z4XVL3ahj9KjFhDKVWjoGuXrRc8j9hq9HuVQGdKh3EetsW3nWnatsnNxQpaNAv9bdoWjs.jpg' %}" alt=""></a><h1>The Amazine Spider...</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/recommended/AAAABbADAhXrWOizhvzc_nGpHPbTQhS6tzrt67MDKOMptDqiII84DEhr5G_YMrowST4MeFUxS3kgWCxZFIl7zIKyjwU27fzNUgMclNs.jpg' %}" alt=""></a><h1>Body Driver</h1></span>
    </div>
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/recommended/AAAABbbOrTDT3cyA30Utjnh1Eh2CA8L8Un73PZ3YQ1QYGW85beZPPy-uKGDGBea0Jm_SyIHp7676aJJfY28hRfIA3_CrNHW4F-dCS6w.jpg' %}" alt=""></a><h1>Faster</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/recommended/AAAABbz3ghlMmgxdZOuvomfPIo83suff22yUi8BavLldyqV-EXrrnrtHmCuycy8BN1c2l-kNeGANjOUb8ulK2nemiAixCPEccOZQFgExJBhPMb3hI5PQc7TmFTiKKZmsuLNMYRP8.jpg' %}" alt=""></a><h1>Kate</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/recommended/AAAABc3A2CQYN3jP7dBWcZQ82um5qLvdMuDHoNrcvgHuFi4lJHJXHdBQ2jfh8wvWPF6i27iEoja6977-SPnI1QCtU61ZrfEr2b9MUU4.jpg' %}" alt=""></a><h1>The Great Wall</h1></span>
    </div>
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/recommended/AAAABcYOPcek7FdRsJ2qbBBYmQDBKlWLvaKoly1Oay85_D8iRC0hKY470wV7ximLmfmZ9WCBbuUhJGjJS1JBTpxgVg8xbvmML3cU7zI.jpg' %}" alt=""></a><h1>Jumanji The Next...</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/recommended/AAAABdV-UT2nqaN2MU3iCe_79Aq8fzQdrDmII-TQuwPZFNW_0Cja_uPaDpnNyPa6V1oFwDG_KcKhhfo4kPJCeDfHOldj_0AVA9qX3P_XfNNh1ZAIQP2jIVq1Oq2zHmezf4zJmRU9.jpg' %}" alt=""></a><h1>Extraction</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/recommended/AAAABdy31I0EASQLDOY_TOn3che_Uz38giMmfcsPfX4aS7F1Ie5hX7CZ0sm_o2_dWWcXUV32Ilkdy_KoRfOQI4vmwMHy0mjejcoJjvuwE1Jdk5-KWX88iIYxidp0KPWvU3W4md74.jpg' %}" alt=""></a><h1>Carter</h1></span>
    </div>
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/recommended/AAAABfcUPe6spaCxH20ZOBgCl24QcUyRCdZtUMffuOuO7PXDmmzEaR09C22X0t-ivaiPHOEMI1lf6Cx3W8S3rFkLw5r4ykNQu3L6ZpI.jpg' %}" alt=""></a><h1>Red2</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/recommended/AAAABRJm1FqANJg_nfAj1Pcumimv55wFKcgw8VssUrK1R3IvWuhA57Fjz4CdRO37fxIWmz09rL6MPUaV163SiDn0Q7njxIE2_CrVFD6Vm5C4Aek0iKto8zL1U2pxqQm4kyGzaD5J.jpg' %}" alt=""></a><h1>Interseptor</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/recommended/AAAABSz3bbnmgH367lqdffTfW4A_rhxalOIxkk03thIcp08FuoDa-Ze8PkV5J__r8l7iYpF5XVP36c5FE6INdl9VswnJIo9Ivje_BPc.jpg' %}" alt=""></a><h1>Divergent</h1></span>
    </div>
</div>
    <img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_6">
</div>
<br>
<br>
<br>




  


<div>
    <a href="/kids"><h1 class="all_7">Kids & Family Movies</h1></a>
</div>
<br>
<div class="gallery-wrap_7">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_7">
    <div class="gallery_7">
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/kid&family/AAAABajYIpuPpO605oWEZAnxmVnDt0ICfknpuG2QTrRmd5JjrGLyoGqlTXxC7hoy8kwfd_TopX7OFDBIngk4_vd9CWGVWxfKg0GReUo.jpg' %}" alt=""></a><h1>Sharkboy And Lava...</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/kid&family/AAAABb9RuHq1vAI0WPaR1URtssiFFnQEiMnQ9YUtOScEBaAy66ZxxJIAS32Iau5T-KFBFmUqs_nlsa0gQSJnFssARqOzhTEY4TJswcZ-rc5QkVvaHgWo33ZdElp7qR7J0QWrjzU6.jpg' %}" alt=""></a><h1>Family Switch</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/kid&family/AAAABbAyeR4dG1TAPXudQqw6pYtA1vyKHQZ87zF3i3PHwSagLMebUgyznB8yurzh5Hb_XIiWEV5B52Mbj-P8uMN3giuYzBmOMKjne6g.jpg' %}" alt=""></a><h1>The Water Horse...</h1></span>
    </div>
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/kid&family/AAAABbdKn1VR-4LfFfnhSwlMaxCWYFZJi8twOp8ohXi9XirQW2q16utyGLiqsRPGF-gPSa4HeWtNtqR4hZTiGbZch1nF7iiz35242qM.jpg' %}" alt=""></a><h1>Who To Train Your...</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/kid&family/AAAABcamX53rESXKTl6KoUn5JjQBL8OVJT9QMM7soElyrJnVLzjKaKdPdCy9eSzMAtk--Gg92Wo21dlbiav1BKSLefoihusGIRKqFnY.jpg' %}" alt=""></a><h1>Ice Age'3</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/kid&family/AAAABdIZCpV-QRUudQWNT8w5C0FCOAaCnr5smzc6TY_Pb8KUGxU0uPuUYJ276zUyJCZ1cWxP7QSFjrTVBqqyh7oRImZ9m6Zql8XMShKyLexIuQQITmHyvNRPocrrPbEyK2AspE0N.jpg' %}" alt=""></a><h1>The Sae Beast</h1></span>
    </div>
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/kid&family/AAAABQAu90uSvw9lUGe9fdPsZiVvz1JKW76KFxMJfDhcx0QSrK-3yv0MVCN7Xf0Cu8h74dYk9u_f7OtoePH04_Vb8oCS5fw_RhL-S60.jpg' %}" alt=""></a><h1>The Angry Birds</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/kid&family/AAAABRV4MTM3jjYsNEtC9SXRx3ADAh-EjxRwrwkVQeL5CjBA1fJv_e5uHa-qiJ2_fGYQjqihC_Xc4TzT3gDR4gQ93RqjLpiTkuEIZSM.jpg' %}" alt=""></a><h1>Mounster Trucks</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/kid&family/AAAABTjxTE-r5WY9lRiYl42LJVJqhjpb8LfcxvtgbR0CIFyFlPp9A1uY-fVeoyckI0KqqwgllVy6C-wnxt9mfBNYPoKFFcVJeEwijLk.jpg' %}" alt=""></a><h1>Sing 2</h1></span>
    </div>
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/kid&family/AAAABUAEMBJ8shgzBV4a4ncfmeXXHOWrNAiT62tZK4jzNDWdGdhCeMPicQ3hKayqsOoW13ckNJdM6bQIF41a6JU4uERNyJeeNGmOZTI.jpg' %}" alt=""></a><h1>spider-Man</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/kid&family/AAAABUgSwqGUbMZ1iAvVDZtdK1Ultl3dN52Bhl0cE26cH_NRlrJ1Cg0NYNsddlssWDXqdx_7YZY4Af2_u31sm62JOgTWI9viz9Hvlkg.jpg' %}" alt=""></a><h1>Boss Baby</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/kid&family/AAAABUxDaCs1zsnf2q6ATnz5As3TMv371RSUAT54RR9-y0p701T3gLmuJqxFEkTOn-hcWbJNHIfDNaNccjcG7NEgpnze98D7hpLJ5eY.jpg' %}" alt=""></a><h1>Dora And The...</h1></span>
    </div>
</div>
    <img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_7">
</div>
<br>
<br>
<br>



  


<div>
    <a href="/hollywood"><h1 class="all_8">Hollywood Movies</h1></a>
</div>
<br>
<div class="gallery-wrap_8">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_8">
    <div class="gallery_8">
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/hollywood/AAAABavVPzoIJixdB3levLQcLv95E8KTqmwTfoc2ruxprDrb2zrT5DxpaHTqjiuNseQ9ye9Nvfz2D3icyS5hsnWN6WXf9IeHdLwl9H5FWF93yiag6-6OnvuRIUt4vMj5U2Kn1VRQ.jpg' %}" alt=""></a><h1>purpler Hearts</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/hollywood/AAAABZdHPS2MiOv6DkV0woo7neDwDhwaNlWOl-NzX4WKkYXF717f8SEtCeWATP7aiAQVDEs9wWYiIw_LromhHxKysIquZtd-nr8TRENAp8KHKVI6ur4nsro5Ttyqwa8w-pftZt_v.jpg' %}" alt=""></a><h1>Luther The Fallen...</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/hollywood/AAAABbsXq8ynYJ2gnfIKCfGVOacpJCM_hOacLxmAhkJI727r2ntJqnIOjfc21otLrEWRH1ZgbxKc-WDKu3nZ7irKYkDfWPT0bAlcGYp49IkavojkkpCX1rBFsiJoJZHfDSyyy7cw.jpg' %}" alt=""></a><h1>The Unforgivable</h1></span>
    </div>
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/hollywood/AAAABcI-a9xD0ctNxf3HjqW7VGaBPegutqtgQpPTzhrufJkTdNIuVStFxvsC0i1s-_CYnrz1_yM2z1-VI4acH1-JRcJbuuLrMH6uI6Q.jpg' %}" alt=""></a><h1>Windows</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/hollywood/AAAABcltr1OsGgFGojYb0CVucJt7XrHoCpmLIiX8LjGpAxYssXJQM7npa1XC5YLjOMdW0gEIA1Moh7WwPWozLkdTSiFfaxSAdZyc3qg.jpg' %}" alt=""></a><h1>Gran Turismo</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/hollywood/AAAABcqQJXEdsjGQTdtTCmeD_nRivZfOrrBIg63bGg2PL8_LOEiQJaHykVFhY8mizykSIsM54elWBPHFVfNnipDSl-pOtTuSed_Q9PAhgT7_gUPYulJvJIK0KpMQUfQZCb2Q8SIe.jpg' %}" alt=""></a><h1>Lou</h1></span>
    </div>
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/hollywood/AAAABcYdRKOOjbHOTbl44TIlinuN7Cc__257iUiy3ZHb-yrLKPyTCCIEKoMM85LB1c-GRGinQ1U8KszWTiTBJEWKInd5zg16c7BS-tE.jpg' %}" alt=""></a><h1>American Gangster</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/hollywood/AAAABd2zf-hn4it2FB5sfSTeoFwZjv8IZpp6zfkTxNxQ4q5R-kS_XYg7JxKPxowBo_BFIc38ZTv5dJ5OvW05viMyo16ZlUfbqPQ_TGY.jpg' %}" alt=""></a><h1>A Mam Called...</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/hollywood/AAAABRU_TC-UIcf3in3iqDkRaOQ0mQMo9ecYLhjLNJMheITTJTRFi58as5AU88qBmq0oy9sHjVeQQpKBhxOyUXCuWfR3KXRENYIMFA8.jpg' %}" alt=""></a><h1>Fifthy Shades...</h1></span>
    </div>
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/hollywood/AAAABVlpKs-Z12lRRC9J1Kc-Ux9Ew3D9vy3t8BnuL1REkqo2N6WyaG9U28CoxswfMrCJ9dp2caVyxdG3NQfF3v3Pgt2lzBBmbPmzPVukwrYu0c2qq5KSSyLK4k3OCppD8w9fzF7N.jpg' %}" alt=""></a><h1>The Killer</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/hollywood/AAAABWNnUFCJ_VfJJsOgkwM4GoDHO2-EDDnljnGCW7wgvbpbtNc-hzCH56SdAU6hlSjgIDiUjDYzMdQU0ZMb1N3WeLvyfCsj1VPLvps.jpg' %}" alt=""></a><h1>The Martian</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/hollywood/AAAABYdpEnAm2HOCswTmwL1noyhJitg4h4P0DASjV1qw1Y_-gktCosICMyl5Ag-uCWm82SzbN5LulDYsg2T7SXbtNfcLvLM1FHwMNtU.jpg' %}" alt=""></a><h1>The Next Three...</h1></span>
    </div>
</div>
    <img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_8">
</div>
<br>
<br>
<br>

  


<div>
    <a href="/crime"><h1 class="all_9">Crime Movies</h1></a>
</div>
<br>
<div class="gallery-wrap_9">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_9">
    <div class="gallery_9">
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/crime/AAAABaJoaielbEpOvHY2b_BMogC2oZPJUHB3q2qXdfOxMsWlfBTHSgIal5NirLt0A9k92WYRdJaSN4ME6N-cgC-PmHaLguIPqd2PG1_zbDDl9zmeuHhPf-0K9JnDxiGhztpcNUJq.jpg' %}" alt=""></a><h1>I Came By</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/crime/AAAABaxoier8-u1AEfuzhxMfmliQ9PGODmow1g2lBhmclu3Lgz_HoNDs7105i4Asbva-rgFF-jufQXZ0SD0u1RWgBCI2OydA-YG0Ric.jpg' %}" alt=""></a><h1>The Stepfather</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/crime/AAAABbCOn5NtaC52okxU1swW5lBegdImNW9jTr8tiivIBx6cr4ngwnHXTVtNVB2WX-1-fYMKm4AKxRf5sZYw_PpB7Yb4OuANh14-ESY.jpg' %}" alt=""></a><h1>The Perfect Stranger</h1></span>
    </div>
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/crime/AAAABbFO-7fU1y2UYfkJ_-9R1IYUYFnjuFEeTtjYOxYgUIF0pslpDF7WPVe7Nt_rF0r24GxHBYFm5_S2iexV7YcMBLnp2Mfw89fhaCjIQKnJxtU0Tco9KT8Xt8X95mS2SqzYQMLU.jpg' %}" alt=""></a><h1>In His Shadow</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/crime/AAAABbik91-GacgQvjgd05anDopuk_8CSlMlxkQfyLDDbRg6dywqrDBLNrOIGU2A8M71qEfuEsP1hiBDMdugQiWDUD59FXD4gX2g_RSwthVI6MI4d4BcnVqOKwsmG7PHsXLnGKaR.jpg' %}" alt=""></a><h1>I Boy</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/crime/AAAABbPeVRolfbNrXL6IVzVINfqLB6ruObkZQLeVikDgLdNvlC511lqD2MtBgPVJLP3AGpDl-p4PE3vEGY2dOlsGHoYGN1LwF4aeyd-nWZoPmYYT5zanjzHzDpUzdVneiCmuZJHo.jpg' %}" alt=""></a><h1>Bhakshak</h1></span>
    </div>
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/crime/AAAABc3Aq0BZQx-n1I7YORO_ikRuu0cpqO9lZsvJo8jwgrGvUENCzlJ0bXfSbY_zvolA2BZT6FFOPFG_rcTEYbsPHqDQ_m0DEPtJGsOCP7NwD6rcmBs8dNJsULg7fA3ZXT6lhqwo.jpg' %}" alt=""></a><h1>In The Shadow Of...</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/crime/AAAABcb1l5LIUTVUXGOUgU5qoOxUPJiIgMy8BKOUPpyQbNk8eDxir-3ULhYppKwX5wu4CW07Hz-0qOyIRY2iVP092AsJObF6laNOclhGkUeypDrBWoRjNeqNPZpD79ZsrAUI2Nay.jpg' %}" alt=""></a><h1>The Guilty</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/crime/AAAABd1WPpo3wHOF_J7fT7MWyoBGmkGQ-cbYgVx7BhImXhEJbywAnp3f1xfSst3RxFgRwsVrV6qxEo-EMpJTEY-fQp34MQb3VzR6BQk.jpg' %}" alt=""></a><h1>Gumraah</h1></span>
    </div>
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/crime/AAAABR6rGAVk5s5Zov3eeFak_aQ0jJGeHr8_KthTLfEXLAy8q0iZ2PUVHWQaNGKDA4MGx8fCAcV8ja812BB2k80J0bwZzNavTVYMNtg.jpg' %}" alt=""></a><h1>C B I 5 The Brain</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/crime/AAAABS0sCme506QNH1NtVp8A5XL5SpzlIznUo0m3kHN8oie4SpxkNHp25kORO1vMPS8AH_fvjIhiRRsQBdNMUlClp9XB6nnfZUWxvUE.jpg' %}" alt=""></a><h1>Lakeview Terrace</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/crime/AAAABSb5DOHruewOYb1uYUIByi67_tPnDtEIdzoD6C3yTiAni_TeY0AM0ovrW9yQRodCO9MTTUNxmUHobWp1VCDZrmqSUTsv_MZuSjg.jpg' %}" alt=""></a><h1><h1>Mind Cage</h1></h1></span>
    </div>
</div>
    <img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_9">
</div>
<br>
<br>
<br>







<div>
    <a href="/drama"><h1 class="all_10">Drama Movies</h1></a>
</div>
<br>
<div class="gallery-wrap_10">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_10">
    <div class="gallery_10">
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/drama/AAAABaG9BDblvgHuwShf1XSyKZfT2MsDMy78MG27eF-uZVdThXljOU01M5ThGq-kBqgnxEfaMt9Ss4nY0gLEKYTZiIK2UNV7UzHjq0k.jpg' %}" alt=""></a><h1>Strained</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/drama/AAAABawx2FcqnfpRlGjeBMhhYc8SsdaZhthTfpN4nJS_96hZd7O48-KGbM7hDWNdRINA9eFLu1YXTnqk5CwCYLCISDPkwL6sQ2GcdAr3EyJ3gyT4U4MQvfoqfes3chUOj2Byfa8C.jpg' %}" alt=""></a><h1>The Tears Mith</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/drama/AAAABb-mjcQr4c3Uiy2YhQz4XnmqgHNWrUdg1NhSDR60dzEQDY6m4CF5Y2pZUC3Zm_ASJ7gq1nDuJMTodJuPwgRiyxlYs3stts7JE6E.jpg' %}" alt=""></a><h1>Passport</h1></span>
    </div>
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/drama/AAAABbbg-H6h_iWCWUSRKkmps8gWlNuEvGb1O9ob9Bici-7cBGEMBLO2ZlsLkA_sDw2aik2F3ygDCsUA-5sHy1bj_vsu_RTubZ8et_c.jpg' %}" alt=""></a><h1>The Woman King</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/drama/AAAABc-oQ52bnQ4tp1HPchNJeqKgr5zDeruvNQfBeCTBW-05XCmaylG80S-iszQBh3MOurxAP3opFLB4y43wq5cNUjAtb9n19BGnAOg.jpg' %}" alt=""></a><h1>One Too Many</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/drama/AAAABcttsgHxHJecFp9pi3U5tP0eculg7uqkwWKJnd585WBMLEsXBZ5nbTQ6tprucQyWDvP8X6qk4t3LXQNWam9RjbCj7tblk1CXyr4.jpg' %}" alt=""></a><h1>Pompell</h1></span>
    </div>
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/drama/AAAABecxf540cmht_plTBjbGTdgTW53czJjWLNsvTMLqcqXv9E7vIk18_QrIK-UPtJWfKuulxE7KpijYouOsqOm7XV_5l5mv4Eew13g.jpg' %}" alt=""></a><h1>Four Brothers</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/drama/AAAABelrz4ziWUTYGe5P181arHm4DbFApiTnGdWewPkYdNb6a4Yc2b5a5tcEYkG42NNwM5_RwFK0r_qCslyXExTePb6on51QbN3OFYI.jpg' %}" alt=""></a><h1>Obara'm</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/drama/AAAABevU_O1vck8wGtaxtK6eG7BJMDbQub9jTt0iOmq6RL-1wH8nsu-VAOplDz2JKeL9mWrG27Cj3u2oPjGQoZfhKG41L7uq9X8tssNAZdg4XIP-90oYCeMlXOM7IOt9UlpMPbSN.jpg' %}" alt=""></a><h1>Ijugbon</h1></span>
    </div>
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/drama/AAAABSydUg1kD7TG6PyfUY0xlV35U7PggZo3hU5eRD0eG1TBGQC5Ywy9tRVRtYAlvJ_wJrFHkZx5dqLlIosEcG1qLCzXwAeUQgpwSEM.jpg' %}" alt=""></a><h1>Adire</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/drama/AAAABTLLZshDCu_SQGB0VS5_DXEeqPiRCX5153UZtTkO2ySJpR-7Y_pCb3bXBIKh_DzrHatt0XzGFVpqXdyzavGDKMXnoLjsc4OVlwuKz_44R3KWtrh4DLi6rRrG20wblpoKopzA.jpg' %}" alt=""></a><h1>Wing Woman</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/drama/AAAABUM1WDRTRH-bcv968h8HkTS2Us1M-l_QYI7txhFX-hcpyIbVws3anHe-Tv3aseXn7D_fdJzk1gomYaVCjSesVhP-W_51iPXPhnvflrwqcY1Zvsy2MqrFaF4Lhoo7Q8KikJHg.jpg' %}" alt=""></a><h1>Love At First...</h1></span>
    </div>
</div>
    <img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_10">
</div>
<br>
<br>
<br>




  


<div>
    <a href="/horror"><h1 class="all_11">Horror Movies</h1></a>
</div>
<br>
<div class="gallery-wrap_11">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_11">
    <div class="gallery_11">
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/horror/AAAABa64fSJziZ--0-ferRCQqrm0UbxuLC42-CF1jIRsnnJUtQiNiK3S5f0UtzagIBBHI0VvEdg8tEOMwibg1MGxfKjE7PPfZkPOHb6wJkMz8bbbay7wpxzpvDdpKcAfeby7EYty.jpg' %}" alt=""></a><h1>Zom 100 Bucket...</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/horror/AAAABab2eeEWZKF37Tw3YfdpCIelcA8CSFXGNj31DpvM6EqcO8QLIUYEip2ermcDBHL3KeKyhCPrVYZwxC8zIJCqKyyYWHQ7xfEWKrc.jpg' %}" alt=""></a><h1>Wrong Turn</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/horror/AAAABaemqCz1gJggnTO-YxmLLKEuM4-Vez4RHtKUfyxlPwNoxznhaJwaABdsPoZn7Z-IrXrDu_6JwQyAK-RQknt9jY7k2ju2PugIkLQO0oT-8Dg1mSzWOYNHQ0QhArnm_EolYl2d.jpg' %}" alt=""></a><h1>Army Of The Dead</h1></span>
    </div>
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/horror/AAAABSJjCkpWm7emrOrPDLE4DBDBMZqo3MIMo7mYm8_JmHgzSI9ANpbMHuDsWbkRptzM2KtEjHjI234VWuD5Jza9TK-YgMmUg7GyGn3h3Bp8UOFuyVw1GuwUahwfXJCjwhQLU27N.jpg' %}" alt=""></a><h1># Alive</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/horror/AAAABcG-xeG_6_teAtt2plaaelGsuHtTJSoF3adL8xe6ikIhPyo93H2pZF5NqeUlsjEpzvj1rJeqBV3tLDUskmhwUy2L5R_o3CKF9CZ9gmoxB4rSFvu8miLKQXG8bdQ-IGE_RZof.jpg' %}" alt=""></a><h1>Bird Box</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/horror/AAAABckN5QLBoFL4x2sqq6lo3MUJeIOLcE6XrEWtAXuMmT2RTxVc2ZXSl313yjPTE_3sfpM-tJ9Fsw3xubVF2LvuB8beFYUNa_2FFd8.jpg' %}" alt=""></a><h1>World War</h1></span>
    </div>
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/horror/AAAABdNpZ75VuVanQzmIFXbHEXt3y6Xqo6xU4QGCVp0hVXjMFk_CSrRjiErEl30CPPdStHX7ZzF_56FTJd-Vv_ByxtfpobXBGlvMcik.jpg' %}" alt=""></a><h1>Carrie</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/horror/AAAABdOzuxpgBx5m9n7FEhPNzC1mWjn4B0Bnxz31MpECBrv5bmHb5vVC6Wvj9lpNKM3ZG_SlFMy5w0fkovcsBLeBPwOSA1fwG80X4ys.jpg' %}" alt=""></a><h1>Thangs Giving</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/horror/AAAABeEAD2UkCoPDz6tzFRTvQ3sRfYR3C0wyqYyq53ZVFb3_0DRf3PDKW6ZCiRfoUYcSUVdb1AS4ExHn9GEJ_w3RiRWnIKNZh_euAYOqChhvn5QTt0p2E2nKdpaHajHd4F88VjlH.jpg' %}" alt=""></a><h1>Blood Red Sky</h1></span>
    </div>
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/horror/AAAABcDtp95AC7A_neRE12yjLohSwnsTM1oIDvWvF_5EGGp6HAaMQZF7g254SIrzqzg9lEEByPO-6baVkFzyH1y2l689_tNvMmKCY9s.jpg' %}" alt=""></a><h1>Insidious The Red...</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/horror/AAAABXqP5w0gfYgEKCRkrP7NeW0qgn5hYQoNZhtE8kV4h10tgrA1_1MS-mnX4jNmeNFHXw0MzEbytHkk_pImBE-b1vtJhm5lC39EyxSSt2TEuGFMc_h0Z_tUlKWir2F55qizXbMb.jpg' %}" alt=""></a><h1>We Have A Ghost</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/horror/AAAABU1vRUnz0MQCq_RAfW946bvYBAEG1a_tQ0JFoZ75WtP10HF3nKUzNPHQnRFLV9I26MflM5_2aEClobjVFel5ttpriV0lU8pdJSs.jpg' %}" alt=""></a><h1>Priest</h1></span>
    </div>
</div>
    <img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_11">
</div>
<br>
<br>
<br>








  


<div>
    <a href="/romantic"><h1 class="all_12">Romantic Movies</h1></a>
</div>
<br>
<div class="gallery-wrap_12">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_12">
    <div class="gallery_12">
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/romantic/AAAABaJKN3l_Ik6JpxkWdxWWhXUEo1_KXmJyO7OtDS0mB357PIR9YzHNm5m5aNDHS4tE000owr4QnAt2yDrZtA6HbF-YPUOxAMGlrWI.jpg' %}" alt=""></a><h1>The Best Man Holy...</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/romantic/AAAABUnV90AOvg3qBLP0hsrDm-GGmQglYqLWjhbPQYoH7ekRTVhZuhC_m-PrtxVvK-7XBY39oiDdcR4_FX-03N3UM6plCnBnqoYbO3FNofwMJnXRagmIfvSPaW7tk1GhhaoNRv37.jpg' %}" alt=""></a><h1>The Princess Switch</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/romantic/AAAABawx2FcqnfpRlGjeBMhhYc8SsdaZhthTfpN4nJS_96hZd7O48-KGbM7hDWNdRINA9eFLu1YXTnqk5CwCYLCISDPkwL6sQ2GcdAr3EyJ3gyT4U4MQvfoqfes3chUOj2Byfa8C.jpg' %}" alt=""></a><h1>The Tears Mith</h1></span>
    </div>
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/romantic/AAAABcF8F6hFe4OYV4RaZV19UlF8kOP6PO29DcTyVwGmGz_3M0O6C8Ef8yAiBJKNjKHrX1PLVdUojalqS14DBt_l7f1Qkl0etAAH7gbEzmM2N3iQnn7FYpIHB6P8ZMXW5cWbdCCg.jpg' %}" alt=""></a><h1>Chief Dady Going...</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/romantic/AAAABUM1WDRTRH-bcv968h8HkTS2Us1M-l_QYI7txhFX-hcpyIbVws3anHe-Tv3aseXn7D_fdJzk1gomYaVCjSesVhP-W_51iPXPhnvflrwqcY1Zvsy2MqrFaF4Lhoo7Q8KikJHg.jpg' %}" alt=""></a><h1>Love At First...</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/romantic/AAAABcttsgHxHJecFp9pi3U5tP0eculg7uqkwWKJnd585WBMLEsXBZ5nbTQ6tprucQyWDvP8X6qk4t3LXQNWam9RjbCj7tblk1CXyr4.jpg' %}" alt=""></a><h1>Pompell</h1></span>
    </div>
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/romantic/AAAABWdKwbNXKVJAp2mfSLmzDB3ktS12w61hts2QtZun32IdTsvxLPw_BAV84x5V4bwZapbPiMdlRFLjfk87mNa-A9woMCfqXq-gd_s0tILDpsr7TcnesSOhFqYmbSz8Bdrvs4oJ.jpg' %}" alt=""></a><h1>Tonight You're....</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/romantic/AAAABdhmj0gQ0hyIqcW3nawfIP6QuEuojopKQ4Xg3yTBOEXLzpwXePT4P0vD-Uzjw4Asnvsq_WVxHzrm6mUWE-gNHMn7Yur3trh7WOU.jpg' %}" alt=""></a><h1>Dunki</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/romantic/AAAABetL9Wiqk_0-uC9Pu9xh9BYtftB2d_Hrq5EF6_eCbYE-RNLGfYLKI3wAlb30LFKXovJH3P3AWn18dS-A89T27xka-kxxVP73c9rMdKsRaLbu2GtE_RIPszB-fV5YfSHUig8V.jpg' %}" alt=""></a><h1>Last Call For...</h1></span>
    </div>
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/romantic/AAAABS_5doTYvqT37iMOnnSUl4EfOzazWim4ScX5HZwCLbKZJXAHIrsVg0eR2YyDbeUn--q_LfHq_0scXAD4mPp1JihenF0CS07FI-U.jpg' %}" alt=""></a><h1>Seven And A Half...</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/romantic/AAAABS5MAyx1tor3S2AILoZWJ_vkiIAdfmpjRaudLMq9j_gn-v5iAFNq-rToFadAoJWV6M11mlWF-EvWi8zfTlf0B0hroCRe0kEboch4tmF0q80EaPNast6_KG8oNKE5bsYkBTeh.jpg' %}" alt=""></a><h1>In Good Handas</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/romantic/AAAABSBFE3bEG-D2pRk8ZzZjBjcCG9ahEJihPMG-UL0ulqm3uQbgJ3sl-3QE3uoNCYQSuJPfE1EeJAWwbD-0DOXtl4GC6Nq54e8sTeg.jpg' %}" alt=""></a><h1>First Knight</h1></span>
    </div>
</div>
    <img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_12">
</div>
<br>
<br>
<br>





  


<div>
    <a href="/tv_shows"><h1 class="all1_13">Movies & TV Shows</h1></a>
</div>
<br>
<div class="gallery-wrap_13">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_13">
    <div class="gallery_13">
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/TV-show/AAAABa8zlK-Gy5hzO4aQ5tpiJD8PBlYSH1uP-3ZldnTMLap7iNe8tCorPEuvL2s7hg9o7zaNhtcr-ahuXeHe9WkcMztyUoFwlMyzMBo.jpg' %}" alt=""></a>
            <h1>Dwindle</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/TV-show/AAAABaG9BDblvgHuwShf1XSyKZfT2MsDMy78MG27eF-uZVdThXljOU01M5ThGq-kBqgnxEfaMt9Ss4nY0gLEKYTZiIK2UNV7UzHjq0k.jpg' %}" alt=""></a><h1>Strained</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/TV-show/AAAABaJ4pHu7GKp_MwJ0NczFv89fumE_SR_MWPXacx6HNjGRDhuvTuEsKSn0DYx-_WgHS1WZMub_NqYcNKHWn6S-hKJ6PzVkNdWwqF7cA-YgkR4aXCwxPZFrdpT_80xiFTMAu2bp.jpg' %}" alt=""></a><h1>Blood Sisters</h1></span>
    </div>
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/TV-show/AAAABaYzbUlz5tvLZzf0pHEJKgZE-FtCcKFM9mGKKanG72hswzP3ixkFsZfWkqM4DXA40oKPzhj-I6z-gaZ8jIIZy-YI5usEj-z9WYA.jpg' %}" alt=""></a><h1>Ijakumo The Born...</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/TV-show/AAAABb-mjcQr4c3Uiy2YhQz4XnmqgHNWrUdg1NhSDR60dzEQDY6m4CF5Y2pZUC3Zm_ASJ7gq1nDuJMTodJuPwgRiyxlYs3stts7JE6E.jpg' %}" alt=""></a><h1>Passport</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/TV-show/AAAABQnRasVrtCpzM6tujgpDnXIHjASnaW7YUvmhk5EegWpYny3yBIUrnoAvJC-7XKxPujXXVyRzxoi4wjsGc11f_1-M5OT4Pg9FKAA.jpg' %}" alt=""></a><h1>Lock Down</h1></span>
    </div>
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/TV-show/AAAABRUIGNK9ewn28V0tVSQAkoK_yvjvseS3W-1udJlNbr5G6auF4Wzn3f8rU0OfwtG8bXAdQexu9Tk7K9BXTDESMo_vMJVIxB07Au8.jpg' %}" alt=""></a><h1>Kambili The Whole...</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/TV-show/AAAABRuWG1FhQOEBxgsRNkGNfqVzQnw1olFSjbXVAl7zjYOcfBALvwpjz6JclFQOz2kMbD_jmru2aTB6Y86wtrf-9kn5uGgK_gg6WWc.jpg' %}" alt=""></a><h1>Merry Men 3</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/TV-show/AAAABSi2rVDH10QI2cH_SFZOM5ZzAscZQwxIWflIuBOiQ6ETeyCHSt3wKfAm0qoGBDcKcgtF3p55512J-j1KJMhNOqlhpY07t6oXRnA.jpg' %}" alt=""></a><h1>King Of Boys</h1></span>
    </div>
    <div>
        <span>
            <a href=""><img src="{% static 'imagefolder/TV-show/AAAABTJ4AQJNuW0qV1uBcxJ_JrAwrHDk0rVclx3gxo9Uuhi6HkM3d723GsBvuHYckDinQAh9Ol2XfkK4y1d1EZh5TiBOYvWETKXjkya6_C_kpMJJtbbfZAfhDXb-MwvRZ7jV12ci.jpg' %}" alt=""></a><h1>King Of Boys The...</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/TV-show/AAAABTKLB6zGY-wBnssctmsjICFiBwMpzhJUUKNls6Iv4fvOia-f0QP7TWgObGo0M5eThJ6_OSJkU3q6SHx7X3VU9Ww-yOOU2wjvofB6pXz6dPbhn9abHtp5QjLol8ZrzgCZEOS0.jpg' %}" alt=""></a><h1>Far From Home</h1></span>
        <span>
            <a href=""><img src="{% static 'imagefolder/TV-show/AAAABToe_qthoDuumBbGvfS0G5LxbetSaSkeaF_dVMRbxLNcvm8x5pNxW0KnyfEvmCFbSPgDI9MwOQk0p5ug-fKOlfNInlTn8D3jxpk.jpg' %}" alt=""></a><h1>Ileowo</h1></span>
    </div>
</div>
    <img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_13">
</div>





<script>
    let scrollContainer = document.querySelector(".gallery_25");
    let backBtn_25 = document.getElementById("backBtn_25");
    let nextBtn_25 = document.getElementById("nextBtn_25");

    nextBtn_25.addEventListener("click", ()=>{
        scrollContainer.style.scrollBehavior = "smooth";
        scrollContainer.scrollLeft += 800;
    });

    backBtn_25.addEventListener("click", ()=>{
        scrollContainer.style.scrollBehavior = "smooth";
        scrollContainer.scrollLeft -= 800;
    });

    let scrollConta = document.querySelector(".gallery_2");
    let backBtn_2 = document.getElementById("backBtn_2");
    let nextBtn_2 = document.getElementById("nextBtn_2");

    nextBtn_2.addEventListener("click", ()=>{
        scrollConta.style.scrollBehavior = "smooth";
        scrollConta.scrollLeft += 800;
    });

    backBtn_2.addEventListener("click", ()=>{
        scrollConta.style.scrollBehavior = "smooth";
        scrollConta.scrollLeft -= 800;
    });


    let scrollCont = document.querySelector(".gallery_3");
    let backBtn_3 = document.getElementById("backBtn_3");
    let nextBtn_3 = document.getElementById("nextBtn_3");

    nextBtn_3.addEventListener("click", ()=>{
        scrollCont.style.scrollBehavior = "smooth";
        scrollCont.scrollLeft += 800;
    });

    backBtn_3.addEventListener("click", ()=>{
        scrollCont.style.scrollBehavior = "smooth";
        scrollCont.scrollLeft -= 800;
    });


    let scrollCon = document.querySelector(".gallery_4");
    let backBtn_4 = document.getElementById("backBtn_4");
    let nextBtn_4 = document.getElementById("nextBtn_4");

    nextBtn_4.addEventListener("click", ()=>{
        scrollCon.style.scrollBehavior = "smooth";
        scrollCon.scrollLeft += 800;
    });

    backBtn_4.addEventListener("click", ()=>{
        scrollCon.style.scrollBehavior = "smooth";
        scrollCon.scrollLeft -= 800;
    });


    let scrollCont5 = document.querySelector(".gallery_5");
    let backBtn_5 = document.getElementById("backBtn_5");
    let nextBtn_5 = document.getElementById("nextBtn_5");

    nextBtn_5.addEventListener("click", ()=>{
        scrollCont5.style.scrollBehavior = "smooth";
        scrollCont5.scrollLeft += 800;
    });

    backBtn_5.addEventListener("click", ()=>{
        scrollCont5.style.scrollBehavior = "smooth";
        scrollCont5.scrollLeft -= 800;
    });


    let scrollCont6 = document.querySelector(".gallery_6");
    let backBtn_6 = document.getElementById("backBtn_6");
    let nextBtn_6 = document.getElementById("nextBtn_6");

    nextBtn_6.addEventListener("click", ()=>{
        scrollCont6.style.scrollBehavior = "smooth";
        scrollCont6.scrollLeft += 800;
    });

    backBtn_6.addEventListener("click", ()=>{
        scrollCont6.style.scrollBehavior = "smooth";
        scrollCont6.scrollLeft -= 800;
    });


    let scrollCont7 = document.querySelector(".gallery_7");
    let backBtn_7 = document.getElementById("backBtn_7");
    let nextBtn_7 = document.getElementById("nextBtn_7");

    nextBtn_7.addEventListener("click", ()=>{
        scrollCont7.style.scrollBehavior = "smooth";
        scrollCont7.scrollLeft += 800;
    });

    backBtn_7.addEventListener("click", ()=>{
        scrollCont7.style.scrollBehavior = "smooth";
        scrollCont7.scrollLeft -= 800;
    });


    let scrollCont8 = document.querySelector(".gallery_8");
    let backBtn_8 = document.getElementById("backBtn_8");
    let nextBtn_8 = document.getElementById("nextBtn_8");

    nextBtn_8.addEventListener("click", ()=>{
        scrollCont8.style.scrollBehavior = "smooth";
        scrollCont8.scrollLeft += 800;
    });

    backBtn_8.addEventListener("click", ()=>{
        scrollCont8.style.scrollBehavior = "smooth";
        scrollCont8.scrollLeft -= 800;
    });


    let scrollCont9 = document.querySelector(".gallery_9");
    let backBtn_9 = document.getElementById("backBtn_9");
    let nextBtn_9 = document.getElementById("nextBtn_9");

    nextBtn_9.addEventListener("click", ()=>{
        scrollCont9.style.scrollBehavior = "smooth";
        scrollCont9.scrollLeft += 800;
    });

    backBtn_9.addEventListener("click", ()=>{
        scrollCont9.style.scrollBehavior = "smooth";
        scrollCont9.scrollLeft -= 800;
    });


    let scrollCont10 = document.querySelector(".gallery_10");
    let backBtn_10 = document.getElementById("backBtn_10");
    let nextBtn_10 = document.getElementById("nextBtn_10");

    nextBtn_10.addEventListener("click", ()=>{
        scrollCont10.style.scrollBehavior = "smooth";
        scrollCont10.scrollLeft += 800;
    });

    backBtn_10.addEventListener("click", ()=>{
        scrollCont10.style.scrollBehavior = "smooth";
        scrollCont10.scrollLeft -= 800;
    });


    let scrollCont11 = document.querySelector(".gallery_11");
    let backBtn_11 = document.getElementById("backBtn_11");
    let nextBtn_11 = document.getElementById("nextBtn_11");

    nextBtn_11.addEventListener("click", ()=>{
        scrollCont11.style.scrollBehavior = "smooth";
        scrollCont11.scrollLeft += 800;
    });

    backBtn_11.addEventListener("click", ()=>{
        scrollCont11.style.scrollBehavior = "smooth";
        scrollCont11.scrollLeft -= 800;
    });


    let scrollCont12 = document.querySelector(".gallery_12");
    let backBtn_12 = document.getElementById("backBtn_12");
    let nextBtn_12 = document.getElementById("nextBtn_12");

    nextBtn_12.addEventListener("click", ()=>{
        scrollCont12.style.scrollBehavior = "smooth";
        scrollCont12.scrollLeft += 800;
    });

    backBtn_12.addEventListener("click", ()=>{
        scrollCont12.style.scrollBehavior = "smooth";
        scrollCont12.scrollLeft -= 800;
    });


    let scrollCont13 = document.querySelector(".gallery_13");
    let backBtn_13 = document.getElementById("backBtn_13");
    let nextBtn_13 = document.getElementById("nextBtn_13");

    nextBtn_13.addEventListener("click", ()=>{
        scrollCont13.style.scrollBehavior = "smooth";
        scrollCont13.scrollLeft += 800;
    });

    backBtn_13.addEventListener("click", ()=>{
        scrollCont13.style.scrollBehavior = "smooth";
        scrollCont13.scrollLeft -= 800;
    });


</script>
<br>
<br>
<br>
{% endblock %}


