{% extends 'layout.html' %}
{% load static %}

{% block title %}
{% endblock %}



{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>







<div>
<h1 class="comery">ON SALE</h1>
</div>
<br>
<div class="comety">
<h1></h1>
</div>
<br>
<br>
<div class="releas">
<a href="/new"><h1>New releases</h1></a>
<a href="/upcoming"><h1>Upcoming</h1></a>
<a href="#"><h1 class="first">Sale</h1></a>
</div>
<br>
<br>

<div>
<h1 class="all_22">MY SERVICES</h1>
</div>

<br>
<div class="gallery-wrap_2">
<img src="icons/10117847.png" alt="" id="backBtn_22">
<div class="gallery_22">
<div>
<a href="#"> <span><img src="{% static 'imagefolder/icons/icon (22).webp' %}" alt=""></span></a>

<span><img src="{% static 'imagefolder/icons/icon (21).webp' %}" alt=""></span>

<span><img src="{% static 'imagefolder/icons/icon (4).webp' %}" alt=""></span>
</div>

<div>
<span><img src="{% static 'imagefolder/icons/icon (5).webp' %}" alt=""></span>

<span><img src="{% static 'imagefolder/icons/icon (6).webp' %}" alt=""></span>

<span><img src="{% static 'imagefolder/icons/icon (1).webp' %}" alt=""></span>
</div>

<div>
<span><img src="{% static 'imagefolder/icons/icon (2).webp' %}" alt=""></span>

<span><img src="{% static 'imagefolder/icons/icon (8).webp' %}" alt=""></span>

<span><img src="{% static 'imagefolder/icons/icon (9).webp' %}" alt=""></span>
</div>

<div>
<span><img src="{% static 'imagefolder/icons/icon (10).webp' %}" alt=""></span>

<span><img src="{% static 'imagefolder/icons/icon (11).webp' %}" alt=""></span>

<span><img src="{% static 'imagefolder/icons/icon (3).webp' %}" alt=""></span>
</div>

<div>
<span><img src="{% static 'imagefolder/icons/icon (12).webp' %}" alt=""></span>

<span><img src="{% static 'imagefolder/icons/icon (13).webp' %}" alt=""></span>

<span><img src="{% static 'imagefolder/icons/icon (14).webp' %}" alt=""></span>
</div>

<div>
<span><img src="{% static 'imagefolder/icons/icon (15).webp' %}" alt=""></span>

<span><img src="{% static 'imagefolder/icons/icon (16).webp' %}" alt=""></span>

<span><img src="{% static 'imagefolder/icons/icon (17).webp' %}" alt=""></span>
</div>

<div>
<span><img src="{% static 'imagefolder/icons/icon (18).webp' %}" alt=""></span>

<span><img src="{% static 'imagefolder/icons/icon (19).webp' %}" alt=""></span>

<span><img src="" alt=""></span>
</div>

</div>
<img src="icons/10117763.png" alt="" id="nextBtn_22">
</div>
<br>
<br>
<br>





<section class="shop container">
<h2 class="section-title">Shop Now</h2>

<div class="shop-content">
    <div class="product-box">
        <img src="{% static 'imagefolder/hollywood/AAAABcYdRKOOjbHOTbl44TIlinuN7Cc__257iUiy3ZHb-yrLKPyTCCIEKoMM85LB1c-GRGinQ1U8KszWTiTBJEWKInd5zg16c7BS-tE.jpg' %}" width="100%" alt="" class="product-img">
        <h2 class="product-title">Hocasfgmme</h2>
        <p class="rate">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
        </p>

        <br>
        <div class="flex">
            <p class="discount"><b><del>$450</del></b></p>
            <span class="price">$ 486</span>
        </div>
        <button type="button" class="add-cart">Add to cart</button>
    </div>

    <div class="product-box">
        <img src="{% static 'imagefolder/hollywood/AAAABdOrb7DV4W8tOBHYIlEynYfBSUVJ-nbTDR0RLZULZABmWTqNntauOCLmmRAmPcW19nnAkYu02KLH9AWJXuiCAJPbWJAFRo-E5oQ.jpg' %}" width="100%" alt="" class="product-img">
        <h2 class="product-title">Hoadfsejyrme</h2>
        <p class="rate">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
        </p>

        <br>
        <div class="flex">
            <p class="discount"><b><del>$450</del></b></p>
            <span class="price">$ 486</span>
        </div>
        <button type="button" class="add-cart">Add to cart</button>
    </div>

    <div class="product-box">
        <img src="{% static 'imagefolder/hollywood/AAAABecxf540cmht_plTBjbGTdgTW53czJjWLNsvTMLqcqXv9E7vIk18_QrIK-UPtJWfKuulxE7KpijYouOsqOm7XV_5l5mv4Eew13g.jpg' %}" width="100%" alt="" class="product-img">
        <h2 class="product-title">Hoxaetjme</h2>
        <p class="rate">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
        </p>
        <br>
        <div class="flex">
            <p class="discount"><b><del>$450</del></b></p>
            <span class="price">$ 486</span>
        </div>
        <button type="button" class="add-cart">Add to cart</button>
    </div>

    <div class="product-box">
        <img src="{% static 'imagefolder/hollywood/AAAABS9KnvG30OuZXNBsgXXS-ntwuqnphnBI4lIOe24FaQvKXiETDk68z2_j__FSG0hOd-NizI733u01RuUeMDvtB5dcmNeSypVAjxPOwEKr8gWs0u0ST53bqhbGjCqrI5YFiKKH.jpg' %}" width="100%" alt="" class="product-img">
        <h2 class="product-title">Homeetheh</h2>
        <p class="rate">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
        </p>

        <br>
        <div class="flex">
            <p class="discount"><b><del>$450</del></b></p>
            <span class="price">$ 486</span>
        </div>
        <button type="button" class="add-cart">Add to cart</button>
    </div>

    <div class="product-box">
        <img src="{% static 'imagefolder/hollywood/AAAABV4ClGyzOk9iluFmW0yc-Aj03KCzwenQ2fFcwVrYm3XcwoK5r79qlq9v9-8GLfinZ5qVi8ckuINSbCRCtZbr9ox96zvG4PbZXM0kAW3d2lBJSggXtNK3h5RJ1YgKSyRo1h1A.jpg' %}" width="100%" alt="" class="product-img">
        <h2 class="product-title">Homeadege</h2>
        <p class="rate">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
        </p>

        <br>
        <div class="flex">
            <p class="discount"><b><del>$450</del></b></p>
            <span class="price">$ 486</span>
        </div>
        <button type="button" class="add-cart">Add to cart</button>
    </div>

    <div class="product-box">
        <img src="{% static 'imagefolder/hollywood/AAAABWwI2JZDvbe_ix--7CJhUquWDym0eCufPkNPB6uHuIVN5ATjANzqT-BAuXa09eUfStvjQFGFM8QqpDs9rg1wskdXoPzjYxSyA6-10YwLgGEEhOosklKB42_K4IoJOYYFjXFk.jpg' %}" width="100%" alt="" class="product-img">
        <h2 class="product-title">Homezadq</h2>
        <p class="rate">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
        </p>

        <br>
        <div class="flex">
            <p class="discount"><b><del>$450</del></b></p>
            <span class="price">$ 486</span>
        </div>
        <button type="button" class="add-cart">Add to cart</button>
    </div>

    <div class="product-box">
        <img src="{% static 'imagefolder/hollywood/AAAABX9t-2Z6aezcJVeh42uBw6YxER24m2awAi4OHCHOHSjJW2Zwp6xDdAo2n1MrQyDM9bRcO5ZgSLx2j1DTpYgKUiVk6wMzewHvcrkwgo...irlM0Q_-sg.jpg' %}" width="100%" alt="" class="product-img">
        <h2 class="product-title">Homedddf</h2>
        <p class="rate">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
        </p>
        <br>
        <div class="flex">
            <p class="discount"><b><del>$450</del></b></p>
            <span class="price">$ 486</span>
        </div>
         <button type="button" class="add-cart">Add to cart</button>
    </div>

    <div class="product-box">
        <img src="{% static 'imagefolder/hollywood/AAAABYCUnKbHq_vsVpHszs-2nyUsiK0-cMB95AvBH8nvjhlWgqUgnzs-rlguVoQHLNjj6SbSjmryxhPpGXE_022Ck100-aUCSYXe4yIIyIHWkqGHBFw854nc5X8ya5Ctcq3OsAjn.jpg' %}" width="100%" alt="" class="product-img">
        <h2 class="product-title">Homedddf</h2>
        <p class="rate">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
        </p>

        <br>
        <div class="flex">
            <p class="discount"><b><del>$450</del></b></p>
            <span class="price">$ 486</span>
        </div>
        <button type="button" class="add-cart">Add to cart</button>
    </div>
</div>
</section>

{% endblock %}