{% extends "app/layout.html" %} 
{% load static %}

</head>
<body style="background-color:white">
   {% block content %}
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <div>
    <h1 class="comery">ON SALE</h1>
    </div>
    <br>
    <div class="comety">
    <h1></h1>
    </div>
    <br>
    <br>
    <div class="releas">
    <a href="/new"><h1>New releases</h1></a>
    <a href="/upcoming"><h1>Upcoming</h1></a>
    <a href="#"><h1 class="first">Sale</h1></a>
    </div>
    <br>
    <br>
    
    <div>
    <h1 class="all_22">MY SERVICES</h1>
    </div>
    
    <br>
    <div class="gallery-wrap_2">
    <img src="icons/10117847.png" alt="" id="backBtn_22">
    <div class="gallery_22">
    <div>
    <a href="#"> <span><img src="{% static 'imagefolder/icons/icon (22).webp' %}" alt=""></span></a>
    
    <span><img src="{% static 'imagefolder/icons/icon (21).webp' %}" alt=""></span>
    
    <span><img src="{% static 'imagefolder/icons/icon (4).webp' %}" alt=""></span>
    </div>
    
    <div>
    <span><img src="{% static 'imagefolder/icons/icon (5).webp' %}" alt=""></span>
    
    <span><img src="{% static 'imagefolder/icons/icon (6).webp' %}" alt=""></span>
    
    <span><img src="{% static 'imagefolder/icons/icon (1).webp' %}" alt=""></span>
    </div>
    
    <div>
    <span><img src="{% static 'imagefolder/icons/icon (2).webp' %}" alt=""></span>
    
    <span><img src="{% static 'imagefolder/icons/icon (8).webp' %}" alt=""></span>
    
    <span><img src="{% static 'imagefolder/icons/icon (9).webp' %}" alt=""></span>
    </div>
    
    <div>
    <span><img src="{% static 'imagefolder/icons/icon (10).webp' %}" alt=""></span>
    
    <span><img src="{% static 'imagefolder/icons/icon (11).webp' %}" alt=""></span>
    
    <span><img src="{% static 'imagefolder/icons/icon (3).webp' %}" alt=""></span>
    </div>
    
    <div>
    <span><img src="{% static 'imagefolder/icons/icon (12).webp' %}" alt=""></span>
    
    <span><img src="{% static 'imagefolder/icons/icon (13).webp' %}" alt=""></span>
    
    <span><img src="{% static 'imagefolder/icons/icon (14).webp' %}" alt=""></span>
    </div>
    
    <div>
    <span><img src="{% static 'imagefolder/icons/icon (15).webp' %}" alt=""></span>
    
    <span><img src="{% static 'imagefolder/icons/icon (16).webp' %}" alt=""></span>
    
    <span><img src="{% static 'imagefolder/icons/icon (17).webp' %}" alt=""></span>
    </div>
    
    <div>
    <span><img src="{% static 'imagefolder/icons/icon (18).webp' %}" alt=""></span>
    
    <span><img src="{% static 'imagefolder/icons/icon (19).webp' %}" alt=""></span>
    
    <span><img src="" alt=""></span>
    </div>
    
    </div>
    <img src="icons/10117763.png" alt="" id="nextBtn_22">
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <script>
        var productImg = document.getElementById("productImg");
        var smallImg = document.getElementsByClassName("small-img");
    
        smallImg[0].onclick = function(){
            productImg.src = smallImg[0].src;
        }
        smallImg[1].onclick = function(){
            productImg.src = smallImg[1].src;
        }
        smallImg[2].onclick = function(){
            productImg.src = smallImg[2].src;
        }
        smallImg[3].onclick = function(){
            productImg.src = smallImg[3].src;
        }
    
    </script>
    <style>
        .shop-conten{
            width: 100%;
            display: flex;
            gap: 20px;
            justify-content: center;
        }

        .add-carts{
            background: var(--text-color);
            color: var(--bg-color);
            cursor: pointer;
            padding: 9px;
        }

        .col-2{
            color: white;
        }

    .row-2{
        display: flex;
    }

      

        Select{
            padding: 5px;
            margin-top: 20px;
            display: block;
        }

        .cart-quantitys{
            width: 50px;
            height: 35px;
            padding-left: 10px;
            font-size: 20px;
            margin-right: 10px;
            border: 1px solid #ff523b;
        }

        .cart-quantitys:focus{
            outline: none;
        }

        .ga{
            color: #ff523b;
            margin-left: 10px;
            cursor: none;
        }

        .small-img-row{
            display: flex;
            gap: 5px;
        }

        .smalls{
            padding: 0;
        }

        .smalls:hover{
            border: 2px solid brown;
        }

        .dis{
            width: 200px;
        }

       

    </style>
<div class="shop-conten">

    <div class="product-boxs">
        <img width='100%' height='330px' id="productImg" src="{{ ProductDetail.image.url }}"/>
<br>
<br>
        <div class="small-img-row">
            <div class="small-img-col">
                <img class="smalls" width='100%' height='100px' class="small-img" src="{{ ProductDetail.image1.url }}"/>
            </div>
            <div class="small-img-col">
                <img class="smalls" width='100%' height='100px' class="small-img" src="{{ ProductDetail.image2.url }}"/>
            </div>
            <div class="small-img-col">
                <img class="smalls" width='100%' height='100px' class="small-img" src="{{ ProductDetail.image3.url }}"/>
            </div>
            <div class="small-img-col">
                <img class="smalls" width='100%' height='100px' class="small-img" src="{{ ProductDetail.image4.url }}"/>
            </div>
        </div>
    </div>
    <div class='col-2'>
        <p>Home / Video</p>
        <h1>{{ ProductDetail.name }}</h1>
        <br>
        <h4 style="text-decoration:line-through"><b><del>$ {{ ProductDetail.cancel_price}}</del></b></h4>
        <h4>$ {{ ProductDetail.price }}</h4>
        <Select>
            <option value="">Timer</option>
            <option value="">Trailar</option>
            <option value="">Full Video</option>
            <option value="">Shot Video</option>
        </Select>
        <br>
        <input type="number" value="{{ ProductDetail.quantity}}" class="cart-quantitys" name="quantity">
        <a href="/add-cart/{{ ProductDetail.id}}"><button type="button" class="add-carts">Add Cart</button></a>
        <br>
        <br>
        <h3>Product Details <i class="fa fa-indent ga"></i></h3>
        <br>
        <p class="dis">{{ ProductDetail.description }}</p>
    </div>
</div>




<div class="shop container">
    <div class="row-2">
        <h2>Related </h2>
        <p style="color: white"><a href="/product_list">View More</a></p>
    </div>
</div>


<section class="shop container">
<div class="shop-content">
    
{% for data in relatedProduct %}
        <div class="product-box">
    <a href="/Product_Detail/{{ data.id }}">

            <img width="100%" height="200px" src="{{ data.image.url }}"/>
            <h2 style="color: black; " class="product-title">{{ data.name }}</h2>
            <p class="rate">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </p>
            <br>
            <a href="/add-favorite/{{ product.id}}"><i style="color: #ff523b; font-size: 20px" class="fa-solid fa-bookmark"></i></a>
    
            <div class="flex">
                <p class="description"><b>{{ data.date_added}}</b></p>
                <p style="text-decoration:line-through"><b><del>$ {{ data.cancel_price }}</del></b></p>
                <span class="price">$ {{ data.price }}</span>
            </div>
            <a href="/add-cart/{{ product.id }}"><button type="button" class="add-cart">Add Cart</button></a>
    </a>
        </div>
{% endfor %}
</div>
</section>
   <br>
   <br>
   <br>
   <br> 
</body>
</html>  
{% endblock %} 
