{% extends "app/layout.html" %}




{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{% if searched %}

 

     
    <section class="shop container">
        <div>
            <h1>You searched For... {{ searched }}</h1>
        </div>
        <br>
        <div class="shop-content">
           
         
        {% for product in products %}
             <div class="product-box">
           <a href="/Product_Detail/{{ product.id }}">
     
                 <img width="100%" height="200px" src="{{ product.image.url }}"/>
                 <h2 style="color: black; " class="product-title">{{ product.name }}</h2>
     
                 <p class="rate">
                     <i class="fa-solid fa-star"></i>
                     <i class="fa-solid fa-star"></i>
                     <i class="fa-solid fa-star"></i>
                     
                 </p>
                 <br>
                 <a href="/add-favorite/{{ product.id}}"><i style="color: #ff523b; font-size: 20px" class="fa-solid fa-bookmark"></i></a>
         
                 <div class="flex">
                     <p class="description"><b>{{ product.date_added}}</b></p>
                     <p style="text-decoration:line-through"><b><del>$ {{ product.cancel_price}}</del></b></p>
                     <span class="price">$ {{ product.price}}</span>
                 </div>
                 <a href="/add-cart/{{ product.id}}"><button type="button" class="add-cart">Add Cart</button></a>
           </a>
     
             </div>
        {% endfor %}
        </div>
        </section>

{% else %}
<div>
    <h1>Hey! You Forgot To Search For A Venue....</h1>
</div>
{% endif %}
{% endblock %}