<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="product-box">
        <img src="{% static 'imagefolder/hollywood/AAAABX9t-2Z6aezcJVeh42uBw6YxER24m2awAi4OHCHOHSjJW2Zwp6xDdAo2n1MrQyDM9bRcO5ZgSLx2j1DTpYgKUiVk6wMzewHvcrkwgo...irlM0Q_-sg.jpg' %}" width="100%" alt="" class="product-img">
        <h2 class="product-title">Homedddf</h2>
        <p class="rate">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
        </p>
        <br>
        <div class="flex"> 
            <p class="discount"><b><del>${{ }}</del></b></p>
            <span class="price">$486</span>
        </div>
         <button type="button" class="add-cart">Add to cart</button>
    </div>

</body>
</html>