{% extends 'layout.html' %}
{% load static %}

{% block title %}
    COMEDY
{% endblock %}


{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<style>
    .comery{
            color: white; 
            text-align: center;  
    }

    .comety{
        color: rgba(255, 255, 255, 0.479);   
        padding-left: 35px;
    }
</style>
<div class="comery">
    <h1>COMEDY MOVIES</h1>
</div>
<div class="comety">
    <h1>TV Comedies
        From offbeat sitcoms to critically-acclaimed series to buddy crime comedies, our collection of the best funny TV shows will keep you laughing.</h1>
</div>
<br>
<br>
<div>
    <h1 class="all_22">MY SERVICES</h1>
</div>

<br>
<div class="gallery-wrap_22">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_22">
    <div class="gallery_22">
    <div>
        <a href="#"><span><img src="{% static 'imagefolder/icons/icon (22).webp' %}" alt=""></span></a>

        <span><img src="{% static 'imagefolder/icons/icon (21).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (4).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (5).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (6).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (1).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (2).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (8).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (9).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (10).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (11).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (3).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (12).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (13).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (14).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (15).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (16).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (17).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (18).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (19).webp' %}" alt=""></span>

        <span><img src="" alt=""></span>
    </div>

</div>
<img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_22">

</div>
   <br>
   <br>
   <br>

<section class="nmtitle-section" id="section-more-titles">
        
    <div class="link-container">
        <a class="title-link" href="backend1-1.html">
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/comedy/AAAABZCbBDtQwqvHNdkhoItIolmkS6b3daxbBIBVd_FvDe_zsOVsLpJgCOJGIrVttLWEs7OHV6GH4Xw-rlF9a-Q6T8LxpBOk1EwsCqqpI6R47MrT8Fv8E4lbfn00T2qcaqT_MF0u.jpg' %}" alt="Army of Thieves" loading="lazy">
        </a>
        <a class="title-link" href="backend1-1.html" data-uia="title-link">
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/comedy/AAAABYs_G2VXY5ffR5utbHjZXl5MfuxewCuMLDf9TtX1xd1Mi7zwzFbVwOBBVkjrjPTRK2zjklBOm6JF3n4uLjoHkQkHGrdE8aZ8-K0.jpg' %}" alt="The Man from Toronto" loading="lazy">
        </a>
        <a class="title-link" href="backend1-1.html" data-uia="title-link">
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/comedy/AAAABY5jw00--K98xqb15tcTqs9ZefXf7Yx_s2VHgFEs-5VQirGfU3RxPKESm0A-AtJLH9Q70-r8I-3DXcHuNRzevbDWz3j0hITqo4PXvYH7NvpVcFY-mCaqjV7doGokNcSQECxq.jpg' %}" alt="The Man from Toronto" loading="lazy">
        </a>
        <a class="title-link" href="backend1-1.html" data-uia="title-link">
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/comedy/AAAABY02cQ-89bfZTChyYnZD4J72bpkR6ZBiFxiM3r1YTsKx75U8xRaXtP4o15n0I0T6RFQnppwlBKt8xQ8eUeWDCK-0PFI0-_YI1Ks.jpg' %}" loading="lazy">
        </a>
        <a class="title-link" href="backend1-1.html" data-uia="title-link">
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/comedy/AAAABXqP5w0gfYgEKCRkrP7NeW0qgn5hYQoNZhtE8kV4h10tgrA1_1MS-mnX4jNmeNFHXw0MzEbytHkk_pImBE-b1vtJhm5lC39EyxSSt2TEuGFMc_h0Z_tUlKWir2F55qizXbMb.jpg' %}" alt="Me Time" loading="lazy">
        </a>
        <a class="title-link" href="backend1-1.html" data-uia="title-link">
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/comedy/AAAABWOF5Z3XTLnCWy-9XQtQBY2QvEFCi8BEopwW8h5VksC6mj5wsA1zQzwpgtI99ByoVTSkl4RxRSvYHNeQn8YoeQ5JBTIB9kUXlK4.jpg' %}" alt="Sixty Minutes" loading="lazy">
        </a>
        <a class="title-link" href="backend1-1.html" data-uia="title-link">
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/comedy/AAAABWgY6JxY21IsRpc40k3LJnzhRYOFwvmupyeUvEYn3Ed7MFsZOO_twtuU7YGCHUTmKrca78hJMEKjhsnyuUwid4h1YD5J5vpEHaNk-eLdWBqCPkbS67ArpjxPW6jCxlB13tHi.jpg' %}" loading="lazy">
        </a>
        <a class="title-link" href="backend1-1.html" data-uia="title-link">
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/comedy/AAAABVjYgz3QlzXJg9ec8JKgiQRElj6cBH6HdER2Dh62AlL-uU-nk-6XUBS5up_FXZpi6KTdi9_OWzFfYqTIuCkH06eRP8YuVwkeYPc.jpg' %}" alt="Wingwomen" loading="lazy">
        </a>
        <a class="title-link" href="backend1-1.html" data-uia="title-link">
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/comedy/AAAABVAOrtTizwL3qgKmC70hzl8zlFaPVstsOIvK9ziw6mnaB7cYj82DDgUmn2hIW4RcgZ_IINsJkSAS773-b1DCiH6m8LcnV95Jc8cm2yJVLUxnOv-HK61bt1A7z2pdaUg0wwew.jpg' %}" alt="Ride Along 2" loading="lazy">
        </a>
        <a class="title-link" href="backend1-1.html" data-uia="title-link">
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/comedy/AAAABV8FqQMazO9TqI3zmVvRbLp9soktG-sTk9DStr5RrcuRmM7M3FqPIn7F_KHYLO42qr1d5TRSbBdm7bPg_YXd71hHWBBVmq2Z01Y.jpg' %}" alt="Beverly Hills Cop: Axel F" loading="lazy">
        </a>
        <a class="title-link" href="backend1-1.html" data-uia="title-link">
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/comedy/AAAABUEEve9pt74jESDgC9BX23ClD27UJVZhDFgc8BpOeUzid3RV4rzoWdPu9_mdXv0dM4tB0Yxg41Vtc0vyNA2zuQrlZBvAKt38FOs.jpg' %}" alt="The Equalizer 3" loading="lazy">
        </a>
        <a class="title-link" href="backend1-1.html" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/comedy/AAAABbhg0pd1lGvYn5lmEPbXol70eT0EeaBomYc8J9-978g1XX3EAAGcvpqh2s3Aj2XtipZr74UQ5QBab6KEv7i02KR-tcIztI-UkM5Z8ZHQjbwls71Xn-Ef0JvR_dUFOq9V60xt.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
    </div>
</section>
{% endblock %}