{% load static %}

<footer>
    <div class="footer-col">
        <h4>Top 5 movies</h4>
        <ul>
            <li><a href="/backend">Strong Girl</a></li>
            <li><a href="/backend">Anikulapo</a></li>
            <li><a href="/backend">Lift</a></li>
            <li><a href="/backend">Atlas</a></li>
            <li><a href="/backend">Trigger Warning</a></li>
        </ul>
    </div>
    <div class="footer-col">
        <h4>Next upcoming movies</h4>
        <ul>
            <li><a href="/backend">fallout</a></li>
            <li><a href="/backend">Shogun</a></li>
            <li><a href="/backend">Evil</a></li>
            <li><a href="/backend">Eric</a></li>
            <li><a href="/backend">Shōgun</a></li>
           
        </ul>
    </div>
   
    <div class="footer-col">
        <h4>Top 5 new on providers</h4>
        <ul>
            <li><a href="providers/nitflix.html">What's new on netflix</a></li>
            <li><a href="providers/amazon.html">What's new on Amazon Prime <br>video</a></li>
            <li><a href="#">What's new on Disney plus</a></li>
            <li><a href="#">What's new on Apple TV plus</a></li>
            <li><a href="#">What's new on Apple TV</a></li>
        </ul>
    </div>

    <div class="footer-col">
        <h4>Follow Us</h4>
        <ul>
            <li><a href="#"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a></li>
            <li><a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i> Twitter</a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
        </ul>
    </div>
    
  </footer>
  
  <hr>
  <style>
    .support_footer{
        width: 100%;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        color: white;
        background-color: #0a0a0c;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-around;
    }
    
    .pop a{
        color: rgba(78, 212, 221, 0.582);
    }
    
    
  </style>
  <nav class="support_footer">
    
    <div class="pop">
        <br>
        <p>© 2024 MOVIEgaiN -All external content remains the property or the rightful owner.<a href="/policy"> Privacy Policy </a>- <a href="/talent">Talent</a></p>
        <br>
      </div> 
  </nav>