<!DOCTYPE html>
{% extends "app/layout.html" %}
{% load static %}

{% block title%}
Action Page
{% endblock %}

{% block content%}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
    <h1 class="all_22">MY SERVICES</h1>
</div>

<br>
<div class="gallery-wrap_22">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_22">
    <div class="gallery_22">
    <div>
        <a href="#"><span><img src="{% static 'imagefolder/icons/icon (22).webp' %}" alt=""></span></a>

        <span><img src="{% static 'imagefolder/icons/icon (21).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (4).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (5).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (6).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (1).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (2).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (8).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (9).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (10).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (11).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (3).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (12).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (13).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (14).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (15).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (16).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (17).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (18).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (19).webp' %}" alt=""></span>

        <span><img src="" alt=""></span>
    </div>

</div>
<img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_22">

</div>
   <br>
   <br>
   <br>
        <section class="nmtitle-section" id="section-more-titles">
            <div class="link-container">
                <a class="title-link" href="{% url 'endd' %}" >
                    <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/action/rr.jpg' %}" alt="Anyone But You" loading="lazy">
                </a>
                <a class="title-link" href="{% url 'endd' %}" >
                    <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/action/AAAABeePx-4jJTty4LjM5NTqUsgmwr6i9YyhvNE5M9VzSgry3E5kZ3A8_893lrYyB3LhBXCQsK3coquBPphsIpTZbLsiA4MDgXiqI_T09hjIlfPD_IFPynLng9lABT7MRJ3c1TJ8.jpg' %}" alt="Anyone But You" loading="lazy">
                </a>
                <a class="title-link" href="{% url 'endd' %}" >
                    <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/action/ttttp.jpg' %}" alt="Anyone But You" loading="lazy">
                </a>
                <a class="title-link" href="{% url 'endd' %}" >
                    <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/action/AAAABZsrfXQHTHuqdt1Zd2QvP-JoE-C0EoTeHEZrSrhr3yXGGyBO7j1P9w8xPL8rZZjf4VSVbhzMxLBMTY1_IjIK3GSxzAwnhQ7cNp8.jpg' %}" alt="Anyone But You" loading="lazy">
                </a>
                <a class="title-link" href="{% url 'endd' %}" >
                    <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/action/AAAABZdHPS2MiOv6DkV0woo7neDwDhwaNlWOl-NzX4WKkYXF717f8SEtCeWATP7aiAQVDEs9wWYiIw_LromhHxKysIquZtd-nr8TRENAp8KHKVI6ur4nsro5Ttyqwa8w-pftZt_v.jpg' %}" alt="Anyone But You" loading="lazy">
                </a>
                <a class="title-link" href="{% url 'endd' %}" >
                    <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/action/AAAABZAWwZmFaEbO8hlHzj_97ozzDjt-iPIcobz3Ga7HzqRaAfhlKftGrv6p-fuOxZu8xnyyfpZnVjG_p5Q8rsmL7XOwSbxpcKk6kh0.jpg' %}" alt="Anyone But You" loading="lazy">
                </a>
                <a class="title-link" href="{% url 'endd' %}" >
                    <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/action/AAAABYCUnKbHq_vsVpHszs-2nyUsiK0-cMB95AvBH8nvjhlWgqUgnzs-rlguVoQHLNjj6SbSjmryxhPpGXE_022Ck100-aUCSYXe4yIIyIHWkqGHBFw854nc5X8ya5Ctcq3OsAjn.jpg' %}" alt="Anyone But You" loading="lazy">
                </a>
                <a class="title-link" href="{% url 'endd' %}" >
                    <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/action/AAAABXqj_DE4TcV2cz42MogDr1m-fx3Ic6352ceLrwplNmAcMqXQqjCKYs8E3xkIQhxB5J9v7oS0Ce2e33-OR8gz831TI7aMjaLL0V3ZEPbzMiQWqODcEcJWUJRR1zntJeeDomsZ.jpg' %}" alt="Anyone But You" loading="lazy">
                </a>
                <a class="title-link" href="{% url 'endd' %}" >
                    <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/action/AAAABW2DSO5-0ypjdWIsINoFIPPWJZc0DW2Kt8yGzS13DjoDFDoZw0P-HKkVSxAUK4Th8dFzzEIoZUUWB4NE3OFUmva3ajHxKShtdjQ.jpg' %}" alt="Anyone But You" loading="lazy">
                </a>
                <a class="title-link" href="{% url 'endd' %}" >
                    <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/action/AAAABVLwBeS48EQD9COV4BqoXbUod1xLfEnkn47PGZOglxc5QbZyK8yORUkkWnjuxUXoYRSSQwhxZfzqv9la52Z3fKxeozUy4rKAtkwtpKN7ocGbNHbsT9kOfxYCpkStfUMofPz6.jpg' %}" alt="Anyone But You" loading="lazy">
                </a>
                <a class="title-link" href="{% url 'endd' %}" >
                    <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/action/AAAABV4ClGyzOk9iluFmW0yc-Aj03KCzwenQ2fFcwVrYm3XcwoK5r79qlq9v9-8GLfinZ5qVi8ckuINSbCRCtZbr9ox96zvG4PbZXM0kAW3d2lBJSggXtNK3h5RJ1YgKSyRo1h1A.jpg' %}" alt="Anyone But You" loading="lazy">
                </a>
                <a class="title-link" href="{% url 'endd' %}" >
                    <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/action/AAAABUAEMBJ8shgzBV4a4ncfmeXXHOWrNAiT62tZK4jzNDWdGdhCeMPicQ3hKayqsOoW13ckNJdM6bQIF41a6JU4uERNyJeeNGmOZTI.jpg' %}" alt="Anyone But You" loading="lazy">
                </a>
                <a class="title-link" href="{% url 'endd' %}" >
                    <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/action/AAAABToODT-QinLX4y9dZgsoQNkTTIOsDOj5cZdEUqz8S5zbN6xXGym3-sOk0f2Q2D94YC0.jpg' %}" alt="Anyone But You" loading="lazy">
                </a>
                <a class="title-link" href="{% url 'endd' %}" >
                    <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/action/AAAABTIuUb96QeFEiwQmAspgjC1RBvq4Tk3EDLcJqnlg4Q4zKRyxFrK7Bty3iJ1u5pXjysd8pc2QUCOS6Na9cpqj_cPfVfTIBOSD1SU.jpg' %}" alt="Anyone But You" loading="lazy">
                </a>
                <a class="title-link" href="{% url 'endd' %}" >
                    <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/action/AAAABSU4gY4r3SL4M76fnGatqYU_DFiDDbnnjqFQ7X0i2gPK-5kCDuMKeaY4JTESE8R04KrP2DbLhTDePN1Egmgp6gLYoEzfRmXfhDI.jpg' %}" alt="Anyone But You" loading="lazy">
                </a>
                <a class="title-link" href="{% url 'endd' %}" >
                    <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/action/AAAABSouXCufsyrqXyhqAUilSSDeMRWnQmWmI6uvQilei4gt7q9QUSebJDYPgy4vRZORcGRjd5NsU0Fi8H3wVURKAvGNt0SPw0tXpJgOrp04nYAGelCkuGTsjbR3eedWlreRDRr_.jpg' %}" alt="Anyone But You" loading="lazy">
                </a>
                <a class="title-link" href="{% url 'endd' %}" >
                    <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/action/AAAABSKzopzG7S_snwHBvieWYCQmDB-LYlPS4BxOPZurMcswHmUI9_A_BAE4ARBlFhEZRkJqtaNH9DqkkHFqed8Mt0HJWHfXRyyg280.jpg' %}" alt="Anyone But You" loading="lazy">
                </a>
                <a class="title-link" href="{% url 'endd' %}" >
                    <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/action/AAAABSIgkq4qLcfKikyMaPJQagYFBgE9oMlVQDiYf7I7JlHSsdHaokAa0mPz5EkJoGWZcCYvPbG2dHvretGo39XVLB1ufPTO69oTGh8.jpg' %}" alt="Anyone But You" loading="lazy">
                </a>
                <a class="title-link" href="{% url 'endd' %}" >
                    <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/action/AAAABSDI0m1TYX5r9A_l7YHifuGUHOEiIpArZJl7ir8_RJ9DSc0zmyQVaiZAVOK2cEQKnSFEKFVbeatprTDhi5Nq2v9PiFxe8erZ_SU.jpg' %}" alt="Anyone But You" loading="lazy">
                </a>
                <a class="title-link" href="{% url 'endd' %}" >
                    <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/action/AAAABRv6VEBjK7LP9w1piEbnELJyQNQ8XjkBJCK8-h9mPn9PB6gGbp2MJawGtM_lsgrwBUKaLILms-SlVlBtnxK4dSQuBi5W_FlRRBM.jpg' %}" alt="Anyone But You" loading="lazy">
                </a>
                <a class="title-link" href="{% url 'endd' %}" >
                    <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/action/AAAABRP1uDCwAWlclJOGwENPIK7-OSnGBlQhRFy1p_t-c5F0F6ToInIn1Mjxp0yzdNVVvrremP9HlBVJguaBBweTy8pPhqu-Oct0AME.jpg' %}" alt="Anyone But You" loading="lazy">
                </a>
                <a class="title-link" href="{% url 'endd' %}" >
                    <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/action/AAAABRLerDN15vt6YlKtXPifk_SnJRyMTdPktYSLVVGpDDXAK3Nu4CNVszg-B0JGxnEqFcbKxHjhp_32i-dYYVzqbvMCIUwSyvdd5pg.jpg' %}" alt="Anyone But You" loading="lazy">
                </a>
                <a class="title-link" href="{% url 'endd' %}" >
                    <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/action/AAAABQS3FULhFe5dBumipSSjUTmULkzAosMPct5v6GSHI5nH2G2Hwv63lboF4_VTWNGAgFCnBVLrs-df0BwanMzHAgvGPdIXsUpnw9U.jpg' %}" alt="Anyone But You" loading="lazy">
                </a>
                <a class="title-link" href="{% url 'endd' %}" >
                    <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/action/AAAABQkNFJm-KNGSpgE_Uo9zWkbq_GnJb_C1egKJaABbtqvfHdIpYSi_HSVRgtDseZ9haxCzrgOSqpjdeaw4nwJnpqnVzpa8aJ4QPiE.jpg' %}" alt="Anyone But You" loading="lazy">
                </a>
                <a class="title-link" href="{% url 'endd' %}" >
                    <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/action/AAAABQesYif4jGvkm0mKn_pzP2SsSAkvtu2r2R2qIMSXBquUEROgCVn7gejnN5aiC7uOVK2bkFUYbR7yaUj0NZBhT-1VPC8Er0eIz4w.jpg' %}" alt="Anyone But You" loading="lazy">
                </a>
                <a class="title-link" href="{% url 'endd' %}" >
                    <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/action/AAAABQCHGYiFWGxj6sKovfRs3EUSDCW_esJJPjPHcFrgDiAKziIfIzd-dQ4gR-BN_h4hDy1m5gzk7_dPRG1N3bpM9FyszpRDNKws866gwNxvii_BEVTsvOyToogxj33mBWbX0_oN.jpg' %}" alt="Anyone But You" loading="lazy">
                </a>
                <a class="title-link" href="{% url 'endd' %}" >
                    <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/action/AAAABQA3MCIuLp-QoAhId7KtX-rmistAB6wmrVhYrUXeJhG2ZZFE2u3MmbJQDE_t6z1CncLT9nYy2IEZEDfWTB9ihckWGvMvvDSagjY.jpg' %}" alt="Anyone But You" loading="lazy">
                </a>
                <a class="title-link" href="{% url 'endd' %}" >
                    <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/action/AAAABQ7MSp8Bc9SKbnwbqNAMr3FALjmkHUMSWhLq_AqE_SwpubtcO0f2yBNABTI2UPb_uH_SSL9ZDANqEgCy0FXv3wSrsTHxy3yN6ZXb29mxbIWGLdpy7eI6o9AwqwHIXpa6zdIZ.jpg' %}" alt="Anyone But You" loading="lazy">
                </a>
                <a class="title-link" href="{% url 'endd' %}" >
                    <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/action/AAAABQ3Hbw12cLCoAgjwY9peCCUzpnQ3nxYVz1iyuCR1CySRrdnrKczO-HlQvATUeuj8XVE6pF5AVy0cRU_nqLK1w6rRmJJmVbcRKQg.jpg' %}" alt="Anyone But You" loading="lazy">
                </a>
                <a class="title-link" href="{% url 'endd' %}" >
                    <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/action/AAAABf5JGgD0SD3F_uHP7nGNnHkc-fgltc0IYBaIj3IEoltGQ5dnW8SqIxy3zTv05pKZRLNLmJgaNGEGE4KWRu2PSEH3H7XWpeb19VHa8d-k015cjtujAkMZz9B20sdOkj_IjeS6.jpg' %}" alt="Anyone But You" loading="lazy">
                </a>
            </div>
        </section>
{% endblock %}
    
    
    