<!DOCTYPE html>
{% extends "app/layout.html" %}
{% load static %}

{% block title%}
{% endblock%}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
    <h1 class="all_22">MY SERVICES</h1>
</div>

<br>
<div class="gallery-wrap_22">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_22">
    <div class="gallery_22">
    <div>
        <a href="#"><span><img src="{% static 'imagefolder/icons/icon (22).webp' %}" alt=""></span></a>

        <span><img src="{% static 'imagefolder/icons/icon (21).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (4).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (5).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (6).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (1).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (2).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (8).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (9).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (10).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (11).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (3).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (12).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (13).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (14).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (15).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (16).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (17).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (18).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (19).webp' %}" alt=""></span>

        <span><img src="" alt=""></span>
    </div>

</div>
<img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_22">

</div>
   <br>
   <br>
   <br>
    <section class="nmtitle-section" id="section-more-titles">
        <div class="link-container">
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="crime/AAAABZMDHmngwsrO8XzrA2qejYCQAkFPynOv6piUjNOoBNn7Sa_TxKDsNoDoSLuilc259onT3NPzryWGjbLwrz__5fuDlNIZ6lWQjOIplbkUq5edP21o7OdOrOBMP5feFv44l8rI.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="crime/AAAABZ43-lwFvHBbfFX78XaDijSbA_7YichKqyASbbSp4zaxyhhGwrcKH9uYXmXMOYgUyFNTUpl5ek7nfcTjN50Rh2R61wljS-vhmqXNABqGLtCdc70zTMEOT-IOP9BlWht-KxED.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="crime/AAAABYf8Zc0t9yZEmuUxg0wFIKVTpGUYspQkuoRbCl7W1WIh1XKhKrolqHNylkxweR_H-BLVtPxPA1urmSa4EJhc_lMSkzI85l_c_C8.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="crime/AAAABYdpEnAm2HOCswTmwL1noyhJitg4h4P0DASjV1qw1Y_-gktCosICMyl5Ag-uCWm82SzbN5LulDYsg2T7SXbtNfcLvLM1FHwMNtU.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="crime/AAAABY09xiyzWIT0-tX6luVPJQRr6HCMBzoEFzZDWqQU-eyR60aae959FUdbaPLgBHn1rzDDMyfvPdjoiDuXG1TOSZp9vte4hw8keRw.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="crime/AAAABXlGLHE9vcWsUKmeYDeWiMOa7Zg6Xh2qNUFoz7tUpOec5JybvMB1VfOnFd_TKQigBTMleLTWIbHR-bmg-R4gj5j_jHc-Oytldi4.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="crime/AAAABXCEDSvAd-kzi1W4RLVepNAWOGLJ19tOz7VeAD-VpBRphdv5wbTMnAYfIxS034cFWIyOS4FjBG_8w5YvPDozWR5STYloY-GXcFE.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="crime/AAAABXAenFWE6LRkRuSDCHM9Ofaya0dDa2LrSdjOxtnyg2N5l32ebvPS-nJYNULS7O16nWx3CD2Lgi35GMt-B_jvfLSyLLG5XE9RTPE.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="crime/AAAABX9TlRYhdQ7hSFJbbm-henPc1eqAR4ckyociGj868gq3PLfK3B5nChpr4aBrGJQkIyWXqvHZ2dE12z2obKTuB_WXQ3A2TR9PSmA.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="crime/AAAABWzTNmtSXD7Ni17Eib2Xd4McX6BWqo14mQB5gNwAx1AnLOd28wqo_WcGhP-HjQQaWFm-sU178M1f6IhgS6z9Ys9KMH8H9L5V07Y.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="crime/AAAABWxWkIfOzoop3Mu4woMY-FnTO2t6NZ-LKHFDZlKbHQ9nR-wES5Xe_lUrZlfwubOIKd_qamffxQfkwqSInPFWiZVylast2GJqpxUunn0QJSrPgpfp0eN3Hi2J30n9scJRG90L.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="crime/AAAABWo1bqFEym2F1Omlx2qYfxpG1C123XrUFrnfyzV8j2zbPMWqHyAIX0ewla8GmvsuJuGh0hlUrOWpl1vv0mc5XWjEgNbm3StB7yY.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="crime/AAAABWJo-j2jPgau2UnCcY_r9edgH20VueHHMVJxn4vbWyR2-hiIJYBP8aY84ubUvfbilBHwrRx7u7KNVvpZbFYUmaHGa4uPM0WAyaE.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="crime/AAAABVdwnTZCL3qcNIPAOD7LuuBSXqhRkoleaBdsEFbEcv4Kd8cdl52E2XHq7kDOOzv6c5OEcQ6gY90gg38f21Vjqxl07K8k_aquefE.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="crime/AAAABVBmyoTIvME0hx8tqlQay_7R6LsjQW1Mr_G78PqiRjSX3Sb0qEEqB8dtNcxVgYWrVAI1zLUNsBa3yn9q8tN7cKZx6LdE2D2ynwXdbSOBRmaiULFd2nR640mFOgvFEFSf_d9H.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="crime/AAAABV4TYXx9z3N0gHbScLpUcX8fk7jZDH6e5wap-niVQcITJebPCUhc9ZL-EoBEHxBYjn6Io59rRAby0I81YmyNJrQ1RaqF7E0G3qw.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="crime/AAAABTs5yu6ZAXjcGrenLkvY2rDrLHwc6PnvpvuZmXBU9nB71ZKXqLirFwv3MZpkigo0MQAEw4F1W9fCUuPaeGN-VsFYQbMYBXTLSedsAKVSYtzt8GMKBfiMFgarotRCAOZyiAu7.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="crime/AAAABSTylKmRKrH97NvGQnyBh8nnR5b1x6qRbykHb5aiKsy5rTEOHy5c0H0hynnK9M6HL1LoSRiIx5J5TrOZXWTutU5qUJPS6q_OUcI.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="crime/AAAABSb5DOHruewOYb1uYUIByi67_tPnDtEIdzoD6C3yTiAni_TeY0AM0ovrW9yQRodCO9MTTUNxmUHobWp1VCDZrmqSUTsv_MZuSjg.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="crime/AAAABS8mDVYCfAlzSMa1FnQVChpbao0PebIhX70UY0yeDNGiF5HGQ_M0fgJc8R-KSKlx00K9efTaZvT9tuQK1n935Gz7MCmp0w40gt4tK1moZNAEeNoIazLbeA5B4_MH8_1jkfEC.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="crime/AAAABS0sCme506QNH1NtVp8A5XL5SpzlIznUo0m3kHN8oie4SpxkNHp25kORO1vMPS8AH_fvjIhiRRsQBdNMUlClp9XB6nnfZUWxvUE.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="crime/AAAABR6rGAVk5s5Zov3eeFak_aQ0jJGeHr8_KthTLfEXLAy8q0iZ2PUVHWQaNGKDA4MGx8fCAcV8ja812BB2k80J0bwZzNavTVYMNtg.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="crime/AAAABQk33CjNhvJIzRNBwOnjrWqgSGUxR_9Zhdmd_vAeDmyXizwUcPr1MFljQZK0CArnyb-Dr_reb2KigqduJUZ9fQldglX9MzsWz4k.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="crime/AAAABfssaSzgdNgToMYeQa3IWq1mG_pDEnJj2upvHJE_mMM5wb2hxO4QRuexjp6Y3FTUJyeyBSxjtDen7R6bo5cNbPnH3rGmd43hPY6aYhY-so5GrVfqm953DYxa7bmB9p20aOpp.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="crime/AAAABfNHQDKxJLpG4D1JsB740YdDyPSwjzT6q-zBux7nmDM-EjznI2dWHR_X-insb_LCrrJOZba5VH-Buv-_e07omAYXvcRsCr-Lo0s.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="crime/AAAABem9KYbEDabDwc__FSaQoLUViSqCtz2hzh8bUXBFzgtbY6nFeAwgFjVviUaAedG02CsJT4_35PWciTCwOzlbW0uYWmCretn7jBQQ9vgLKWMJM2cXW0JG0PL9ldDHN_KK2ZwJ.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="crime/AAAABdQG3-L347irMnm5g79joqyTSPDobFAILRTHCA1ejg7KXuP4TEHel0bvx_WQbk7fkAEzU03xTuFWXfQpkEqUkjrrHjiIi4yaZm0.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="crime/AAAABdolQQQNehFSUzOLQnrrtn793TI4E9nYcgTntQ866v8Oxmh3_MGfqEQCMUnZEa7OQIhahS-y-3DVXx3oNs59VZ2Ng-OGTgsibtnAI3z3_NCH8tMZBlOQheoQF6VziaOqtssZ.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="crime/AAAABd1WPpo3wHOF_J7fT7MWyoBGmkGQ-cbYgVx7BhImXhEJbywAnp3f1xfSst3RxFgRwsVrV6qxEo-EMpJTEY-fQp34MQb3VzR6BQk.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="crime/AAAABcI-a9xD0ctNxf3HjqW7VGaBPegutqtgQpPTzhrufJkTdNIuVStFxvsC0i1s-_CYnrz1_yM2z1-VI4acH1-JRcJbuuLrMH6uI6Q.jpg" alt="Anyone But You" loading="lazy">
            </a>
           

            
        </div>
    </section>
{% endblock %}