<!DOCTYPE html>
{% extends "app/layout.html" %}
{% load static %}

{% block title%}
{% endblock%}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
    <h1 class="all_22">MY SERVICES</h1>
</div>

<br>
<div class="gallery-wrap_22">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_22">
    <div class="gallery_22">
    <div>
        <a href="#"><span><img src="{% static 'imagefolder/icons/icon (22).webp' %}" alt=""></span></a>

        <span><img src="{% static 'imagefolder/icons/icon (21).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (4).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (5).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (6).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (1).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (2).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (8).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (9).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (10).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (11).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (3).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (12).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (13).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (14).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (15).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (16).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (17).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (18).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (19).webp' %}" alt=""></span>

        <span><img src="" alt=""></span>
    </div>

</div>
<img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_22">

</div>
   <br>
   <br>
   <br>

    <section class="nmtitle-section" id="section-more-titles">
        <div class="link-container">
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="docummentary/AAAABZMZGNer0QfaQows-uZNMUHq3DWKx4W04SBQRtrAbmmMkNFYN4Vg3FiHyrqmXC_mZC7E5dKWgmHN8S0E9tnaQBn9nNL8Ib9Z7OPOOzB2Vzym420uh5bIcTY0-nXKyaPzLVsb.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="docummentary/AAAABZIL6uUkxSo7Xq8HZgjqBGSGHawum44VqxuF8wk30CV_gJ098pbaBjiah6TqdFhf-kHw75JBjWI_IRAx7a6R3mLCDRqsXUUhMRw.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="docummentary/AAAABZgdj_HPnksaqtLKJL7isQW0Kt3BFFoI2jPZiDQn43K-jMjffoOyToI3jkIq0E7-eTofwhnBC4UiPRkeG8FJcA4qJJk9c0q66144jxDwxbxOuyxyhh12KiRqckB-FfP_KFhj.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="docummentary/AAAABYyCsKa025wXVylLU2KjPsH_H5p588dCpsfaeINSqLgjMUqjRMNWyKD0rjePLHOPZPMMOzcDfpUDHM9eVWEIuCbCOylHiS0AyVFMz53gzZV1RLqtUyt3Wa9yVFYHsfMZOgiM.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="docummentary/AAAABYjvc1QPtYu3zCMDDqCWZja7nlMrLUGEhgPOknCppNmASaugzPA0JSZ0ienQPBhaNrEsiWG4gdvMjHxOKgo0pvdTcMbok05dX3Dx51mrSl0ZBjhG5waIR-wrrOuq0o9922Ba.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="docummentary/AAAABYGgvyXpzpPZJvUUBo-nMtcjqTb6mtDbQc0FVCK3PK-oPPn68IinVYvBLblFBLjLkcwKNrdiynq2estqqNVHuJqTchg0G6UyMYGU5CI6sLAl1TlKfYEpoiqudsFRWWN5TYpN.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="docummentary/AAAABYbBc8i9jtmA3alm4n-ElMcJ2YjCRS5F_Z9RaZTfvGBs6hBs0SKwpNm1U22KlVoa_VkFHn9VQ0ONgl0DUDvsvoNjZGjNS3KQh-sfwduXxzuouOmNrE7FIBhn3eLdtwq3xpEN.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="docummentary/AAAABY5t621aIx3vY7vBdOXmMvtHvfXjmD9CEPhjRcWI7uTpgCuqSLTJBH8RlDdOfD2H8RXN0UAaW89oDnjeS620i6ibIzPjGmRor-Tdt1I8VCAqSIkehvkMMUChsqRsQteOWPAb.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="docummentary/AAAABXmHBf-s1UoaQd1jgJXsYz7m5lKnR7c2uDKbbRPenmElIQBmgvjyyTo2YHSMAHya-jrQ8NAafbcbb3ZhcLSBIOBteE8wXOeBOEj75i2I1Ei_3smkw95y4dR9frnGF15jljYQ.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="docummentary/AAAABXIrnPepKtPaKzwOOJckBbGL-7sI8uvA3CphIiQvWKKWcGX6uRVdFVl2_dbhRS-wE6D6Zh5WOwn_xOPfUg6802mDjXsgVKHmeE3qcLGI2wRwSHn4muhE3GBYf5DOrc-5c-Vm.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="docummentary/AAAABXBHrvj0GP1dIbhlubX1nmuNZzOOZUXl1mjMYWhfgE83okua5G2EDa8cq4spfnvW2ELpKxOvcwCwcSsy-eMia9EEwrjWYiUMxySQ2lcg6Bz5Lj5l5O-7GtNxfSnnFxKlVfth.jpg " alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="docummentary/AAAABX9VRSH4KvKjHz_AP-Rd8M4emHV83TgtaztmNVKs3nnjOcfK0oFMAnY9O3HaE3XUz4cjzyBKSl_Cia7VrcaLs9XcRXVHvRCjzLZrI-Wy8G0Z2fQ-UQhMV-oyriW91LnogSch.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="docummentary/AAAABX6fQr8iiW5XoSt75nNrEJrsmsuOA6o98Pzp0Ykl71lIuS9QjnRkTPGFYm0nzvEwyB-b93LnxUGFCeUQY0BKLMSOYJODzl3WcU0tYhK3Rz8eV0Q2H0Md03DloiI7VBraiwOO.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="docummentary/AAAABW5P29RPWmZO0r5IHz8vyb1vXwP0te8UaEeFRCmYYJVqQA4xmJne0mGgHolQu1av6r8XZv48ARla0qiSOAQjGc4G8Ox4L1t562wqKNgQjAOdmk7XF-J1ezNW9ydK7W3dfkLA.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="docummentary/AAAABVZ1XuWLT9aQ-Ygi2gppYPHwbMTMAA5IUR5w1rNd8_6eT1kd9F1F0qpwMiZ028QQxXXVHEnvuvmh7HZ4eH5TxJFO8hTmIjwdPiB0Fe6bYJRn8EATygbsfoIUmz7y1IIKkhIf.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="docummentary/AAAABVyl8aDwW33UAWgNWFdUJbTouelzJ8MNZItI4hD_v6lzhM5jPDnUxGXnvQPoMrB-0z_rRMxjtEVDYmHiI6cSzraGfGuYCh_rJjffA5tPPAb3kDUMXUopG73SDk_oa1y7LuQY.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="docummentary/AAAABVUlIlRadQj9m7dT-Mi1p65FYZorPEvTp8doWoJRlURkVZjpiy9O9YzHCbdZNC8XvHPJ-RcLcURUSRil8w6wOGkpC-8pC_zWxbKfESs1hvXv9B4D99QdyXGdItabgOrGN1NF.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="docummentary/AAAABVH84LLSKiNLgLaxwCReNfbsgE6wqG8NsaSZ8qUHLtk3eVcxOqjtGUeMRROZBEgyBE-i0AlW4zgSHrCUoxq6AuWFCYy-4-7JDIJCOxSQg_nWd9YJ8pobU5nGQt_EQZCs-lsb.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="docummentary/AAAABUU_EnRSx29bjGQaIjcA6jf-I3cDswUNvizY7iUUxNbBOFJSUtk6Ftc9YA0DhoE97DoC3BHCZ4DK4K_aeCYAMC8N7MKWhm5VxLiDhQ3fmQgEsLnIiXoQuJJUYs79G1micUaV.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="docummentary/AAAABUlJw1mCWK2E69SbFlO8qeuGYlG_XombcYnqv7EAusxUz3K491S0Z_wzxfbJyEPcrZd1xvlI8oz74ASU8N_Vdv1k6OxjbPqSlL3AmVu1xbau5rHZtR5z9NimrLv1grRbo0s6.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="docummentary/AAAABTkvQh3T7TimqY4GoLUAvqvVJ2RYoiUfh1h_Ks3VPSVexR-bEc5btbBTZ7u_6Id6f2xKZH4Zj7-Zh9UI4wZhQs9R0QHVktKF6p55qeqtWoZI5FrOn2NXJTln3n7a5Xs-JzVC.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="docummentary/AAAABT3Tf4n_sFbPxHFfEXvh6GwqQSMWsAOdMq5gxoxbnGxdoOzkKsZ-4SyafEN-PWWG_XxZF4avveLRqiKk_L3sR-D5qqd6I6dMA2eSwLzUi3Xu1lmh5d7SjgNx4Q2pp0iSDbGG.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="docummentary/AAAABSWkzc95zJGEuaBSKL0szO1KIgRG-Ee9nlXKJl6UGrnsUi7XnoxpbTtaA1t0gLo3j0nUpDoJX-Rc_vj0QaHKlQAslVqwtAytpYnIhxK4IPOMB_0lQZl97TSkPG8_ulO_cYIy.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="docummentary/AAAABQYy58P6Dg46IIleH7Bj9zxy8h3by1ANl1Z1oVGLT0vpjHctU1ocgVnG6hvIo1e46gxEjhdRn858EynzokJwlXyeVwT73lj6jR7idqy_RLvn3QIK3B5T8UYBIWdnqzM8k5BI.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="docummentary/AAAABQWdSrcbwwZO4nTkGTiVilNtc_X-i7BCaMYX1F9eIyM1RjBc36nZIBAbEfDc9IULXW8_pKwIgmjhQNS9qqQmPomaukjXMbY5zNQdkqpmuUzvNBbtKakPHD2OE2qMiX-s_lCj.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="docummentary/AAAABQSPYWm_1fpZefN_84lqZ5010MVlJu_LdZ5frXNEMfUf1gfDrVvcbv_K1182uKbXSHZ0fRfR-iAZZWW9yoY9wWHsqlxmBl3_ybmZc0BkhHp6JtzDAHi77CbDumD22W6MyBmH.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="docummentary/AAAABQNKvsGK0H19HC7uYcrmOBITHalwXjkxZ2S5WUt63ANQs2Rga_8Za43coDnhRDTbbolA6UcS03zNpql5uHOrrP95mVVvmQcj_IQHg-G5ikFoq1soGzuMx82SKyDOruvQmXcO.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="docummentary/AAAABQg-9irI9u4DID3sDwtp_pDoBKS2b_3m4gg-_t8Qcxw1prO_0m5qWc3dxjGla2Vq521rpUfR-R9M8YLpM0ef1wUfLQ_GH8Oli1p-QUZ7MHuLmBVTcjpKqH7Z9Q3C2HZQZ3Un.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="docummentary/AAAABQ_PdLTMxQvxmMJ2STXIjJ3_HCiZQw7ktAzsn5uX6RYNZy7WWncnedXIQ3gjAS6Dxn78c3_9iwRZl9SiNOl2TCA8dZIwMU5YkIm7Ei4ZSNN0PBsWtsxnjFFz48MyfEenEwVR.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="docummentary/AAAABfT5HMRIvzLVKDfs5J-GtpV--7hnW9IeNNN5WAXmfPZ8hHEDgBuooNb-clUB0dExp15poeQCN9T23qaSg5JCMcVkXDi5YqwLt6l1L7kixjp_afZNlh3iE-IlCszmxpkiScXd.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="docummentary/AAAABe3VuG6cq6Kh2wzM7mwGJ26-B3cnBo_iJRk5QHPsThyqJr_30kJlLAxcChchfgGP5U68fh9tgcZsJS3DD7KpNO9q6bXPTsi0IZx7BhIAE8KNIf6FZFFb608uW2WoEmum_My7.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="docummentary/AAAABdSKmdLolSrkZNzVIbniOx5TYaglH962TnHVsE5qbKDuH5iCIKxGswz3qfC0XQ9n8Vgq4MmkJn1bXJn_mcPp2jx9vqZYWkYGTT8.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="docummentary/AAAABda_kIMClaJY3A-q5SCOAT27pXJRA9JILTWq03B9rzJsYeKl1QGqLZU3lpY81KHmA0wWN1b6kJpy_QeF9Tyg28bmeE46jSg-vgpEPLdjGPty7jjWJec_Qx8KpeeNUpmNyTbR.jpg" alt="Anyone But You" loading="lazy">
            </a>
        </div>
    </section>
{% endblock %}