<!DOCTYPE html>
{% extends "app/layout.html" %}
{% load static %}

{% block title%}
{% endblock%}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
    <h1 class="all_22">MY SERVICES</h1>
</div>

<br>
<div class="gallery-wrap_22">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_22">
    <div class="gallery_22">
    <div>
        <a href="#"><span><img src="{% static 'imagefolder/icons/icon (22).webp' %}" alt=""></span></a>

        <span><img src="{% static 'imagefolder/icons/icon (21).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (4).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (5).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (6).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (1).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (2).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (8).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (9).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (10).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (11).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (3).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (12).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (13).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (14).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (15).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (16).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (17).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (18).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (19).webp' %}" alt=""></span>

        <span><img src="" alt=""></span>
    </div>

</div>
<img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_22">

</div>
   <br>
   <br>
   <br>

    
    <section class="nmtitle-section" id="section-more-titles">
        <div class="link-container">
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="drama/AAAABZQ67XkitB3BC6HZNzLR6PFpGu8RqcGwSJxPte_yFcUKQ5oUgXsqeVjpsJ6XZMDgPn8VKNQyzigoEZ2PFBLQ54JdAiDEOrJTpBQ.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="drama/AAAABZNgauKsHLV6ctijUhORZKYeKfPDMrTtSDpPcpkMSGRkNQ91qboUSQHI2v9PT4j57ZEq9cWJpW3UBpFJHNzCJOV3du_CcH2Jqu3PzR...ErnUzRkNadvp2sMppC5kS.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="drama/AAAABZI0fuVsRQRu9PgOI5NoZ3a-fo8AsDrAKH1TwVXWesXtCBqQp9aDUyRhouQBf97kNoUm6kMnHKfeJQDIV7ty6pebnY_dvfQ7Zh4.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="drama/AAAABZdHPS2MiOv6DkV0woo7neDwDhwaNlWOl-NzX4WKkYXF717f8SEtCeWATP7aiAQVDEs9wWYiIw_LromhHxKysIquZtd-nr8TRENAp8KHKVI6ur4nsro5Ttyqwa8w-pftZt_v.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="drama/AAAABZcyMJPfDka6mPsmifGMgDDLRLFwU8lqj2EmbQoLaFyXJIrhE7bzY2_6l-UuBZkjVNrPO9c-Ee9ljrqvgZuQlErM0-s2N5lcuHE.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="drama/AAAABZ_rblqcHBS4lWmBXoMr-JRL6-oiSRFQ6E7MK-fjDNzHYvnqMFBZ3HRAmWVbMGxQtZtegrI-3qLlGyBKggmn-ES-lwULU9Qao1M.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="drama/AAAABYxxlBh-_rL4UWa_AzmjOM6IYkifEjuNjAjllHA_wmyCVVdLIHhxi7uGwmnrpwA37SYH0XWf9bGYuTdNpaUKfvWnlaPUkZ4vRvc.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="drama/AAAABXpq8vyi-uI2_1-yu1shlAfAocJUJZ7EUyN01j79pSRhjC_JAqQnmMztqTe8D-BkBHJBg9101c2-IDbNYnfC1_pJXVCBC6Loq_YtSL...9VYv0-4zDyJmNKJnoS7TLKV.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="drama/AAAABWJmdlD_BSqU9a0Opv6Kl--KsuOscNNk4BX1FY0co4k9vOpVh9ZRDpq-xHg9qNd7dpGoFzyKj8CPGXw3vyhDCcIoNInVZhmsujhm9MztBhJ3KBH51gphMoqfinuNjVMrCPST.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="drama/AAAABVMuOeffao2SMnMITMjPrN4F9o6Iv6kCoqTidYDk7AiZQ7jOxvOh1GRA19I-BzpeWRhHoy3DpRQFYN45D5AQi4AFsERksS9fhQo.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="drama/AAAABVlpKs-Z12lRRC9J1Kc-Ux9Ew3D9vy3t8BnuL1REkqo2N6WyaG9U28CoxswfMrCJ9dp2caVyxdG3NQfF3v3Pgt2lzBBmbPmzPVukwrYu0c2qq5KSSyLK4k3OCppD8w9fzF7N.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="drama/AAAABVjYgz3QlzXJg9ec8JKgiQRElj6cBH6HdER2Dh62AlL-uU-nk-6XUBS5up_FXZpi6KTdi9_OWzFfYqTIuCkH06eRP8YuVwkeYPc.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="drama/AAAABVcmYPvysWqkvhKqNfk0yhubbCBWEF3zVC7kaNX13GZJUExhg10DVySZc5TzO_jo7-gJYJ7BJ7Df7UPi9nb5BqfhOXLtsM9LGRE.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="drama/AAAABV8FqQMazO9TqI3zmVvRbLp9soktG-sTk9DStr5RrcuRmM7M3FqPIn7F_KHYLO42qr1d5TRSbBdm7bPg_YXd71hHWBBVmq2Z01Y.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="drama/AAAABUVNlK1gGovkKUulg5mYLdjESuyXCF5IDOlG9o0sfpMjVbfhpg_ruf3o_UzG6vW_DHQ5h1W_fK3vuGPsmJOuoOHJinNukvQmp1c.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="drama/AAAABUM1WDRTRH-bcv968h8HkTS2Us1M-l_QYI7txhFX-hcpyIbVws3anHe-Tv3aseXn7D_fdJzk1gomYaVCjSesVhP-W_51iPXPhnvflrwqcY1Zvsy2MqrFaF4Lhoo7Q8KikJHg.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="drama/AAAABTpaCW3SgNIJBrjdEhArCClO4gnJ2wYHKHyZiufzv5gsuI1W-gPCbuUivjeEUqZ_sIIVpYza066oZdWHlgTMUVNgOtJXHUFAIZvJMg4LqRj80WsJmq8dIcRNFAPKQQaL1-ks.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="drama/AAAABTLLZshDCu_SQGB0VS5_DXEeqPiRCX5153UZtTkO2ySJpR-7Y_pCb3bXBIKh_DzrHatt0XzGFVpqXdyzavGDKMXnoLjsc4OVlwuKz_44R3KWtrh4DLi6rRrG20wblpoKopzA.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="drama/AAAABSydUg1kD7TG6PyfUY0xlV35U7PggZo3hU5eRD0eG1TBGQC5Ywy9tRVRtYAlvJ_wJrFHkZx5dqLlIosEcG1qLCzXwAeUQgpwSEM.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="drama/AAAABS9KnvG30OuZXNBsgXXS-ntwuqnphnBI4lIOe24FaQvKXiETDk68z2_j__FSG0hOd-NizI733u01RuUeMDvtB5dcmNeSypVAjxPOwEKr8gWs0u0ST53bqhbGjCqrI5YFiKKH.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="drama/AAAABRQCKR8X6kl9RHMf1xypWlFfd97s_yQ7P6pmT0LFd3_aIqTpXyKXCBxET07kPXusoO-0Nd6oxSgzvxu9zTMEpSRtAqY4kycbVQb3Wz0fbC0aC51syRmIGWylAVQSYUwsYKFd.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="drama/AAAABQKaJAHUcsvTz8AHtzBif50bhl9zEhdpqRsspOkNlGkwUWYi2Ejgs_z4BWRKVs-It5-Hji82WoS8Diz4sRaL5UUJlsZqjMNSq_8VPw-7yfWXVIB5X7WujywTlSjl4ohRCUSt.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="drama/AAAABQn39PYF6lvF5nsoicd5tfRLOBl7COJ5UXGd3ntT0dN4mDF3DjiYE_0ESWa1dfd-hoPOWqVmY0V5ALKW7viXATeCmFnQinpNJ8aIRoRcbFqr6XtACORolS6-VTafhO8e4d87.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="drama/AAAABQiSNPRghMTkvvxkj8dIe66nGbRlTUCJYTwIaL3Ne4pFaSXDLipfGUyWEqgem8gVfIxnksw5KNNsvFm-HX7W-A3YPTY3ij-oTaU.jpg" alt="Anyone But You" loading="lazy">
            </a>


            
        </div>
    </section>
{% endblock %}