<!DOCTYPE html>
{% extends "app/layout.html" %}
{% load static %}

{% block title%}
{% endblock%}


{% block content%}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
    <h1 class="all_22">MY SERVICES</h1>
</div>

<br>
<div class="gallery-wrap_22">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_22">
    <div class="gallery_22">
    <div>
        <a href="#"><span><img src="{% static 'imagefolder/icons/icon (22).webp' %}" alt=""></span></a>

        <span><img src="{% static 'imagefolder/icons/icon (21).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (4).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (5).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (6).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (1).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (2).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (8).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (9).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (10).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (11).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (3).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (12).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (13).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (14).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (15).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (16).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (17).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (18).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (19).webp' %}" alt=""></span>

        <span><img src="" alt=""></span>
    </div>

</div>
<img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_22">

</div>
   <br>
   <br>
   <br>

    <section class="nmtitle-section" id="section-more-titles">
        <div class="link-container">
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/hollywood/AAAABZtR4IqcuF1roAANAr6KmLaTIJv3xLEWne2jo8r8hsmuq1ZPl_MXz7pJsIdOqv6j0QUdQ9RYAvZWt-PQy-FCsBKbeI-CvGG6X7w.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/hollywood/AAAABZdHPS2MiOv6DkV0woo7neDwDhwaNlWOl-NzX4WKkYXF717f8SEtCeWATP7aiAQVDEs9wWYiIw_LromhHxKysIquZtd-nr8TRENAp8KHKVI6ur4nsro5Ttyqwa8w-pftZt_v.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/hollywood/AAAABZ_rblqcHBS4lWmBXoMr-JRL6-oiSRFQ6E7MK-fjDNzHYvnqMFBZ3HRAmWVbMGxQtZtegrI-3qLlGyBKggmn-ES-lwULU9Qao1M.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/hollywood/AAAABYqz3t2hDX3sdHHVt3Rfp-r5PfXmfLgQcuEk5E3Hg30K0fj-dYRIO0oGcH-Vun_oX3Q8gCnO84BwaFrVtOxeuw57IUZGRnE0ANgTlDfaUYL4c57kkGIcTwvwz3KMrUwg9T5L.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/hollywood/AAAABYdpEnAm2HOCswTmwL1noyhJitg4h4P0DASjV1qw1Y_-gktCosICMyl5Ag-uCWm82SzbN5LulDYsg2T7SXbtNfcLvLM1FHwMNtU.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/hollywood/AAAABYCUnKbHq_vsVpHszs-2nyUsiK0-cMB95AvBH8nvjhlWgqUgnzs-rlguVoQHLNjj6SbSjmryxhPpGXE_022Ck100-aUCSYXe4yIIyIHWkqGHBFw854nc5X8ya5Ctcq3OsAjn.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/hollywood/AAAABXqj_DE4TcV2cz42MogDr1m-fx3Ic6352ceLrwplNmAcMqXQqjCKYs8E3xkIQhxB5J9v7oS0Ce2e33-OR8gz831TI7aMjaLL0V3ZEPbzMiQWqODcEcJWUJRR1zntJeeDomsZ.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/hollywood/AAAABXJUb00I9MIQTqqMy_sD4MJLInFIOUjQreYgdAmp7RrVr1Y4f-kWeIuzB1TQ8MeT_QdSywwQWX_BZyxVMgqWirIR8QeALYqE7es.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/hollywood/AAAABX9t-2Z6aezcJVeh42uBw6YxER24m2awAi4OHCHOHSjJW2Zwp6xDdAo2n1MrQyDM9bRcO5ZgSLx2j1DTpYgKUiVk6wMzewHvcrkwgo...irlM0Q_-sg.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/hollywood/AAAABWwI2JZDvbe_ix--7CJhUquWDym0eCufPkNPB6uHuIVN5ATjANzqT-BAuXa09eUfStvjQFGFM8QqpDs9rg1wskdXoPzjYxSyA6-10YwLgGEEhOosklKB42_K4IoJOYYFjXFk.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/hollywood/AAAABWNnUFCJ_VfJJsOgkwM4GoDHO2-EDDnljnGCW7wgvbpbtNc-hzCH56SdAU6hlSjgIDiUjDYzMdQU0ZMb1N3WeLvyfCsj1VPLvps.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/hollywood/AAAABVnJm4-QkEVJ0ITpheOWl30YGdm4STPbANxZIEFSb4I32-IxZk3CMGeEoaG7eDM4Ur7GpXMsvxwG3FFB1pGOF7YzkXmFRefMAmDro.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/hollywood/AAAABVlpKs-Z12lRRC9J1Kc-Ux9Ew3D9vy3t8BnuL1REkqo2N6WyaG9U28CoxswfMrCJ9dp2caVyxdG3NQfF3v3Pgt2lzBBmbPmzPVukwrYu0c2qq5KSSyLK4k3OCppD8w9fzF7N.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/hollywood/AAAABV4ClGyzOk9iluFmW0yc-Aj03KCzwenQ2fFcwVrYm3XcwoK5r79qlq9v9-8GLfinZ5qVi8ckuINSbCRCtZbr9ox96zvG4PbZXM0kAW3d2lBJSggXtNK3h5RJ1YgKSyRo1h1A.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/hollywood/AAAABUZvQWDX7YcyJ8ZVTmdQ81rPozIH10kzO506ARnH6oaYM6UDorT76SAe_NDtHWrd-68jZn2kketSEZ1POs5MoO6_hus2N15nEmQ.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/hollywood/AAAABUYo7EKZfx7V9QT9r2Fc0B55LiavaXX84hcVMfsq5isxlBFJMNVp7dTFTc3tvv8Z0WFf5lu7IgwY7wIX8sr-8AjTK_XHO_CpZM4.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/hollywood/AAAABUM1WDRTRH-bcv968h8HkTS2Us1M-l_QYI7txhFX-hcpyIbVws3anHe-Tv3aseXn7D_fdJzk1gomYaVCjSesVhP-W_51iPXPhnvflrwqcY1Zvsy2MqrFaF4Lhoo7Q8KikJHg.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/hollywood/AAAABSBFE3bEG-D2pRk8ZzZjBjcCG9ahEJihPMG-UL0ulqm3uQbgJ3sl-3QE3uoNCYQSuJPfE1EeJAWwbD-0DOXtl4GC6Nq54e8sTeg.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/hollywood/AAAABS9KnvG30OuZXNBsgXXS-ntwuqnphnBI4lIOe24FaQvKXiETDk68z2_j__FSG0hOd-NizI733u01RuUeMDvtB5dcmNeSypVAjxPOwEKr8gWs0u0ST53bqhbGjCqrI5YFiKKH.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/hollywood/AAAABS8ZAydpnDcqqEzWAkf_FedGhDynbBpCFeRTYI0IoTlRhdfFfDBL10cQlC3Y60E3ZltLby0kAvgcreksxMT9KpilQZjD6qW6acQ.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/hollywood/AAAABS6cyVwWxuAa0K2ih_VgxN3fsq0TJPZhqMR9SM5E3y1ow_6_Qg3e7LiFreLr-PAWDMp3m_gkfvZn3INymE_RtJO5.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            
        </div>
    </section>
{% endblock %}