<!DOCTYPE html>
{% extends "app/layout.html" %}
{% load static %}

{% block title%}
{% endblock%}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
    <h1 class="all_22">MY SERVICES</h1>
</div>

<br>
<div class="gallery-wrap_22">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_22">
    <div class="gallery_22">
    <div>
        <a href="#"><span><img src="{% static 'imagefolder/icons/icon (22).webp' %}" alt=""></span></a>

        <span><img src="{% static 'imagefolder/icons/icon (21).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (4).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (5).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (6).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (1).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (2).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (8).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (9).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (10).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (11).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (3).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (12).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (13).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (14).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (15).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (16).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (17).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (18).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (19).webp' %}" alt=""></span>

        <span><img src="" alt=""></span>
    </div>

</div>
<img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_22">

</div>
   <br>
   <br>
   <br>

    <br>
    
    <section class="nmtitle-section" id="section-more-titles">
        <div class="link-container">
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="horror/AAAABZrRsw85ERKdLj2Qnw7Tu2hR4tFh5g1JxsNMgI_WG0sQsbgEVPNLN_E5gErWTrRA5Nvswpo3k5zYE5kPNXIMgL6rlfqJOa77afw.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="horror/AAAABZNnk2UeVz8UdAyArcGlOWiwUVCX2GdTzFQ4OkcMHgio9RRT-6HvvLlYldQpCH5j4awYh6MfzsEjzXY1Aqu4fuXQ6lB8UeS9518.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="horror/AAAABYVpucOOnzlM8eaqgUlqlJ-zVk7femODDHg2LGysph_CZk-_hCWRA1KayBMK-WR6W3MRSVGQ5ZMRFlRG8JGg4b_V5q-TUEAPkWo.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="horror/AAAABYKj9w1XLde9s3wLPLjEGSsmiaXOlT4JVmeyh-tnCfqhvJR6ZdUIpxvgURIuASyJLAs8nlm_mvnk5Ft4KKJMArVH4IG3x1K_tlPXiK2cjdpAv8nM09br93L76fRdgVh2qIf1.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="horror/AAAABYDtN8g3vxLde3SB6DQz1S3qsJFOvbYKbhugAReNWl5iwOW_zNXZQHnDZ5BowkyMyTHrVIdnCIGjzi6EF-SXGpwUWIpgLTHNw2Q.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="horror/AAAABY59ZbNxPh6PKeUXNTSXROSp0rb-IjAmpUHq88asUys4PeX5MRTyDev5czlVHugayRVghrOW0f-78TBWNSqmRGHzGOpD5Ti7xi8.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="horror/AAAABXqP5w0gfYgEKCRkrP7NeW0qgn5hYQoNZhtE8kV4h10tgrA1_1MS-mnX4jNmeNFHXw0MzEbytHkk_pImBE-b1vtJhm5lC39EyxSSt2TEuGFMc_h0Z_tUlKWir2F55qizXbMb.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="horror/AAAABWmgSlgdu-KRvUNaDnqHNqvAZzSpgR70zj2MCD3Lkb5a-nng-TnKt73JUadrvs7_Dk3FGtvHee8GxFQZSWhLwkaCFqBRDKjIlVQ.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="horror/AAAABWIibSIslLUAwkDNSSFcywezRqP1Y-6TunVK5rm_9J3PHHX9Z2f1oMbbWJjuu6OXgU38jthCjU81_OmYBld4JjYNRrlXaQbE10I.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="horror/AAAABVJuehpJSOAMsgyrTID2m6AHcQa-q5u1u_r9HvBEVNalE--W2j869771fnswhyF7oSMsisup23NZPBmzkuux1dm89sKEF8ym4f8.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="horror/AAAABV904cxK3SK072xOoQAHXF3u9EPXirSr4n-W8E9Rx8XIfXIYoRApm0gm1NOvge6AQ5PKHZDvi8MWIzM2fx_W8Bd5I-HMOLY4f10.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="horror/AAAABUSEShA9Qtoi29tiV6SgK4bgdgC7apDrIo7mPYAYXPEAkZOf_dBUcqL56otc4oCJImJTQ7XWHcNMSz88vaZEZGZaImRHGFv5-CI.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="horror/AAAABUqG5pclgwsK8nScGwTlQjLVx07StD1t1ETk9g-XB1uH9PE2ju6Vni42KwA5CMjhMOJTUvBUT2ME_9INC1ZkmogwiA3jgrI2uU0.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="horror/AAAABUnMs0Ym7vnv_2PuPZfa1Y6t5-YKG3eZb6v9MOVqouLp7AprFk-v71jTKP4vpPJWTuwSP0-jrdWlGYm9dc1EOrfD29V7yn9fc6A.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="horror/AAAABUEZ-GOnw30tvDnZvCdSdgc3H2XkBgzYlRxvsRPaCFTEzsGnri5tCNBOy-7mGXHO9EHTxuuioxl-7gZRXqPER0izo5PtJ6gFePs.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="horror/AAAABUdPQyCjgqa7GL0vX5t1TLna9E-3q4DwmC7JM9hZCtm0q2hIVb989lSovw4cRd5QHBt1O1Mt_WZoPRpFUtQi-tL4bODqZ57IEJw.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="horror/AAAABU1vRUnz0MQCq_RAfW946bvYBAEG1a_tQ0JFoZ75WtP10HF3nKUzNPHQnRFLV9I26MflM5_2aEClobjVFel5ttpriV0lU8pdJSs.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="horror/AAAABU-DGlE1-Kee6jT-02uq2_CFwJMrVqa4IoFF7ILPG2RAiOQimfDC_Fk1fxqmtBTo5HIQrCbUOL3EX5_7SVNSOTM64jSlKPvZiK0.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="horror/AAAABTOY4EQoORZz4Y2v-cRinwqTV721JROvfW1wbnLBhQXxWkLlRuTIHPheEC_l9sdxR4DCc-HiISUfNOMV4MrXIvT6Rdkp9G1z1R7mWv0qKqsYNuCBK-rCwfkZ2u12mjS2EuSp.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="horror/AAAABToe_qthoDuumBbGvfS0G5LxbetSaSkeaF_dVMRbxLNcvm8x5pNxW0KnyfEvmCFbSPgDI9MwOQk0p5ug-fKOlfNInlTn8D3jxpk.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="horror/AAAABSJjCkpWm7emrOrPDLE4DBDBMZqo3MIMo7mYm8_JmHgzSI9ANpbMHuDsWbkRptzM2KtEjHjI234VWuD5Jza9TK-YgMmUg7GyGn3h3Bp8UOFuyVw1GuwUahwfXJCjwhQLU27N.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="horror/AAAABSEzUcK3_3I_zkuXHJGNlC5NsQOB4Ah6ZA5HBZeugRm9efxy2ApoMIphFF0eQMYHC81Z7-NC-JnVC3KFW-lnXnLbw4k9lHNkOEI.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="horror/AAAABS6H5LwieMBxg4u5AuZedxh36nRS_QcjkdWcUa0YWpIAjrMIdO_nPOKVckCLUWRzoW5ym9wbQwT49PU3zAFch6XKPwgC03wYxfO01UQCZkXmpf0oalwpsK6gtniEYejtm8zu.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="horror/AAAABS1vLeukuDbXa2K4ICegLNjJa_lXDOrhmuCD5H5CEaEp9NEHXSyom0xInEYODphdvfKeaVAsFw7VafH_3eq--shJNoUB2tcnGpor_2uf3CF-aINgswS4iL-o4LbCKg4deny1.jpg" alt="Anyone But You" loading="lazy">
            </a>

            
        </div>
    </section>
{% endblock %}
