<!DOCTYPE html>
{% extends "app/layout.html" %}
{% load static %}

{% block title%}
{% endblock%}

{% block content%}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
    <h1 class="all_22">MY SERVICES</h1>
</div>

<br>
<div class="gallery-wrap_22">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_22">
    <div class="gallery_22">
    <div>
        <a href="#"><span><img src="{% static 'imagefolder/icons/icon (22).webp' %}" alt=""></span></a>

        <span><img src="{% static 'imagefolder/icons/icon (21).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (4).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (5).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (6).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (1).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (2).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (8).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (9).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (10).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (11).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (3).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (12).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (13).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (14).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (15).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (16).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (17).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (18).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (19).webp' %}" alt=""></span>

        <span><img src="" alt=""></span>
    </div>

</div>
<img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_22">

</div>
   <br>
   <br>
   <br>

    
    <section class="nmtitle-section" id="section-more-titles">
        <div class="link-container">
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/kid&family/AAAABYZBFA7KLWbuNKLCa86wyR_Oh6BGTbxgy5DcRp48yjoRsm9NOb8yU61PKnpMIecgiUGZoeMtMoNYN1anq4ZQ9ZcdSZOMcJjeX3zBxiF-BKOlkcV6q0OeqFu72LieY5GmjNKS.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/kid&family/AAAABYnIkF2Dq60B4K4G_ovW-ne92rUrqx6b1_Uootyk0NZKe_ydaIr8hh08DRMAOl9iMZCYTZ-GM4YoFiRX58DO73V9ZagSjupexn4fm4MJcSqnoLLwhMq1Rj2MHwipeIZfC1yR.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/kid&family/AAAABXtdREb5BWashbjuqWR3_sBtmYoWgqw-62ynDKSaSSAg-9LU3S6X6sG4Oee-yDPb8IYyEibJopRPrUBjn2OWDmHypB3RbSPlP3I0wgbRqXtJFx8BJUbbEV0GhDB6lPoJrGL2.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/kid&family/AAAABWxuHNHy_Uxi2rJ403glrbhO7-TBfkCtgN2QkVUtQAjql6yyqVZKC2ys8if5f5SQly9hVWz6nUu6l-Z7.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/kid&family/AAAABW6aFpItQb_bKpE2PH3tCibUQmJZtbB3nDPRXn_XwHAExP5mrESpDwiuisM0_gUMT7ww2SIaXrFMBkzAYkS6P3DT-2ZMw6sgOPFqgc9G1n0fEpEig76S83lRmxI7-KpaG6z6.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/kid&family/AAAABVRuwgg4Ttath4pES05i98OwFHZPwCi-0iBfzdelIcKz70hu2D_sX7E2SYlzBP9L2grO2j7ZsEDqFUD07r741z-hw_1n5wEFJI0.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/kid&family/AAAABUxDaCs1zsnf2q6ATnz5As3TMv371RSUAT54RR9-y0p701T3gLmuJqxFEkTOn-hcWbJNHIfDNaNccjcG7NEgpnze98D7hpLJ5eY.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/kid&family/AAAABUnV90AOvg3qBLP0hsrDm-GGmQglYqLWjhbPQYoH7ekRTVhZuhC_m-PrtxVvK-7XBY39oiDdcR4_FX-03N3UM6plCnBnqoYbO3FNofwMJnXRagmIfvSPaW7tk1GhhaoNRv37.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/kid&family/AAAABUkd9aoFXd4cgX9gitzcG66VgJQkmYVcanocblmnbc7rsDPNzi9z144g_o2_qWK2P697uP8nOxnr8NVL8FfMxpSV84KI9KtkVoUPNL...uWtmyF80UA.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/kid&family/AAAABUgSwqGUbMZ1iAvVDZtdK1Ultl3dN52Bhl0cE26cH_NRlrJ1Cg0NYNsddlssWDXqdx_7YZY4Af2_u31sm62JOgTWI9viz9Hvlkg.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/kid&family/AAAABUCqbR47Pp3SQp0qbo-MeRacJ2qNFGO7mpzwzXv6OtW_xVasz1N9s30fYQvfoxJkABsVD-jcLUrvD6mjDnvImNjVh_NsK7wU7qg.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/kid&family/AAAABUAEMBJ8shgzBV4a4ncfmeXXHOWrNAiT62tZK4jzNDWdGdhCeMPicQ3hKayqsOoW13ckNJdM6bQIF41a6JU4uERNyJeeNGmOZTI.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/kid&family/AAAABU7UsG2PrypBqHuU-m6VPecU1UaJHKC3tN1JJdlcvJrYnYFp7sV5lJlzsoDIrMmX7kHDHOmdcz2tQfj2qI9DJhkrH8WrlaW4_2CLvX.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/kid&family/AAAABTw4B-bi4rykBWQFROLEiJqLA9IDCHOQOz-gyJXcgC1z-mdvqzOUvDcnzxnM8JJ5IHgSWO6mHh2aeqySi64ZECOEfrfcx40Vjns.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/kid&family/AAAABTujKASPUICTnr3MxUlOONni2o2ZszLU1jXT3vQ1dVjDLWNR6TBeTeb48sopDJSD3ad0X-1E18AZWiq4yd5VrHtazDlTw1HkZkeSdpziJF_8NcQpF5HRpW6GM5zdMn8ZZnc6.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/kid&family/AAAABTmMUAzE_7XOkZXvbCmhwEFWjbw4NWE3ynMHOOOXYJi_AnZqwN0b-G9nW42iiQe_Nmo9aOvLwjjJq80wLBlOGfWX-kUhGwGucwLUT65gdEy0iIEcrWBajDEAwEW7TO77doe3.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/kid&family/AAAABTjxTE-r5WY9lRiYl42LJVJqhjpb8LfcxvtgbR0CIFyFlPp9A1uY-fVeoyckI0KqqwgllVy6C-wnxt9mfBNYPoKFFcVJeEwijLk.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/kid&family/AAAABSt5WgkPrZ_uFFk-k3crsD6ZJM7DV6PGf1HwGG8GjE3zd-rER5lR9uAyHuixoA9y6MFSyFjg4-gi4LISFJgFy2ltfPJxtCjxVE0.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/kid&family/AAAABSMyBJ-q43W29ZAIVDQ-ltJvn4MIUT8lWs9cCsxMb2lBbvBCfIvlRMgZuyNSaIG8269ZtewmqJcXhc.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/kid&family/AAAABS9xeXcmEbX_pn2TXTKMDhY-O9miKSnaC2IFTy8TfJN9_59L7zLK87BNhfNYdoMNh7hxR94eQxlX5TAcMx98GY7fe5wzmJklSWIWJ5HQ35TRDESdxwFWqt6YGdQf6-y6ozmR.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/kid&family/AAAABRW-chxqBcwzlWXTA58xyevUrOSISvlBxOhru7iZ1nNW2QX18GsDOIrtOYygy1YJ2QjkXJi_4WmHizrbHU2A2xB_OFned8_AJWjE0f5Rf-_5YH6g1SX1lzhMjr-aOmPUPdqG.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            
        </div>
    </section>
{% endblock %}