<!DOCTYPE html>
{% extends "app/layout.html" %}
{% load static %}

{% block title%}
{% endblock%}


{% block content%}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
    <h1 class="all_22">MY SERVICES</h1>
</div>

<br>
<div class="gallery-wrap_22">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_22">
    <div class="gallery_22">
    <div>
        <a href="#"><span><img src="{% static 'imagefolder/icons/icon (22).webp' %}" alt=""></span></a>

        <span><img src="{% static 'imagefolder/icons/icon (21).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (4).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (5).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (6).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (1).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (2).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (8).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (9).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (10).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (11).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (3).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (12).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (13).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (14).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (15).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (16).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (17).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (18).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (19).webp' %}" alt=""></span>

        <span><img src="" alt=""></span>
    </div>

</div>
<img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_22">

</div>
   <br>
   <br>
   <br>

    
    <section class="nmtitle-section" id="section-more-titles">
        <div class="link-container">
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/recommended/AAAABZeWOplAsF8ZJaIoBFG-KLVPYQyx69zS_bLJwlaJAMqxOP7v7ikBGhvbd2h65rVikjTskaW0e7Nkrj_yloASlPSQNVkoDCFz5dZPY5bYtWeUZZU-tQMcZlnbW4FEkCOdwGsD.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABfF1-hbqWVwKzAoUKyV88KPNabiy8sH5HsdxpdxSmICl3iMii02b7agick-qR6nN9Bi69cizD4pB9-iPqGnXBY_LvTjWcZa7I7GRK4QwBkngSR9vl_TJtJhf8-bLT3XZJcXu.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/recommended/AAAABXGG3xcDTd7Zfr5eCyQvYGOaeQA2jAjxMcuQApUjBGxHlWlgh2p605TkTUfmP8xLfRk7TeJUhOKTuePQvmwJL__ttf4WGN7ry_Y.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>

            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/recommended/AAAABXe4xrcREox6jrus-BfPziVRkbOLOwI4DMau9YCBkf48Vx2VTeMCjV2fowZ2BI7bcUf-1XqpOS9RBW3XFCv6Iq7f2L6gfRBeBao.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/recommended/AAAABX9t-2Z6aezcJVeh42uBw6YxER24m2awAi4OHCHOHSjJW2Zwp6xDdAo2n1MrQyDM9bRcO5ZgSLx2j1DTpYgKUiVk6wM.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/recommended/AAAABWNnUFCJ_VfJJsOgkwM4GoDHO2-EDDnljnGCW7wgvbpbtNc-hzCH56SdAU6hlSjgIDiUjDYzMdQU0ZMb1N3WeLvyfCsj1VPLvps.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/recommended/AAAABUxIE7Mtj8xsLxkP7lNbrl0cQhaqQgnP5OC9VzzB7z7A-a-D0fVJXbpXmL67IgSLlyubvdhwfEMV9okCM8soLLeh9CBPYxcOClM.jpg' %} " alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/recommended/AAAABT2MZuIEQ31IdjHuMh2tOCktLknUJbPCjCIdHjHbPHsgLI4xA8FDg1_o481tPW-lFlWs611Ph8iU6dqcUAc8yu_WMjNt28_fSwxLzh9maSeG7oDPhfbhNBn0UpaAJ3BtiKMZ.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/recommended/AAAABSz3bbnmgH367lqdffTfW4A_rhxalOIxkk03thIcp08FuoDa-Ze8PkV5J__r8l7iYpF5XVP36c5FE6INdl9VswnJIo9Ivje_BPc.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/recommended/AAAABSPZQbZWoYHUA6zSIkuQ3Ue4e-xaJ3tj6lXMyZNhuIjW-Uir3To6ERloFzurlJLg7g1_TVlBOu-y6WenCjfJAyB9cwaQjNFQ88I.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/recommended/AAAABSIgkq4qLcfKikyMaPJQagYFBgE9oMlVQDiYf7I7JlHSsdHaokAa0mPz5EkJoGWZcCYvPbG2dHvretGo39XVLB1ufPTO69oTGh8.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/recommended/AAAABSdZOh7OKmwoL_9YxRjPhzK-OYjiYTICSJaeaqcc_ZUjVvuuGlhM0OUErIQWuAzSbtmxtmbb4VZ41usMwZqSHoupdpEMZ27bB6jV7s2FTNTA-jDKGfpvRZJSurLqOEDtbd4M.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/recommended/AAAABS8ZAydpnDcqqEzWAkf_FedGhDynbBpCFeRTYI0IoTlRhdfFfDBL10cQlC3Y60E3ZltLby0kAvgcreksxMT9KpilQZjD6qW6acQ.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/recommended/AAAABRZmrl5DbPugYhT602raVAeRs6ch4mAra3rdiTCGbWbIshtogORV2aXzqyLX1jAjxlDN2RpomWLMbP4eFObEP6BYvfXjfdeshOQI-pdWzXCnWkKc43iOccTZJ17CEUYhWXmg.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/recommended/AAAABRJm1FqANJg_nfAj1Pcumimv55wFKcgw8VssUrK1R3IvWuhA57Fjz4CdRO37fxIWmz09rL6MPUaV163SiDn0Q7njxIE2_CrVFD6Vm5C4Aek0iKto8zL1U2pxqQm4kyGzaD5J.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
        </div>
    </section>
<br>

{% endblock %}