<!DOCTYPE html>
{% extends "app/layout.html" %}
{% load static %}

{% block title%}
{% endblock%}

{% block content%}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
    <h1 class="all_22">MY SERVICES</h1>
</div>

<br>
<div class="gallery-wrap_22">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_22">
    <div class="gallery_22">
    <div>
        <a href="#"><span><img src="{% static 'imagefolder/icons/icon (22).webp' %}" alt=""></span></a>

        <span><img src="{% static 'imagefolder/icons/icon (21).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (4).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (5).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (6).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (1).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (2).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (8).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (9).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (10).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (11).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (3).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (12).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (13).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (14).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (15).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (16).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (17).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (18).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (19).webp' %}" alt=""></span>

        <span><img src="" alt=""></span>
    </div>

</div>
<img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_22">

</div>
   <br>
   <br>
   <br>

    
    <section class="nmtitle-section" id="section-more-titles">
        <div class="link-container">
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="romantic/AAAABZrRCQKpmX0rCvudddek5bzwK44yKgqLMLjmftDJcVDB_SqGKDU0vm7VwHQvke1-Y2tlWboTY48GZ07Y2DWop4Zr8_bG5rjJTek.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/romantic/AAAABZQ67XkitB3BC6HZNzLR6PFpGu8RqcGwSJxPte_yFcUKQ5oUgXsqeVjpsJ6XZMDgPn8VKNQyzigoEZ2PFBLQ54JdAiDEOrJTpBQ.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/romantic/AAAABZKekXPKLLZhp7f3DsxKWpt4UxSZWxbx3NSNTcMqNaj9loYk5TddiKGnx8QiKKeFqPM8QZNG104DX_GMts_VssbbN94agBfqXorK7EchH9WSwj9Mdgcj5KiAoqnrBYekIpYt.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/romantic/AAAABZcyMJPfDka6mPsmifGMgDDLRLFwU8lqj2EmbQoLaFyXJIrhE7bzY2_6l-UuBZkjVNrPO9c-Ee9ljrqvgZuQlErM0-s2N5lcuHE.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/romantic/AAAABYuv274y-htBcYcMckdneyWUXYUSRO4PCBkVx-HDplCV0RfXnKmDOUBfPm-6R_Goaf_tHTXzV1XZHRYYD2pLSQZ8vz3mCZ1_E38.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/romantic/AAAABYkz5qxfMlBVBOV2pIkmkwvn5a67OjYakSBLBUYIH8x-NKLawFp2oho37bY_Ss5spW8UhYqeQRiM-EK7Zv5kfKw6LkAUGwEggDQsu2q5eaM5oJQv25mThSsnrSPhvpIkvPHQ.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/romantic/AAAABYJXeME2O0ASlcETxLOxB9C2ZNe3WTGmEX4xl3-TcVvqEpSA87NY4-QkMCHpc35yfH84TFxUwL2vLedxGRaJ3rZydU1Esb0WzeI.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/romantic/AAAABXuFhsLXgOsNVwReTTJOK8pnM_8aMjwHEUVfwbXEGXf9z-KbHo5RC3PfiSR-ut7W7QJQlPPea7WEpVGp1nmzldbsjiEztD8Xlxc.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/romantic/AAAABXqZupbUb_YNZ9GOGQWEvkVIvvupPTg79tbnyP9OZFtvhhhXIGyh93bOHIqlMmBXTwKW4xYV5rcR32TPSYLxtpkBIObZSDV6J8R8Q5...Ogkz_LiKbBe8xM81za5ZNN-3vLILETQweXW.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/romantic/AAAABXA-2xbttvzFOWAaydxewdFYZVBF0oUzSC5Y8Xn9fKS_EyU3XmFQCFav4-dMqXi_HNtPn6vCJu3RM2LvS-IYxmNugHGPUVBdnug.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/romantic/AAAABX83zlm85X-Q5M3PjpnpaQmI2G2QdHBLLSJQt4egHADgyBmujRa4gLL2NTrvXeE-3r7kt13cuAK6rOD7jmQU9hqWKW89SMssNCE.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/romantic/AAAABX_MY99ryNFn4vq5OtXsbVbIdEAacevo6sVarhhhVlt0EK11CfNPTbjLSgk6epyIJgsq9WrxeQRpe_6fcRYc3ySOHQ9miG3USCI.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/romantic/AAAABWKwVJ8Er30o9L1r87RSQaH8v6SfK2bgPIoq8vwtPAalpCry983JNo_GY-WYy2ZInCyECno-ORZW_ygyUPHt-YP7Sxgckas73ViSeOyimrjZR1jLSf3eGBmXAo5g6fOF83te.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/romantic/AAAABWIleSJuxV__doMbU7sHFFNBIEQUrrgIoa00aU56jc3gIG1flJlBjDmj9Ie9kARr2Cda5ZZrDCNx5g_itiavg2Qlk7zF3VX8RemSMxkykNIJbNv27Hb2y9-0ycX-v0Y1M4uz.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/romantic/AAAABWdKwbNXKVJAp2mfSLmzDB3ktS12w61hts2QtZun32IdTsvxLPw_BAV84x5V4bwZapbPiMdlRFLjfk87mNa-A9woMCfqXq-gd_s0tILDpsr7TcnesSOhFqYmbSz8Bdrvs4oJ.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/romantic/AAAABVMuOeffao2SMnMITMjPrN4F9o6Iv6kCoqTidYDk7AiZQ7jOxvOh1GRA19I-BzpeWRhHoy3DpRQFYN45D5AQi4AFsERksS9fhQo.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/romantic/AAAABUnV90AOvg3qBLP0hsrDm-GGmQglYqLWjhbPQYoH7ekRTVhZuhC_m-PrtxVvK-7XBY39oiDdcR4_FX-03N3UM6plCnBnqoYbO3FNofwMJnXRagmIfvSPaW7tk1GhhaoNRv37.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/romantic/AAAABUM1WDRTRH-bcv968h8HkTS2Us1M-l_QYI7txhFX-hcpyIbVws3anHe-Tv3aseXn7D_fdJzk1gomYaVCjSesVhP-W_51iPXPhnvflrwqcY1Zvsy2MqrFaF4Lhoo7Q8KikJHg.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/romantic/AAAABSSmry7WH1iOsJ1OXCpH3iehvfGMAIGtA61cZp3CyhsZoPsqq6Bq3B3Zjc9LNybWCx0udcsNMJw3SOK2WApF5z7TKBhpqmy9xkP8g9FGElL3CAfPa3jxDm7sqjpd7sylGg6l.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/romantic/AAAABSQRgimzvWYzn_qV3uZTx9rHIbscHj6qFlyrT1XFTGrH1qZfm6-Uu_X259u-QYwYH-YlDShBklhaoBVkV8ioLE6_dvDk-KLlhBo.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/romantic/AAAABSBFE3bEG-D2pRk8ZzZjBjcCG9ahEJihPMG-UL0ulqm3uQbgJ3sl-3QE3uoNCYQSuJPfE1EeJAWwbD-0DOXtl4GC6Nq54e8sTeg.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/romantic/AAAABS5yN0zGCXTsN_in_3bouKpw-gc8sW83rpUGpYFmzxvvCphg1N810v3r5KpR3looo8qDHMDReeupSnDy7LcIk8cpeVteA17C3vo.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/romantic/AAAABS5MAyx1tor3S2AILoZWJ_vkiIAdfmpjRaudLMq9j_gn-v5iAFNq-rToFadAoJWV6M11mlWF-EvWi8zfTlf0B0hroCRe0kEboch4tmF0q80EaPNast6_KG8oNKE5bsYkBTeh.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/romantic/AAAABS_5doTYvqT37iMOnnSUl4EfOzazWim4ScX5HZwCLbKZJXAHIrsVg0eR2YyDbeUn--q_LfHq_0scXAD4mPp1JihenF0CS07FI-U.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/romantic/AAAABRU_TC-UIcf3in3iqDkRaOQ0mQMo9ecYLhjLNJMheITTJTRFi58as5AU88qBmq0oy9sHjVeQQpKBhxOyUXCuWfR3KXRENYIMFA8.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/romantic/AAAABRRa1ZMONeWud0xv0fghV-0RUBP2hhgt3r0KvRLBJtvEJkTbeHwsOSAwODtvMLP3130qGLBnxWf9HleafzoLtRlm5nHtrm0Q0FI.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="{% url 'endd' %}" >
                <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/romantic/AAAABQJ6fl3MShO7HhiB6tuk7O5hhXBbA9XsQSzeUkayutfbIQkui4q98VeJbyt1N3VkIaFWnDP0yvIVb67hh8eNJ5Tad-9mMy9x-Zk.jpg' %}" alt="Anyone But You" loading="lazy">
            </a>

            
        </div>
    </section>
{% endblock %}