<!DOCTYPE html>
{% extends "app/layout.html" %}
{% load static %}

{% block title%}
{% endblock%}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
    <h1 class="all_22">MY SERVICES</h1>
</div>

<br>
<div class="gallery-wrap_22">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_22">
    <div class="gallery_22">
    <div>
        <a href="#"><span><img src="{% static 'imagefolder/icons/icon (22).webp' %}" alt=""></span></a>

        <span><img src="{% static 'imagefolder/icons/icon (21).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (4).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (5).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (6).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (1).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (2).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (8).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (9).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (10).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (11).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (3).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (12).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (13).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (14).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (15).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (16).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (17).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (18).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (19).webp' %}" alt=""></span>

        <span><img src="" alt=""></span>
    </div>

</div>
<img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_22">

</div>
   <br>
   <br>
   <br>

    <section class="nmtitle-section" id="section-more-titles">
        <div class="link-container">
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="TV-show/AAAABZ5VupQmAh2bSrNsGWEOfkabRNdIjBhWGy8CRt_E7nBU5dYCWQ8QsAZwFD1N6hoqM1gN4EDBHrvd05UAGb4RnzfMYny85HtkPto.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="TV-show/AAAABY02cQ-89bfZTChyYnZD4J72bpkR6ZBiFxiM3r1YTsKx75U8xRaXtP4o15n0I0T6RFQnppwlBKt8xQ8eUeWDCK-0PFI0-_YI1Ks.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="TV-show/AAAABWmgSlgdu-KRvUNaDnqHNqvAZzSpgR70zj2MCD3Lkb5a-nng-TnKt73JUadrvs7_Dk3FGtvHee8GxFQZSWhLwkaCFqBRDKjIlVQ.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="TV-show/AAAABVMuOeffao2SMnMITMjPrN4F9o6Iv6kCoqTidYDk7AiZQ7jOxvOh1GRA19I-BzpeWRhHoy3DpRQFYN45D5AQi4AFsERksS9fhQo.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="TV-show/AAAABVjYgz3QlzXJg9ec8JKgiQRElj6cBH6HdER2Dh62AlL-uU-nk-6XUBS5up_FXZpi6KTdi9_OWzFfYqTIuCkH06eRP8YuVwkeYPc.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="TV-show/AAAABUEEve9pt74jESDgC9BX23ClD27UJVZhDFgc8BpOeUzid3RV4rzoWdPu9_mdXv0dM4tB0Yxg41Vtc0vyNA2zuQrlZBvAKt38FOs.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="TV-show/AAAABU-DGlE1-Kee6jT-02uq2_CFwJMrVqa4IoFF7ILPG2RAiOQimfDC_Fk1fxqmtBTo5HIQrCbUOL3EX5_7SVNSOTM64jSlKPvZiK0.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="TV-show/AAAABTpaCW3SgNIJBrjdEhArCClO4gnJ2wYHKHyZiufzv5gsuI1W-gPCbuUivjeEUqZ_sIIVpYza066oZdWHlgTMUVNgOtJXHUFAIZvJMg4LqRj80WsJmq8dIcRNFAPKQQaL1-ks.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="TV-show/AAAABToe_qthoDuumBbGvfS0G5LxbetSaSkeaF_dVMRbxLNcvm8x5pNxW0KnyfEvmCFbSPgDI9MwOQk0p5ug-fKOlfNInlTn8D3jxpk.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="TV-show/AAAABTlCyLjltx3xHlfrBr4JF99mjYBHDa9EmX7fKF-T__qZ_wuZrc-K8LmHaY-y5w-gHrHGaUs23fZ4Bt9vu37mdkV1GCejQqVHWu0.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="TV-show/AAAABTKLB6zGY-wBnssctmsjICFiBwMpzhJUUKNls6Iv4fvOia-f0QP7TWgObGo0M5eThJ6_OSJkU3q6SHx7X3VU9Ww-yOOU2wjvofB6pXz6dPbhn9abHtp5QjLol8ZrzgCZEOS0.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="TV-show/AAAABTJ4AQJNuW0qV1uBcxJ_JrAwrHDk0rVclx3gxo9Uuhi6HkM3d723GsBvuHYckDinQAh9Ol2XfkK4y1d1EZh5TiBOYvWETKXjkya6_C_kpMJJtbbfZAfhDXb-MwvRZ7jV12ci.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="TV-show/AAAABTelaVoaijZGcoTnlSLmAHJnq0BrvJC466lCeaUTYrXKKsLmXp8Yyso1D5C6RR4SA4h8ukr7GZ9hmAsn7EyxxVRAFOz-0o2-Ca4.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="TV-show/AAAABTdLj8KQ0FseLPnG4GZdh0ayUGyehC1GlGHTzwKimUORgTvliC0rhRcX27TMMlYJXAZ0XmXXCHXXsyLYD7Xmhpa1hz4_oqza3zYn_hI_SrS22JemvHBjdtdytEAt-tKs8BUv.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="TV-show/AAAABSydUg1kD7TG6PyfUY0xlV35U7PggZo3hU5eRD0eG1TBGQC5Ywy9tRVRtYAlvJ_wJrFHkZx5dqLlIosEcG1qLCzXwAeUQgpwSEM.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="TV-show/AAAABSSmry7WH1iOsJ1OXCpH3iehvfGMAIGtA61cZp3CyhsZoPsqq6Bq3B3Zjc9LNybWCx0udcsNMJw3SOK2WApF5z7TKBhpqmy9xkP8g9FGElL3CAfPa3jxDm7sqjpd7sylGg6l.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="TV-show/AAAABSouXCufsyrqXyhqAUilSSDeMRWnQmWmI6uvQilei4gt7q9QUSebJDYPgy4vRZORcGRjd5NsU0Fi8H3wVURKAvGNt0SPw0tXpJgOrp04nYAGelCkuGTsjbR3eedWlreRDRr_.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="TV-show/AAAABSi2rVDH10QI2cH_SFZOM5ZzAscZQwxIWflIuBOiQ6ETeyCHSt3wKfAm0qoGBDcKcgtF3p55512J-j1KJMhNOqlhpY07t6oXRnA.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="TV-show/AAAABRuWG1FhQOEBxgsRNkGNfqVzQnw1olFSjbXVAl7zjYOcfBALvwpjz6JclFQOz2kMbD_jmru2aTB6Y86wtrf-9kn5uGgK_gg6WWc.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="TV-show/AAAABRUIGNK9ewn28V0tVSQAkoK_yvjvseS3W-1udJlNbr5G6auF4Wzn3f8rU0OfwtG8bXAdQexu9Tk7K9BXTDESMo_vMJVIxB07Au8.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="TV-show/AAAABR2D3xODaUtYNFCjJdItXuifa4UDQNWe9wLS61YYztUX6rqpjc9z1UqQ3UJFLIawkvaUFb-BcPijzY4GU0B7okxNraBrv7u-M-EE7OmSzt1TNLzy5Ck-xBiUjy63OeSW2ggM.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="TV-show/AAAABQS3FULhFe5dBumipSSjUTmULkzAosMPct5v6GSHI5nH2G2Hwv63lboF4_VTWNGAgFCnBVLrs-df0BwanMzHAgvGPdIXsUpnw9U.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="TV-show/AAAABQnRasVrtCpzM6tujgpDnXIHjASnaW7YUvmhk5EegWpYny3yBIUrnoAvJC-7XKxPujXXVyRzxoi4wjsGc11f_1-M5OT4Pg9FKAA.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="TV-show/AAAABfx2_mLCGOTTP9EJvWxboGS1HNwwQqXo_CqsGOu4qZU5kzqrm3wCo4zShly-iGAZhQ860ff_azZWWzNG9BrHfQX4vizoJRlX5XrGXGZysKGKu6T3xg1c2rWA2UMae-U_wtMZ.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="TV-show/AAAABfDpaiaB97fey0uYQJtfnbEz3MwaGVl7eLYtn_Dj_XeXwmXQir8j5adQTDzJP0OZihzdtHm6CZ6dAeibQQFbQGbGAVdLfxF8sio.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="TV-show/AAAABf84V-GLeIvJCXXQ0uKdMmcHEaaRqwgSqKfMDKzQRw93Q3J-UWxLvd564aPfsJSGudLdowo12EQLOrWuPNf7Tk7PU2fTd-2mLlfN_SRq5_ElIXU_oTSmPYkmWDTIQsBl41nl.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="TV-show/AAAABeMAEJpGFAXwJgI_cg2yICZ-SqeQkFazQUYivcMxJU_1dZtfSVAJ7yXILVClJ8uhQKJVcMalVt8m9nyz1xTuDsgIcgiZ6pHkA_.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="TV-show/AAAABelrz4ziWUTYGe5P181arHm4DbFApiTnGdWewPkYdNb6a4Yc2b5a5tcEYkG42NNwM5_RwFK0r_qCslyXExTePb6on51QbN3OFYI.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="TV-show/AAAABe_sjUoMNiuavPOi-DPNDCU9JLct0Lg0tkuH5fAGhm4h991EVhe3SAZVGnRsaQFiDttGo3w2RRbDz6L8XWCeKaTBdKgQUqzzPHjlFARHFvSQ0DwAR_928Ygosc2mZfax88-h.jpg" alt="Anyone But You" loading="lazy">
            </a>
            <a class="title-link" href="backend1-1.html" >
                <img class="title-link-img" data-uia="title-link-img" src="TV-show/AAAABdGTgdX0Z6SfnEQXRGM9to-qD9jcEu4hQkSx2liqib_v1lDErUoMVgLIXr4eRftnUClWCnXtMe3wHndtq49jt_umrQk4H1h1WgdNPxG7Wm9jtreXgb1RyxE6ewfY0-Zev6V3.jpg" alt="Anyone But You" loading="lazy">
            </a>
           
        </div>
    </section>
    <br>
    <br>

<br>
{% endblock %}