{% extends 'app/layout.html' %}
{% load static %}





{% block content %}
<br>
<br>
<br>
<br>
<style>
.us{
 color: white;
 padding: 10px;
 margin: 5px;
 font-size: 24px;
 background-color: #2d2e338e;
 text-align: center;
}

.us p{
    color: rgba(255, 255, 255, 0.644);
    font-size: 24px;
    text-align: center;
   }
</style>

<div class="us">
 <h1><b>Welcome to MOVIEgaiN AFRICA</b></h1>
 <br>
 <p>You will be happy here! With MOVIEgaiN we can intertain you with <br>favorite <a href="/main">movies</a> & <a href="/contact/tv_shows">TV shows</a> in all over the world.</p>
 <br>
 

            
</div>
<br>
<div>
    <h1 class="all_22">MY SERVICES</h1>
</div>

<br>
<div class="gallery-wrap_22">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_22">
    <div class="gallery_22">
    <div>
        <a href="#"><span><img src="{% static 'imagefolder/icons/icon (22).webp' %}" alt=""></span></a>

        <span><img src="{% static 'imagefolder/icons/icon (21).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (4).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (5).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (6).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (1).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (2).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (8).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (9).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (10).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (11).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (3).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (12).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (13).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (14).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (15).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (16).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (17).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (18).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (19).webp' %}" alt=""></span>

        <span><img src="" alt=""></span>
    </div>

</div>
<img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_22">

</div>
   <br>

<section class="nmtitle-section" id="section-more-titles">
      
        
    <div class="link-container">
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" src="{% static 'imagefolder/africa/africa (1).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img"src="{% static 'imagefolder/africa/africa (2).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img"src="{% static 'imagefolder/africa/africa (3).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img"src="{% static 'imagefolder/africa/africa (4).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img"src="{% static 'imagefolder/africa/africa (5).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img"src="{% static 'imagefolder/africa/africa (6).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img"src="{% static 'imagefolder/africa/africa (6).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img"src="{% static 'imagefolder/africa/africa (7).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img"src="{% static 'imagefolder/africa/africa (8).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img"src="{% static 'imagefolder/africa/africa (9).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img"src="{% static 'imagefolder/africa/africa (10).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img"src="{% static 'imagefolder/africa/africa (11).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img"src="{% static 'imagefolder/africa/africa (12).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img"src="{% static 'imagefolder/africa/africa (13).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img"src="{% static 'imagefolder/africa/africa (14).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img"src="{% static 'imagefolder/africa/africa (15).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img"src="{% static 'imagefolder/africa/africa (16).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img"src="{% static 'imagefolder/africa/africa (17).jpg' %}">
        </a>
       
       
    </div>
</section>
{% endblock %}