{% extends 'app/layout.html' %}
{% load static %}

{% block title %}
    COMEDY
{% endblock %}


{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
    <h1 class="all_22">MY SERVICES</h1>
</div>

<br>
<div class="gallery-wrap_22">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_22">
    <div class="gallery_22">
    <div>
        <a href="#"><span><img src="{% static 'imagefolder/icons/icon (22).webp' %}" alt=""></span></a>

        <span><img src="{% static 'imagefolder/icons/icon (21).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (4).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (5).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (6).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (1).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (2).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (8).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (9).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (10).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (11).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (3).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (12).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (13).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (14).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (15).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (16).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (17).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (18).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (19).webp' %}" alt=""></span>

        <span><img src="" alt=""></span>
    </div>

</div>
<img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_22">

</div>
   <br>
   <br>
   <br>

<section class="nmtitle-section" id="section-more-titles">
        
    <div class="link-container">
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" src="{% static 'imagefolder/comedy/comedy (1).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img"src="{% static 'imagefolder/comedy/comedy (2).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img"src="{% static 'imagefolder/comedy/comedy (3).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img"src="{% static 'imagefolder/comedy/comedy (4).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img"src="{% static 'imagefolder/comedy/comedy (5).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img"src="{% static 'imagefolder/comedy/comedy (6).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img"src="{% static 'imagefolder/comedy/comedy (6).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img"src="{% static 'imagefolder/comedy/comedy (7).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img"src="{% static 'imagefolder/comedy/comedy (8).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img"src="{% static 'imagefolder/comedy/comedy (9).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img"src="{% static 'imagefolder/comedy/comedy (10).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img"src="{% static 'imagefolder/comedy/comedy (11).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img"src="{% static 'imagefolder/comedy/comedy (12).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img"src="{% static 'imagefolder/comedy/comedy (13).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img"src="{% static 'imagefolder/comedy/comedy (14).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img"src="{% static 'imagefolder/comedy/comedy (15).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img"src="{% static 'imagefolder/comedy/comedy (16).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img"src="{% static 'imagefolder/comedy/comedy (17).jpg' %}">
        </a>
       
    </div>
</section>
{% endblock %}