{% load static %}
<br>
<br>
<br>
<br>
<footer>
    <div class="footer-col">
        <h4>Useful Links</h4>
        <ul>
            <li><a href="/product_list">Sale Page</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/upcoming">Upcoming</a></li>
            <li><a href="/new">New Release</a></li>
        </ul>
    </div>
    <div class="footer-col">
        <h4>Currently Trending</h4>
        <ul>
            <li><a href="/backend">fallout</a></li>
            <li><a href="/backend">Shogun</a></li>
            <li><a href="/backend">Evil</a></li>
            <li><a href="/backend">Eric</a></li>
            <li><a href="/backend">Shōgun</a></li>
           
        </ul>
    </div>
   
    <div class="footer-col">
        <h4>Top 5 Most Watched</h4>
        <ul>
            <li><a href="/backend">Strong Girl</a></li>
            <li><a href="/backend">Anikulapo</a></li>
            <li><a href="/backend">Lift</a></li>
            <li><a href="/backend">Atlas</a></li>
            <li><a href="/backend">Trigger Warning</a></li>
        </ul>
    </div>

    <div class="footer-col">
        <h4>Follow Us</h4>
        <ul>
            <li><a href="#"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a></li>
            <li><a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i> Twitter</a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
        </ul>
    </div>
    
  </footer>
  
  <style>
    .support_footer{
        width: 100%;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        color: white;
        background-color: #17171f;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-around;
        border-top: 1px solid #eee;
        border-width: 1%;
    }
    
    .pop a{
        color: rgba(78, 212, 221, 0.582);
    }
    
    
  </style>
  <nav class="support_footer">
    
    <div class="pop">
        <br>
        <p>Copyright © MOVIEgaiN 2024</p>
        <br>
      </div> 
  </nav>