{% extends 'app/layout.html' %}
{% load static %}


{% block title %}
    MAIN HOME
{% endblock %}



{% block content %}

    <br>
    <br> 
    <br>
    <br>
    <br>
<div class="many_25">
    <div class="manyy">
        {% if request.user.is_superuser or request.user.is_staff %}
    <a style="color: white" href="{% url 'admin' %}">AdminPage</a>
    {% endif %} 
    </div>
    <br>
    <div>
        <p style="color: white">{{key}}{{request.user }}</p>
    </div>
</div>
<br>
<div>
   <a href="/watch"> <h1 class="all_25">Next Watch</h1></a>
</div>
<br>
<div class="gallery-wrap_25">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_25">
    <div class="gallery_25">
    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/watch/watch (1).jpg' %}" alt=""></a>
            <h1>Vincenzo</h1>
        </span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/watch/watch (2).jpg' %}" alt=""></a>
            <h1>Alchemy of Souls</h1>
        </span>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/watch/watch (3).jpg' %}" alt=""></a>
            <h1>Supacell</h1>
        </span>
    </div>
    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/watch/watch (4).jpg' %}" alt=""></a>
            <h1>Queen of Tears</h1></span>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/watch/watch (5).jpg' %}" alt=""></a>
            <h1>Atlas</h1></span>
       
    </div>
    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/watch/watch (6).jpg' %}" alt=""></a>
            <h1 >Damsel</h1></span>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/watch/watch (7).jpg' %}" alt=""></a>
            <h1>Geek Girl</h1></span>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/watch/watch (8).jpg' %}" alt=""></a>
            <h1>King the Land</h1></span>
    </div>
    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/watch/watch (9).jpg' %}" alt=""></a>
            <h1>Hierarchy</h1></span>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/watch/watch (10).jpg' %}" alt=""></a>
            <h1>Sweet Home</h1></span>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/watch/watch (11).jpg' %}" alt=""></a>
            <h1>The Last Airbender</h1></span>
    </div>
</div>
    <img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_25">
</div>
<br
<br>
<style>
    .gallery_25 a img{
        border: 4px solid white
    }

    .gallery_2 a img{
        border: 4px solid white
    }

    .gallery_3 a img{
        border: 4px solid white
    }

    .gallery_4 a img{
        border: 4px solid white
    }

    .gallery_5 a img{
        border: 4px solid white
    }
    .gallery_6 a img{
        border: 4px solid white
    }

    .gallery_7 a img{
        border: 4px solid white
    }

    .gallery_8 a img{
        border: 4px solid white
    }

    .gallery_9 a img{
        border: 4px solid white
    }

    .gallery_10 a img{
        border: 4px solid white
    }

    .gallery_11 a img{
        border: 4px solid white
    }

    .gallery_12 a img{
        border: 4px solid white
    }

    .gallery_13 a img{
        border: 4px solid white
    }

    .gallery_25{
        display: flex;
        overflow-x: scroll;
    }
    
    .gallery_25 div{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: px;
        flex: none;
        gap: 5px;
    }
    
    .gallery_25 div img{
        width: 98%;
    }
    
    .gallery_25::-webkit-scrollbar{
        display: none;
    }
    
    .gallery-wrap_25{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #backBtn_25, #nextBtn_25{
        width: 20px;
        cursor: pointer;
        height: 50px;
    }
    
    #backBtn_25, #nextBtn_25{
        opacity: 0.1;
    }
    
    #backBtn_25:hover, #nextBtn_25:hover{
        opacity: 1;
    }
    
    .gallery_25 div img:hover{
        filter: grayscale(0);
        cursor: pointer;
    }
    
    
    .all_25{   
        color: white;
        margin-left: 26px;
        }
       
        .gallery_25 h1{
            color: rgba(255, 255, 255, 0.623);
            text-align: center;
            font-size: 20px;
        }

        .many_25{
            color: white;
            text-align: center;
            height: 80px;
        }

        .many_25 p{
            color: rgb(255, 255, 255);
            font-size: 25px;
            text-align: center;
        }
        .manyy{
            text-align: start;
            font-size: 25px;
            font-family: sans-serif;
        }
</style>





  


<div>
    <a href="/comedy"><h1 class="all_3">Comedy Movies</h1></a>
</div>
<br>
<div class="gallery-wrap_3">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_3">
    <div class="gallery_3">
    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/comedy/comedy (1).jpg' %}" alt=""></a><h1>Bad Boys For Life</h1></span>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/comedy/comedy (2).jpg' %}" alt=""></a><h1>Charlies Angels</h1></span>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/comedy/comedy (3).jpg' %}" alt=""></a><h1>Irish Wish</h1></span>
    </div>
    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/comedy/comedy (4).jpg' %}" alt=""></a><h1>MenGirls</h1></span>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/comedy/comedy (12).jpg' %}" alt=""></a><h1>You are so noy...</h1></span>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/comedy/comedy (5).jpg' %}" alt=""></a><h1>Before Valentine's</h1></span>
    </div>
    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/comedy/comedy (6).jpg' %}" alt=""></a><h1>Army of Thieves</h1></span>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/comedy/comedy (7).jpg' %}" alt=""></a><h1>Lion Heart</h1></span>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/comedy/comedy (8).jpg' %}" alt=""></a><h1>My Summer Prince</h1></span>
    </div>
    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/comedy/comedy (9).jpg' %}" alt=""></a><h1>A Man Called...</h1></span>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/comedy/comedy (10).jpg' %}" alt=""></a><h1>Laapataa Ladies</h1></span>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/comedy/comedy (11).jpg' %}" alt=""></a><h1>Dwindle</h1></span>
    </div>
</div>
    <img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_3">
</div>
<br>
<br>




  


<div>
   <a href="/africa"> <h1 class="all_2">African Movies</h1></a>
</div>
<br>
<div class="gallery-wrap_2">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_2">
    <div class="gallery_2">
    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/africa/africa (1).jpg' %}" alt=""></a><h1>Strained</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/africa/africa (2).jpg' %}" alt=""></a><h1>Luther The fallen...</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/africa/africa (12).jpg' %}" alt=""></a><h1>Passport</h1></span>
    </div>

    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/africa/africa (17).jpg' %}" alt=""></a><h1>Blood Vessel</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/africa/africa (5).jpg' %}" alt=""></a><h1>The Woman Think...</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/africa/africa (6).jpg' %}" alt=""></a><h1>One Too Many</h1></span>
    </div>

    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/africa/africa (18).jpg' %}" alt=""></a><h1>Obara'm</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/africa/africa (20).jpg' %}" alt=""></a><h1>Ijogbon</h1></span>
    </div>

    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/africa/africa (9).jpg' %}" alt=""></a><h1>Love, Sex &...</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/africa/africa (10).jpg' %}" alt=""></a><h1>The Wildflower</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/africa/africa (11).jpg' %}" alt=""></a><h1>A Simple Lie</h1></span>
    </div>
</div>
    <img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_2">
</div>
<br>
<br>



  


<div>
    <a href="/contact/action"><h1 class="all_4">Ation Movies</h1></a>
</div>
<br>
<div class="gallery-wrap_4">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_4">
    <div class="gallery_4">
    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/action/action (12).jpg' %}" alt=""></a><h1>Jason Bourne</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/action/action (2).jpg' %}" alt=""></a><h1>The Huntsman...</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/action/action (3).jpg' %}" alt=""></a><h1>Aka</h1></span>
    </div>

    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/action/action (4).jpg' %}" alt=""></a><h1>Hidding Strike</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/action/action (5).jpg' %}" alt=""></a><h1>Left</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/action/action (6).jpg' %}" alt=""></a><h1>Blood Shot</h1></span>
    </div>

    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/action/action (7).jpg' %}" alt=""></a><h1>Trigger Warning</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/action/action (8).jpg' %}" alt=""></a><h1>Animal</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/action/action (9).jpg' %}" alt=""></a><h1>Badi And Hunts...</h1></span>
    </div>

    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/action/action (10).jpg' %}" alt=""></a><h1>60 Menutes</h1></span>

        <span>
             <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/action/action (11).jpg' %}" alt=""></a><h1>Jawan Extended...</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/action/action (13).jpg' %}" alt=""></a><h1>Reble Moon...</h1></span>
    </div>
</div>
    <img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_4">
</div>
<br>
<br>



  


<div>
    <a href="/contact/documentary"><h1 class="all_4">Documentary Filmes</h1></a>
</div>
<br>
<div class="gallery-wrap_5">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_5">
    <div class="gallery_5">
    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/docummentary/docummentary (12).jpg' %}" alt=""></a><h1>Jason Bourne</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/docummentary/docummentary (2).jpg' %}" alt=""></a><h1>The Huntsman...</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/docummentary/docummentary (3).jpg' %}" alt=""></a><h1>Aka</h1></span>
    </div>

    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/docummentary/docummentary (4).jpg' %}" alt=""></a><h1>Hidding Strike</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/docummentary/docummentary (5).jpg' %}" alt=""></a><h1>Left</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/docummentary/docummentary (6).jpg' %}" alt=""></a><h1>Blood Shot</h1></span>
    </div>

    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/docummentary/docummentary (7).jpg' %}" alt=""></a><h1>Trigger Warning</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/docummentary/docummentary (8).jpg' %}" alt=""></a><h1>Animal</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/docummentary/docummentary (9).jpg' %}" alt=""></a><h1>Badi And Hunts...</h1></span>
    </div>

    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/docummentary/docummentary (10).jpg' %}" alt=""></a><h1>60 Menutes</h1></span>

        <span>
             <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/docummentary/docummentary (11).jpg' %}" alt=""></a><h1>Jawan Extended...</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/docummentary/docummentary (13).jpg' %}" alt=""></a><h1>Reble Moon...</h1></span>
    </div>
</div>
    <img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_5">
</div>
<br>
<br>


  


<div>
    <a href="/contact/recommended"><h1 class="all_6">Recommended For...</h1></a>
</div>
<br>
<div class="gallery-wrap_6">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_6">
    <div class="gallery_6">
    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/recommanded/recommanded (12).jpg' %}" alt=""></a><h1>Jason Bourne</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/recommanded/recommanded (2).jpg' %}" alt=""></a><h1>The Huntsman...</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/recommanded/recommanded (3).jpg' %}" alt=""></a><h1>Aka</h1></span>
    </div>

    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/recommanded/recommanded (4).jpg' %}" alt=""></a><h1>Hidding Strike</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/recommanded/recommanded (5).jpg' %}" alt=""></a><h1>Left</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/recommanded/recommanded (6).jpg' %}" alt=""></a><h1>Blood Shot</h1></span>
    </div>

    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/recommanded/recommanded (7).jpg' %}" alt=""></a><h1>Trigger Warning</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/recommanded/recommanded (8).jpg' %}" alt=""></a><h1>Animal</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/recommanded/recommanded (9).jpg' %}" alt=""></a><h1>Badi And Hunts...</h1></span>
    </div>

    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/recommanded/recommanded (10).jpg' %}" alt=""></a><h1>60 Menutes</h1></span>

        <span>
             <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/recommanded/recommanded (11).jpg' %}" alt=""></a><h1>Jawan Extended...</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/recommanded/recommanded (13).jpg' %}" alt=""></a><h1>Reble Moon...</h1></span>
    </div>
</div>
    <img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_6">
</div>
<br>
<br>




  


<div>
    <a href="/contact/kids"><h1 class="all_7">Kids & Family Movies</h1></a>
</div>
<br>
<div class="gallery-wrap_7">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_7">
    <div class="gallery_7">
    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/kids/kids (12).jpg' %}" alt=""></a><h1>Jason Bourne</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/kids/kids (2).jpg' %}" alt=""></a><h1>The Huntsman...</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/kids/kids (3).jpg' %}" alt=""></a><h1>Aka</h1></span>
    </div>

    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/kids/kids (4).jpg' %}" alt=""></a><h1>Hidding Strike</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/kids/kids (5).jpg' %}" alt=""></a><h1>Left</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/kids/kids (6).jpg' %}" alt=""></a><h1>Blood Shot</h1></span>
    </div>

    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/kids/kids (7).jpg' %}" alt=""></a><h1>Trigger Warning</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/kids/kids (8).jpg' %}" alt=""></a><h1>Animal</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/kids/kids (9).jpg' %}" alt=""></a><h1>Badi And Hunts...</h1></span>
    </div>

    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/kids/kids (10).jpg' %}" alt=""></a><h1>60 Menutes</h1></span>

        <span>
             <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/kids/kids (11).jpg' %}" alt=""></a><h1>Jawan Extended...</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/kids/kids (13).jpg' %}" alt=""></a><h1>Reble Moon...</h1></span>
    </div>
</div>
    <img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_7">
</div>
<br>
<br>



  


<div>
    <a href="/contact/hollywood"><h1 class="all_8">Hollywood Movies</h1></a>
</div>
<br>
<div class="gallery-wrap_8">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_8">
    <div class="gallery_8">
    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/hollywood/hollywood (12).jpg' %}" alt=""></a><h1>Jason Bourne</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/hollywood/hollywood (2).jpg' %}" alt=""></a><h1>The Huntsman...</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/hollywood/hollywood (3).jpg' %}" alt=""></a><h1>Aka</h1></span>
    </div>

    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/hollywood/hollywood (4).jpg' %}" alt=""></a><h1>Hidding Strike</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/hollywood/hollywood (5).jpg' %}" alt=""></a><h1>Left</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/hollywood/hollywood (6).jpg' %}" alt=""></a><h1>Blood Shot</h1></span>
    </div>

    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/hollywood/hollywood (7).jpg' %}" alt=""></a><h1>Trigger Warning</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/hollywood/hollywood (8).jpg' %}" alt=""></a><h1>Animal</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/hollywood/hollywood (9).jpg' %}" alt=""></a><h1>Badi And Hunts...</h1></span>
    </div>

    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/hollywood/hollywood (10).jpg' %}" alt=""></a><h1>60 Menutes</h1></span>

        <span>
             <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/hollywood/hollywood (11).jpg' %}" alt=""></a><h1>Jawan Extended...</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/hollywood/hollywood (13).jpg' %}" alt=""></a><h1>Reble Moon...</h1></span>
    </div>
</div>
    <img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_8">
</div>
<br>
<br>

  


<div>
    <a href="/contact/crime"><h1 class="all_9">Crime Movies</h1></a>
</div>
<br>
<div class="gallery-wrap_9">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_9">
    <div class="gallery_9">
    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/crime/crime (12).jpg' %}" alt=""></a><h1>Jason Bourne</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/crime/crime (2).jpg' %}" alt=""></a><h1>The Huntsman...</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/crime/crime (3).jpg' %}" alt=""></a><h1>Aka</h1></span>
    </div>

    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/crime/crime (4).jpg' %}" alt=""></a><h1>Hidding Strike</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/crime/crime (5).jpg' %}" alt=""></a><h1>Left</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/crime/crime (6).jpg' %}" alt=""></a><h1>Blood Shot</h1></span>
    </div>

    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/crime/crime (7).jpg' %}" alt=""></a><h1>Trigger Warning</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/crime/crime (8).jpg' %}" alt=""></a><h1>Animal</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/crime/crime (9).jpg' %}" alt=""></a><h1>Badi And Hunts...</h1></span>
    </div>

    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/crime/crime (10).jpg' %}" alt=""></a><h1>60 Menutes</h1></span>

        <span>
             <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/crime/crime (11).jpg' %}" alt=""></a><h1>Jawan Extended...</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/crime/crime (13).jpg' %}" alt=""></a><h1>Reble Moon...</h1></span>
    </div>
</div>
    <img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_9">
</div>
<br>
<br>







<div>
    <a href="/contact/drama"><h1 class="all_10">Drama Movies</h1></a>
</div>
<br>
<div class="gallery-wrap_10">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_10">
    <div class="gallery_10">
    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/drama/drama (12).jpg' %}" alt=""></a><h1>Jason Bourne</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/drama/drama (2).jpg' %}" alt=""></a><h1>The Huntsman...</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/drama/drama (3).jpg' %}" alt=""></a><h1>Aka</h1></span>
    </div>

    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/drama/drama (4).jpg' %}" alt=""></a><h1>Hidding Strike</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/drama/drama (5).jpg' %}" alt=""></a><h1>Left</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/drama/drama (6).jpg' %}" alt=""></a><h1>Blood Shot</h1></span>
    </div>

    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/drama/drama (7).jpg' %}" alt=""></a><h1>Trigger Warning</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/drama/drama (8).jpg' %}" alt=""></a><h1>Animal</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/drama/drama (9).jpg' %}" alt=""></a><h1>Badi And Hunts...</h1></span>
    </div>

    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/drama/drama (10).jpg' %}" alt=""></a><h1>60 Menutes</h1></span>

        <span>
             <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/drama/drama (11).jpg' %}" alt=""></a><h1>Jawan Extended...</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/drama/drama (13).jpg' %}" alt=""></a><h1>Reble Moon...</h1></span>
    </div>
</div>
    <img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_10">
</div>
<br>
<br>




  


<div>
    <a href="/contact/horror"><h1 class="all_11">Horror Movies</h1></a>
</div>
<br>
<div class="gallery-wrap_11">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_11">
    <div class="gallery_11">
    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/horror/horror (12).jpg' %}" alt=""></a><h1>Jason Bourne</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/horror/horror (2).jpg' %}" alt=""></a><h1>The Huntsman...</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/horror/horror (3).jpg' %}" alt=""></a><h1>Aka</h1></span>
    </div>

    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/horror/horror (4).jpg' %}" alt=""></a><h1>Hidding Strike</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/horror/horror (5).jpg' %}" alt=""></a><h1>Left</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/horror/horror (6).jpg' %}" alt=""></a><h1>Blood Shot</h1></span>
    </div>

    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/horror/horror (7).jpg' %}" alt=""></a><h1>Trigger Warning</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/horror/horror (8).jpg' %}" alt=""></a><h1>Animal</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/horror/horror (9).jpg' %}" alt=""></a><h1>Badi And Hunts...</h1></span>
    </div>

    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/horror/horror (10).jpg' %}" alt=""></a><h1>60 Menutes</h1></span>

        <span>
             <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/horror/horror (11).jpg' %}" alt=""></a><h1>Jawan Extended...</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/horror/horror (13).jpg' %}" alt=""></a><h1>Reble Moon...</h1></span>
    </div>
</div>
    <img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_11">
</div>
<br>
<br>








  


<div>
    <a href="/contact/romantic"><h1 class="all_12">Romantic Movies</h1></a>
</div>
<br>
<div class="gallery-wrap_12">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_12">
    <div class="gallery_12">
    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/romantic/romantic (12).jpg' %}" alt=""></a><h1>Jason Bourne</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/romantic/romantic (2).jpg' %}" alt=""></a><h1>The Huntsman...</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/romantic/romantic (3).jpg' %}" alt=""></a><h1>Aka</h1></span>
    </div>

    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/romantic/romantic (4).jpg' %}" alt=""></a><h1>Hidding Strike</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/romantic/romantic (5).jpg' %}" alt=""></a><h1>Left</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/romantic/romantic (6).jpg' %}" alt=""></a><h1>Blood Shot</h1></span>
    </div>

    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/romantic/romantic (7).jpg' %}" alt=""></a><h1>Trigger Warning</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/romantic/romantic (8).jpg' %}" alt=""></a><h1>Animal</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/romantic/romantic (9).jpg' %}" alt=""></a><h1>Badi And Hunts...</h1></span>
    </div>

    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/romantic/romantic (10).jpg' %}" alt=""></a><h1>60 Menutes</h1></span>

        <span>
             <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/romantic/romantic (11).jpg' %}" alt=""></a><h1>Jawan Extended...</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/romantic/romantic (13).jpg' %}" alt=""></a><h1>Reble Moon...</h1></span>
    </div>
</div>
    <img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_12">
</div>
<br>
<br>





  


<div>
    <a href="/contact/tv_shows"><h1 class="all1_13">Movies & TV Shows</h1></a>
</div>
<br>
<div class="gallery-wrap_13">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_13">
    <div class="gallery_13">
    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/shows/shows (12).jpg' %}" alt=""></a><h1>Jason Bourne</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/shows/shows (2).jpg' %}" alt=""></a><h1>The Huntsman...</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/shows/shows (3).jpg' %}" alt=""></a><h1>Aka</h1></span>
    </div>

    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/shows/shows (4).jpg' %}" alt=""></a><h1>Hidding Strike</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/shows/shows (5).jpg' %}" alt=""></a><h1>Left</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/shows/shows (6).jpg' %}" alt=""></a><h1>Blood Shot</h1></span>
    </div>

    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/shows/shows (7).jpg' %}" alt=""></a><h1>Trigger Warning</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/shows/shows (8).jpg' %}" alt=""></a><h1>Animal</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/shows/shows (9).jpg' %}" alt=""></a><h1>Badi And Hunts...</h1></span>
    </div>

    <div>
        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/shows/shows (10).jpg' %}" alt=""></a><h1>60 Menutes</h1></span>

        <span>
             <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/shows/shows (11).jpg' %}" alt=""></a><h1>Jawan Extended...</h1></span>

        <span>
            <a href="{% url 'endd' %}"><img src="{% static 'imagefolder/shows/shows (13).jpg' %}" alt=""></a><h1>Reble Moon...</h1></span>
    </div>
</div>
    <img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_13">
</div>





<script>
    let scrollContainer = document.querySelector(".gallery_25");
    let backBtn_25 = document.getElementById("backBtn_25");
    let nextBtn_25 = document.getElementById("nextBtn_25");

    nextBtn_25.addEventListener("click", ()=>{
        scrollContainer.style.scrollBehavior = "smooth";
        scrollContainer.scrollLeft += 800;
    });

    backBtn_25.addEventListener("click", ()=>{
        scrollContainer.style.scrollBehavior = "smooth";
        scrollContainer.scrollLeft -= 800;
    });

    let scrollConta = document.querySelector(".gallery_2");
    let backBtn_2 = document.getElementById("backBtn_2");
    let nextBtn_2 = document.getElementById("nextBtn_2");

    nextBtn_2.addEventListener("click", ()=>{
        scrollConta.style.scrollBehavior = "smooth";
        scrollConta.scrollLeft += 800;
    });

    backBtn_2.addEventListener("click", ()=>{
        scrollConta.style.scrollBehavior = "smooth";
        scrollConta.scrollLeft -= 800;
    });


    let scrollCont = document.querySelector(".gallery_3");
    let backBtn_3 = document.getElementById("backBtn_3");
    let nextBtn_3 = document.getElementById("nextBtn_3");

    nextBtn_3.addEventListener("click", ()=>{
        scrollCont.style.scrollBehavior = "smooth";
        scrollCont.scrollLeft += 800;
    });

    backBtn_3.addEventListener("click", ()=>{
        scrollCont.style.scrollBehavior = "smooth";
        scrollCont.scrollLeft -= 800;
    });


    let scrollCon = document.querySelector(".gallery_4");
    let backBtn_4 = document.getElementById("backBtn_4");
    let nextBtn_4 = document.getElementById("nextBtn_4");

    nextBtn_4.addEventListener("click", ()=>{
        scrollCon.style.scrollBehavior = "smooth";
        scrollCon.scrollLeft += 800;
    });

    backBtn_4.addEventListener("click", ()=>{
        scrollCon.style.scrollBehavior = "smooth";
        scrollCon.scrollLeft -= 800;
    });


    let scrollCont5 = document.querySelector(".gallery_5");
    let backBtn_5 = document.getElementById("backBtn_5");
    let nextBtn_5 = document.getElementById("nextBtn_5");

    nextBtn_5.addEventListener("click", ()=>{
        scrollCont5.style.scrollBehavior = "smooth";
        scrollCont5.scrollLeft += 800;
    });

    backBtn_5.addEventListener("click", ()=>{
        scrollCont5.style.scrollBehavior = "smooth";
        scrollCont5.scrollLeft -= 800;
    });


    let scrollCont6 = document.querySelector(".gallery_6");
    let backBtn_6 = document.getElementById("backBtn_6");
    let nextBtn_6 = document.getElementById("nextBtn_6");

    nextBtn_6.addEventListener("click", ()=>{
        scrollCont6.style.scrollBehavior = "smooth";
        scrollCont6.scrollLeft += 800;
    });

    backBtn_6.addEventListener("click", ()=>{
        scrollCont6.style.scrollBehavior = "smooth";
        scrollCont6.scrollLeft -= 800;
    });


    let scrollCont7 = document.querySelector(".gallery_7");
    let backBtn_7 = document.getElementById("backBtn_7");
    let nextBtn_7 = document.getElementById("nextBtn_7");

    nextBtn_7.addEventListener("click", ()=>{
        scrollCont7.style.scrollBehavior = "smooth";
        scrollCont7.scrollLeft += 800;
    });

    backBtn_7.addEventListener("click", ()=>{
        scrollCont7.style.scrollBehavior = "smooth";
        scrollCont7.scrollLeft -= 800;
    });


    let scrollCont8 = document.querySelector(".gallery_8");
    let backBtn_8 = document.getElementById("backBtn_8");
    let nextBtn_8 = document.getElementById("nextBtn_8");

    nextBtn_8.addEventListener("click", ()=>{
        scrollCont8.style.scrollBehavior = "smooth";
        scrollCont8.scrollLeft += 800;
    });

    backBtn_8.addEventListener("click", ()=>{
        scrollCont8.style.scrollBehavior = "smooth";
        scrollCont8.scrollLeft -= 800;
    });


    let scrollCont9 = document.querySelector(".gallery_9");
    let backBtn_9 = document.getElementById("backBtn_9");
    let nextBtn_9 = document.getElementById("nextBtn_9");

    nextBtn_9.addEventListener("click", ()=>{
        scrollCont9.style.scrollBehavior = "smooth";
        scrollCont9.scrollLeft += 800;
    });

    backBtn_9.addEventListener("click", ()=>{
        scrollCont9.style.scrollBehavior = "smooth";
        scrollCont9.scrollLeft -= 800;
    });


    let scrollCont10 = document.querySelector(".gallery_10");
    let backBtn_10 = document.getElementById("backBtn_10");
    let nextBtn_10 = document.getElementById("nextBtn_10");

    nextBtn_10.addEventListener("click", ()=>{
        scrollCont10.style.scrollBehavior = "smooth";
        scrollCont10.scrollLeft += 800;
    });

    backBtn_10.addEventListener("click", ()=>{
        scrollCont10.style.scrollBehavior = "smooth";
        scrollCont10.scrollLeft -= 800;
    });


    let scrollCont11 = document.querySelector(".gallery_11");
    let backBtn_11 = document.getElementById("backBtn_11");
    let nextBtn_11 = document.getElementById("nextBtn_11");

    nextBtn_11.addEventListener("click", ()=>{
        scrollCont11.style.scrollBehavior = "smooth";
        scrollCont11.scrollLeft += 800;
    });

    backBtn_11.addEventListener("click", ()=>{
        scrollCont11.style.scrollBehavior = "smooth";
        scrollCont11.scrollLeft -= 800;
    });


    let scrollCont12 = document.querySelector(".gallery_12");
    let backBtn_12 = document.getElementById("backBtn_12");
    let nextBtn_12 = document.getElementById("nextBtn_12");

    nextBtn_12.addEventListener("click", ()=>{
        scrollCont12.style.scrollBehavior = "smooth";
        scrollCont12.scrollLeft += 800;
    });

    backBtn_12.addEventListener("click", ()=>{
        scrollCont12.style.scrollBehavior = "smooth";
        scrollCont12.scrollLeft -= 800;
    });


    let scrollCont13 = document.querySelector(".gallery_13");
    let backBtn_13 = document.getElementById("backBtn_13");
    let nextBtn_13 = document.getElementById("nextBtn_13");

    nextBtn_13.addEventListener("click", ()=>{
        scrollCont13.style.scrollBehavior = "smooth";
        scrollCont13.scrollLeft += 800;
    });

    backBtn_13.addEventListener("click", ()=>{
        scrollCont13.style.scrollBehavior = "smooth";
        scrollCont13.scrollLeft -= 800;
    });


</script>
<br>
<br>
<br>
{% endblock %}


