{% extends 'app/layout.html' %}
{% load static %}


{% block title %}
     NEW
{% endblock %}


{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
   <h1 class="comery">NEW ON MOVIEgaiN</h1>
</div>
<br>
<div class="comety">
    <h1></h1>
</div>
<br>
<br>
<div class="releas">
    <a href="#"><h1 class="first">New releases</h1></a>
   <a href="/upcoming"><h1>Upcoming</h1></a>
   <a href="/product_list"><h1>Sale</h1></a>
</div>
<br>
<br>

<div>
    <h1 class="all_22">MY SERVICES</h1>
</div>

<br>
<div class="gallery-wrap_22">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_22">
    <div class="gallery_22">
    <div>
        <a href="#"><span><img src="{% static 'imagefolder/icons/icon (22).webp' %}" alt=""></span></a>

        <span><img src="{% static 'imagefolder/icons/icon (21).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (4).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (5).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (6).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (1).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (2).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (8).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (9).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (10).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (11).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (3).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (12).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (13).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (14).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (15).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (16).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (17).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (18).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (19).webp' %}" alt=""></span>

        <span><img src="" alt=""></span>
    </div>

</div>
<img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_22">

</div>
   <br>
   <br>
   <br>


 
   
<section class="nmtitle-section" id="section-more-titles">
    <div class="link-container">
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/action/action (24).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/action/action (23).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/action/action (22).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/action/action (21).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/action/action (24).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/action/action (22).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/action/action (19).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/action/action (18).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/action/action (17).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/action/action (16).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/action/action (15).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/action/action (14).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/action/action (13).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/action/action (12).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/action/action (11).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/action/action (1).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/action/action (8).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/action/action (6).jpg' %}">
        </a>
       
    </div>
</section>
<br>
<br>
<br>






<br>

  <style>
    .vod{
        padding: 10px;
        margin: 5px;
        border: 2px;
        background-color: rgb(32, 32, 100);
        color: whitesmoke;
    }
  </style> 
   <nav style="display: flex; flex-wrap: wrap; justify-content: center;">
    <div style="color: aliceblue; font-size: 30px;">
        <h1><b>Supported devices</b></h1>
    </div>
   </nav>
   <br>
<nav style="display: flex; flex-wrap: wrap; justify-content: center;">
   
    <div class="vod">
        <img src="icon5_files/icon-ios-android-01-1.webp" alt="">
       <center>
        <p>ios,Android & <br>Huawei</p>
       </center>
    </div>
    <div class="vod">
        <img src="icon5_files/icon-windows-mac-01-2.webp" alt="">
        <center>
            <p>Windows &<br>Mac</p>
           </center>
    </div>
    
</nav>
<br>
<br>
{% endblock %}