{% extends 'app/layout.html' %}
{% load static %}


{% block title %}
     NEW
{% endblock %}


{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
   <h1 class="comery">NEW ON MOVIEgaiN</h1>
</div>
<br>
<div class="comety">
    <h1></h1>
</div>
<br>
<br>
<div class="releas">
    <a href="#"><h1 class="first">New releases</h1></a>
   <a href="/upcoming"><h1>Upcoming</h1></a>
   <a href="/product_list"><h1>Sale</h1></a>
</div>
<br>
<br>

<div>
    <h1 class="all_22">MY SERVICES</h1>
</div>

<br>
<div class="gallery-wrap_22">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_22">
    <div class="gallery_22">
    <div>
        <a href="#"><span><img src="{% static 'imagefolder/icons/icon (22).webp' %}" alt=""></span></a>

        <span><img src="{% static 'imagefolder/icons/icon (21).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (4).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (5).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (6).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (1).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (2).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (8).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (9).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (10).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (11).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (3).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (12).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (13).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (14).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (15).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (16).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (17).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (18).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (19).webp' %}" alt=""></span>

        <span><img src="" alt=""></span>
    </div>

</div>
<img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_22">

</div>
   <br>
   <br>
   <br>


 
   
<section class="nmtitle-section" id="section-more-titles">
    <div class="link-container">
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/action/AAAABZsrfXQHTHuqdt1Zd2QvP-JoE-C0EoTeHEZrSrhr3yXGGyBO7j1P9w8xPL8rZZjf4VSVbhzMxLBMTY1_IjIK3GSxzAwnhQ7cNp8.jpg' %}" alt="Army of Thieves" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/action/AAAABZdHPS2MiOv6DkV0woo7neDwDhwaNlWOl-NzX4WKkYXF717f8SEtCeWATP7aiAQVDEs9wWYiIw_LromhHxKysIquZtd-nr8TRENAp8KHKVI6ur4nsro5Ttyqwa8w-pftZt_v.jpg' %}" alt="Army of Thieves" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/action/AAAABb9d19BKVbMmNdR8VidjMZsfOLrjnx-YCkkcXpi4KdmhBaZNY3YKT5SLCYfK_TnQni_chvVJmIzkKFcl-ChraRrii7wFhcYgQ6A.jpg' %}" alt="Army of Thieves" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/action/AAAABZAWwZmFaEbO8hlHzj_97ozzDjt-iPIcobz3Ga7HzqRaAfhlKftGrv6p-fuOxZu8xnyyfpZnVjG_p5Q8rsmL7XOwSbxpcKk6kh0.jpg' %}" alt="Army of Thieves" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/comedy/AAAABdPjruIDLY3zay90gpFXrX-t_ZY1MZ1mOFJmQH7gLoTo1JAA26L7yrhjSObfoRI5hpv-berZwwQrtcS-nqY8VNqVESjr8FNPhx8.jpg' %}" alt="Army of Thieves" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/comedy/AAAABQAYcjycZSCfpnbRGCKEsbTLh7qz8OtiZKaypCYEujOuO6Yn3o6rXBriAr1PGVWkghezQK_ZGOQ4977DXN-94ckxGTX7tSCYZeJ2O9PwOXJUOz9jceZ_VX7aj84IM1BCItmC.jpg' %}" alt="Army of Thieves" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABaNKG7jm7_enkuR70ushfXFeCrrJG05KkUICZBP2gqV7-rgPmbEfivmj89AzrmRKeAKXztfm6IqirIiVJ1kSWjgyUesQ1PBsMV84dVjH25i3itbCBDSrLA7ZQejlFvIv9_UR.jpg' %}" alt="Army of Thieves" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/crime/AAAABc3Aq0BZQx-n1I7YORO_ikRuu0cpqO9lZsvJo8jwgrGvUENCzlJ0bXfSbY_zvolA2BZT6FFOPFG_rcTEYbsPHqDQ_m0DEPtJGsOCP7NwD6rcmBs8dNJsULg7fA3ZXT6lhqwo.jpg' %}" alt="Army of Thieves" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" data-uia="title-link">
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/africa/AAAABSydUg1kD7TG6PyfUY0xlV35U7PggZo3hU5eRD0eG1TBGQC5Ywy9tRVRtYAlvJ_wJrFHkZx5dqLlIosEcG1qLCzXwAeUQgpwSEM.jpg' %}" alt="The Man from Toronto" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/drama/AAAABZcyMJPfDka6mPsmifGMgDDLRLFwU8lqj2EmbQoLaFyXJIrhE7bzY2_6l-UuBZkjVNrPO9c-Ee9ljrqvgZuQlErM0-s2N5lcuHE.jpg' %}" alt="Army of Thieves" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" data-uia="title-link">
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/africa/AAAABb-mjcQr4c3Uiy2YhQz4XnmqgHNWrUdg1NhSDR60dzEQDY6m4CF5Y2pZUC3Zm_ASJ7gq1nDuJMTodJuPwgRiyxlYs3stts7JE6E.jpg' %}" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" data-uia="title-link">
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/africa/AAAABUVNlK1gGovkKUulg5mYLdjESuyXCF5IDOlG9o0sfpMjVbfhpg_ruf3o_UzG6vW_DHQ5h1W_fK3vuGPsmJOuoOHJinNukvQmp1c.jpg' %}" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/horror/AAAABfdaVzNUqoGRIQSdQxXg3AAOsZY7GXzfK1QHE8ohRVtcTiNLuI-nQeWFYWOBxuctRjSbJ1ErF2iJgrzgnUzMKG2d2xPxXXEtWZI.jpg' %}" alt="Army of Thieves" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" data-uia="title-link">
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/africa/AAAABVjYgz3QlzXJg9ec8JKgiQRElj6cBH6HdER2Dh62AlL-uU-nk-6XUBS5up_FXZpi6KTdi9_OWzFfYqTIuCkH06eRP8YuVwkeYPc.jpg' %}" alt="Me Time" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" data-uia="title-link">
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/africa/AAAABc-oQ52bnQ4tp1HPchNJeqKgr5zDeruvNQfBeCTBW-05XCmaylG80S-iszQBh3MOurxAP3opFLB4y43wq5cNUjAtb9n19BGnAOg.jpg' %}" alt="Sixty Minutes" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/horror/AAAABS6H5LwieMBxg4u5AuZedxh36nRS_QcjkdWcUa0YWpIAjrMIdO_nPOKVckCLUWRzoW5ym9wbQwT49PU3zAFch6XKPwgC03wYxfO01UQCZkXmpf0oalwpsK6gtniEYejtm8zu.jpg' %}" alt="Army of Thieves" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" data-uia="title-link">
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/africa/AAAABVMuOeffao2SMnMITMjPrN4F9o6Iv6kCoqTidYDk7AiZQ7jOxvOh1GRA19I-BzpeWRhHoy3DpRQFYN45D5AQi4AFsERksS9fhQo.jpg' %}" alt="Wingwomen" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" data-uia="title-link">
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/africa/AAAABf84V-GLeIvJCXXQ0uKdMmcHEaaRqwgSqKfMDKzQRw93Q3J-UWxLvd564aPfsJSGudLdowo12EQLOrWuPNf7Tk7PU2fTd-2mLlfN_SRq5_ElIXU_oTSmPYkmWDTIQsBl41nl.jpg' %}" alt="Wingwomen" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" data-uia="title-link">
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/africa/AAAABTpaCW3SgNIJBrjdEhArCClO4gnJ2wYHKHyZiufzv5gsuI1W-gPCbuUivjeEUqZ_sIIVpYza066oZdWHlgTMUVNgOtJXHUFAIZvJMg4LqRj80WsJmq8dIcRNFAPKQQaL1-ks.jpg' %}" alt="Ride Along 2" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" data-uia="title-link">
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/africa/AAAABelrz4ziWUTYGe5P181arHm4DbFApiTnGdWewPkYdNb6a4Yc2b5a5tcEYkG42NNwM5_RwFK0r_qCslyXExTePb6on51QbN3OFYI.jpg' %}" alt="Beverly Hills Cop: Axel F" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" data-uia="title-link">
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/africa/AAAABevU_O1vck8wGtaxtK6eG7BJMDbQub9jTt0iOmq6RL-1wH8nsu-VAOplDz2JKeL9mWrG27Cj3u2oPjGQoZfhKG41L7uq9X8tssNAZdg4XIP-90oYCeMlXOM7IOt9UlpMPbSN.jpg' %}" alt="The Equalizer 3" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/horror/AAAABab2eeEWZKF37Tw3YfdpCIelcA8CSFXGNj31DpvM6EqcO8QLIUYEip2ermcDBHL3KeKyhCPrVYZwxC8zIJCqKyyYWHQ7xfEWKrc.jpg' %}" alt="Army of Thieves" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/africa/AAAABVcmYPvysWqkvhKqNfk0yhubbCBWEF3zVC7kaNX13GZJUExhg10DVySZc5TzO_jo7-gJYJ7BJ7Df7UPi9nb5BqfhOXLtsM9LGRE.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/kid&family/AAAABbdKn1VR-4LfFfnhSwlMaxCWYFZJi8twOp8ohXi9XirQW2q16utyGLiqsRPGF-gPSa4HeWtNtqR4hZTiGbZch1nF7iiz35242qM.jpg' %}" alt="Army of Thieves" loading="lazy">
        </a>
    </div>
</section>
<br>
<br>
<br>






<br>

  <style>
    .vod{
        padding: 10px;
        margin: 5px;
        border: 2px;
        background-color: rgb(32, 32, 100);
        color: whitesmoke;
    }
  </style> 
   <nav style="display: flex; flex-wrap: wrap; justify-content: center;">
    <div style="color: aliceblue; font-size: 30px;">
        <h1><b>Supported devices</b></h1>
    </div>
   </nav>
   <br>
<nav style="display: flex; flex-wrap: wrap; justify-content: center;">
   
    <div class="vod">
        <img src="icon5_files/icon-ios-android-01-1.webp" alt="">
       <center>
        <p>ios,Android & <br>Huawei</p>
       </center>
    </div>
    <div class="vod">
        <img src="icon5_files/icon-windows-mac-01-2.webp" alt="">
        <center>
            <p>Windows &<br>Mac</p>
           </center>
    </div>
    
</nav>
<br>
<br>
{% endblock %}