{% extends 'app/layout.html' %}
{% load static %}



{% block title %}
   NEXTWATCH
{% endblock %}




{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>

<div class="comery">
    <h1>YOUR NEXT WATCH</h1>
</div>
<div class="comety">
    <h1> MOVIEgaiN is the home of amazing original programming that you can’t find anywhere else. Movies, TV shows, specials and more, all tailored specifically to you.</h1>
</div>
 <br>
 <br>
 <br>
 <div>
    <h1 class="all_22">MY SERVICES</h1>
</div>

<br>
<div class="gallery-wrap_22">
    <img src="{% static 'imagefolder/icons/10117847.png' %}" alt="" id="backBtn_22">
    <div class="gallery_22">
    <div>
        <a href="#"><span><img src="{% static 'imagefolder/icons/icon (22).webp' %}" alt=""></span></a>

        <span><img src="{% static 'imagefolder/icons/icon (21).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (4).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (5).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (6).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (1).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (2).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (8).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (9).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (10).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (11).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (3).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (12).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (13).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (14).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (15).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (16).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (17).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (18).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (19).webp' %}" alt=""></span>

        <span><img src="" alt=""></span>
    </div>

</div>
<img src="{% static 'imagefolder/icons/10117763.png' %}" alt="" id="nextBtn_22">

</div>
   <br>
   <br>
   <br>


<section class="nmtitle-section" id="section-more-titles">
    <div class="link-container">
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABZxy6DXqXokVfQgltliJGhncAIzxKRMUbOoePt9s_MSejbfS24IX4hi6kLKahdsEXh_a3X32ihpZCqA_EQpMkT2aK1d8QaZEfVnBjeDWXps9aYbbMJSOzsY4oknq56jXKtSV.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABZVabNVxZTg52fChkzqgDSWhyWRFWCMbms-ywnzJjdGg1wW-JlZorjszHRQGo73542V7wVO0OymbZxidf0wMeufLq11mc7xH3I_SpoKnq37ztCW9mh2_i8UAa0X5WOq3phco.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABZqyE0jKLPVKEENrZMLE8o1HMhKtbIozHYkaQEkHj_3bQva-tyV6LDcfiUPlR8KQfYbE98GVTPUOS-Mq9RdoZp7R_eQHahiIhAc_s1eSBMoSOaUmaaTSslN0KbMrl6VIfLpy.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABYXkmK0F6MxzDiljYTieQoeT5JUuXqRUYEgHN8pyu1xIitzB-QuCqvHKokFRR63aVX1iZ2dEtZD4.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABYqz3t2hDX3sdHHVt3Rfp-r5PfXmfLgQcuEk5E3Hg30K0fj-dYRIO0oGcH-Vun_oX3Q8gCnO84BwaFrVtOxeuw57IUZGRnE0ANgTlDfaUYL4c57kkGIcTwvwz3KMrUwg9T5L.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABYF4CEAd-fTcTwhQaY09bnfwMp1rtffTkCr44AsHOJCs-BJL0znbJSNC5GI8HzDaN87TwU59nZhIp6tNwZZR73K.jpg' %} " alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABYCUnKbHq_vsVpHszs-2nyUsiK0-cMB95AvBH8nvjhlWgqUgnzs-rlguVoQHLNjj6SbSjmryxhPpGXE_022Ck100-aUCSYXe4yIIyIHWkqGHBFw854nc5X8ya5Ctcq3OsAjn.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABT-1lup8xDLuceBlnBkRryrFZEpAqH3SBjmx54Oy_lGD8mRZg16m3Y1ctFi5uQqURktu24EY_DPhIzKFbLX2HVDIivKlTpZtdBGJbawY8Fmb4EXgfwEj6CHTRGvWpRyJtNgn.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABY0WCODNVVlmNMw1EQPdyf-p58lxqxSf4pb6EuPztOggVxlUN3OYGRaFBQwXPfXZW9cS1qsz1rHsJkoy7sET6Nn4D1cqds4PtaPTuYo25C1HPiE-TVLimZy21wRAWdcOMqkc.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABWCZwBFNEsuAdZXFwtbzGL0ZuW1eS8RCtLvexXP3dTJPRcu2nCISaZb2PSVoZlFDMF8ycU33mXBrBCjg1AZJKSPfz2-8Wym9oVolUzEPt-CGFuI6kvw84xjSug2mzs4jMTwE.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABVR8dLWHsyQ0qmASngqgpmnp5IoKTRQq5uQl-5oXMYfBj2W0oEHjSCJ-Jw6lpocZb15AszPt4y0Z8J6oueULMVVyZxzTzY5ue5IdP-...3s9D9C-c4hcuS1zt37hHx3EfhXRhgBgsYqZmIVbfWUCqjjCuQtEHD9LfdLT9_PIY.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABVi8_TRhfqUzuj0SpY6NWG_sJtG6RcVbhLkzyDVG9NEERESnh8hSNv4WK8nzlTgHzc1zxe-EDyX3babYHncbhDoPqELUSUUxfyb9yPNUGkSbK94UQ1thRiIbGyXSCmPLTAnq.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABUQkrbcpfdpN32eNpWWDrZOjNODkPx4W8j59SI85LBEcUP1ABYXYXd0AKENRTlOzGxP6wwEzd-Iju7G6XpsC-ehhvKGHEZg2zm2KXI1FX4yj5SWJT7boueHYI7BBugDTatKA.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABToODT-QinLX4y9dZgsoQNkTTIOsDOj5cZdEUqz8S5zbN6xXGym3-sOk0f2Q2D94YC0XMHaiJevx8Tl4OsaT8uVFxhjP1kfv_fJ1q0...dHk5wAgKieqxESYdivvT3lXf9hzy-K2b0.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABTMDW2xqPe95c1GwoaDa3QgNlI3r0yZ3oKN4PnH6QJxV-Mc1i25pPKDpQJn2wG3EXw41GZempj-b062QEZk9CgNduCRgP_7NPAD1EVUz3CAV8lCT1lXS-21-cr60pJdy4XA9.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABSPVHumhUf90yYN5G9-mvdZqw0I66Pd1Tm-hhMjQjTYF36c5y1GmU6krPwFcuGka_9PZpwdAYNQWTK4cE73Oa52_mRBs0aHKFWtXRiwIAUya9aeIsXXjLFNXFMxju2GWCSYx.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABSouXCufsyrqXyhqAUilSSDeMRWnQmWmI6uvQilei4gt7q9QUSebJDYPgy4vRZORcGRjd5NsU0Fi8H3wVURKAvGNt0SPw0tXpJgOrp04nYAGelCkuGTsjbR3eedWlreRDRr_.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABSKjgYrlqwKZg48_7mglvDWCKQyoJZubhOpJ7ramngyv0Csjbd-HHLxf1LGR-9cUtQx9tUDOLdr3mhMUXA0yufP3xJJtiLYte9WzRX_IbDsjp1q7TQEygeg0F4HbePycYuEm.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABShipCAD1-43AOf6WF4aq6rHnbjDer976GL6Qw6Noy3pK_GZcbprVg03SFMcaf54BQ5fosh7i5KUrIRlJ64kiAb242xgXkN8q1myDAm_Ky8D-j0Pexj2sQkSDQWHeh2Lmsys.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABS9-8N_CiWokH6_zhGyoPsv8ETfPygd4oFpqNfmG_31POXId-RkK2r0ChepEvxsd0lMljP4y5dJepWQxFqdSfUnwFJHg9K3YdiUkdfovPk1xcWeG4rGy5zQuEoDEq4pqyrln.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABROssEHE04DQCAvxCgWokxjYeY-efe-XQquohO7qAza2OMHXsEJFGyMaQidZHkc-Lqi7HiPGPySIPDubZNHucLL_KVdv_uv9IYQg0v...ZuWXJjo1cqQncQzdyVimdYL91dNEGugOaMty_WM.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABRL011JY-GQukaCQIPIXKp8QVyIkQqQf0CtPaPYfmQG8BWsaJfTH7vB7ayQRD47H0Qz8uk3o4e_LtfvD7BJZ26PEfWUBN0zhDYnmTauUCtgti44u65ZN0LimeUWMp4DVN7y7.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABRBQ4XylYE1FO4nMQxXiWe-FzY6Y3LapajHsbaUoqpHTHRvDtTj_DJmcYjM27w-9hqBJsUd9kz64YjkfiDGmxXFdZHA6qslI1EQV9e...ndziMQFr8QYHkRfvrUg8500mt0ES-KVqFrEt1ZYwMm.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABQiqt02YipkijXccJRNzNFd7MMrA6LQC9UesDVPMKjVECTEZB9ZVcD5L-MvREDetFjCPbQcolEfJzizq7Z5kk2z3ehD9PD9S5UoItQ...JKZ8yPqTKo7_aQlOcGk2Nr0M0x1rpjRh3zbN72HJ-2JpRXMi5ggou2Yi8eN-SDTuWn.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABfF1-hbqWVwKzAoUKyV88KPNabiy8sH5HsdxpdxSmICl3iMii02b7agick-qR6nN9Bi69cizD4pB9-iPqGnXBY_LvTjWcZa7I7GRK4QwBkngSR9vl_TJtJhf8-bLT3XZJcXu.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABf8xI_4Pr2VeKMeGEwomaqYOWxo4kGPjEdP0tUzTMU_avpOMWqh8yw_lX8FA7G2LJggSlsd9mImPTFK1eDwoAPkvlCRH7uVFDO7UTG...6SXeinJ3OYtZmi86J4o1XbWiWuCO6kdUiaJ2PRV3NaV6UA.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABePlg4u3Pzy5eTv4T9i7DXSuuoWuseJemy_V0r9qF0aNjhaUQIUTuiiAnlSJNICmq_Rc_t3hkl6EgIEetv5E-nxKWdgshUUsnGgPJi79o2hmfCjEbfTkq_tnaXdEd-3bUUNd.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABeKclUQB0zbzXFKzzCPy7JIGfSC9cBsUrGy4uSL6Y8xTbA6uQ9RQ3T2hkFAivuVlcs2oe9Co_k6r3nxLdHWwZ2aT5KUNVAu3VqsuurQXLmMn1o2kZB1ihsp3XY1cwov6nJnz.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABe_sjUoMNiuavPOi-DPNDCU9JLct0Lg0tkuH5fAGhm4h991EVhe3SAZVGnRsaQFiDttGo3w2RRbDz6L8XWCeKaTBdKgQUqzzPHjlFARHFvSQ0DwAR_928Ygosc2mZfax88-h.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABdu1-UYxGUcKaJQvBIK-UbhVMfWVgtn8cr-DwVqmFGYeFMB2NmaGKdg_QJsUPkl_LMv0rRz9zeBTdMqQORGivSxA8L7RrVFqIlXrLsq_AIy-nQmyHLwoApozP___vEh2xzzJ.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABcxgq6lIFBReYvSgcHYCV99Z48-M5rzbOdG7eDGJVbKuCigH993UMY_H87iy_z0qGJut-02cX_agRFQWUTI6ni30GDXKTeq-4oDiOg...67gActgSqcqAp13613gY3.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABcSvphiqciUtzjzNHeH4VptejfvDsr_UoOSrLT4KneHlAS6uJD2vnj92jx8dqPz_V14ldW3isuORe40cQzw01CyaCbLkdOhJ2GIxRC...3xMs.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABcNKnCWAtNNy_so6Ni5kPX5nCHhIxTLi-hmdPCtCakFwFAEVTrKra4HDmdAANOz8_PeoZDCuetAUWkRHgyRhur7s6LfivnnVsGyIKowSK7HZMyqI0Es8OV1XxJnao7kvkgMN.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABc3vktAktMtjzifs7NmShb68_LM3GzLqzgUFu8dqlkGPd2-8W114UjklauvZQY0w95E_uYrkiJKq7Sz4s75CTSusoemQtr3Rz35T07Y4S8Tp4_KDaTqYugeFuJ-iTTsphfDX.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABbu7Vgl6lpBZWiNydrFGF8wWi-42WWpQ1Jw7tw88OYKzqeNraSCDM6VXuG-60o1ifwF8y-xmc97M8dYOJotaybUjehZA3VtTvrRh-rYQZAU2NIrXPUm6X3c6Kc2iW1mp1Gi6.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
        <a class="title-link" href="{% url 'endd' %}" >
            <img class="title-link-img" data-uia="title-link-img" src="{% static 'imagefolder/nextwatch/AAAABaNKG7jm7_enkuR70ushfXFeCrrJG05KkUICZBP2gqV7-rgPmbEfivmj89AzrmRKeAKXztfm6IqirIiVJ1kSWjgyUesQ1PBsMV84dVjH25i3itbCBDSrLA7ZQejlFvIv9_UR.jpg' %}" alt="Anyone But You" loading="lazy">
        </a>
    </div>
</section>
<br>
{% endblock %}