{% extends 'app/layout.html' %}
{% load static %}

{% block title %}
     TALENT
{% endblock %}


{% block content %}
<br>
<br>
<br>
<br>
<br>
<section style="background: linear-gradient(rgba(0, 0, 0, 0.712) 0%, rgba(0, 0, 0, 0.85) 100%), url(&quot;https://static.justwatch.com/backdrop/427302/s1920/Good-Will-Hunting-Der-gute-Will-Hunting&quot;) center top no-repeat scroll;">
    <div class="talen">
        <br>
        <br>
        <br>
        <br>


    <h2><b>We offer big opportunities to great people</b></h2>
    <br>

    <p>If you want to become part of a growing team of highly talented people, just massage!</p>
    <br>
    <button>
        <div><a style="color: black;" href="/contact"><b>Open positions</b></a></div>
</button>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
</section>
<br>
<br>
<br>
<br>
<br>


<section>
<div class="world">
    <h2><b>The world's leading movie and TV show <br>streaming guide</b></h2>
    <br>
    <br>
    <p><b>MOVIEgaiN is an international movie marketing startup, founded in 2014 in Ghana by an experienced and successful <br>team. Every day, millions of viewers use MOVIEgaiN to find movies and TV shows they’ll love!<br><br>Talent is our highest priority! As we’re expanding our team to tackle the challenges and find opportunities, we <br>provide a diverse culture with high degrees of autonomy and personal development.</b></p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

   <div>
    <img src="{% static 'imagefolder/icons/company.jpg' %}" width="100%" height="10%" alt="">
   </div>
</div>
</section>


<section class="pics">
<div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2>Our Core Values</h2>
    <p>Our values “Learn and Deliver Value” are the foundation of MOVIEgaiN and the basis for all major decisions.</p>
    <br>
    <br>
    <br>
    <div class="icon">
        <section class="popu">
            <br>
            <br>
            <div>
                <img data-v-53e6d79b="" src="{% static 'imagefolder/images/learn.svg' %}" alt="learn">
            </div>
            <h2>Learn</h2>
            <p>We question everything<br>We try to learn by first principles<br>We are always curious<br>We want to make everything better<br>We are transparent and share knowledge<br>Applied learning towards a goals is what matters</p>
        </section>


        <section class="poopu">
            <br>
            <br>
            <div>
                <img data-v-53e6d79b="" src="{% static 'imagefolder/images/deliver.svg' %}" alt="deliver">
            </div>
            <h2>Deliver</h2>
            <p>We are result driven <br> We do always what we say <br> We believe in the 80/20 rule <br> Done is better than perfect <br> We proactively communicate our wins</p>
        </section>


        <section class="pooopu">
            <br>
            <br>
            <div>
                <img data-v-53e6d79b="" src="{% static 'imagefolder/images/create.svg' %}" alt="create">
            </div>
            <h2>Create Value</h2>
            <p>We only want to do things that make sense <br> We want to give more than we take <br> We don't want to harm anybody <br> Business is always personal</p>
        </section>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div>
<p>We are always looking for entrepreneurial team members who share our values and passion for movies!.</p>
<br>
<br>

</div>
</div>
<br>
<br>
<br>
<br>
<br>
</section>
{% endblock %}