{% extends 'app/layout.html' %}
{% load static %}


{% block title %}
     UPCOMING
{% endblock %}



{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div>
   <h1 class="comery">UPCOMING MOVIES</h1>
</div>
<br>
<div class="comety">
    <h1></h1>
</div>
<br>
<br>
<div class="releas">
   <a href="/new"> <h1>New releases</h1></a>
   <a href="#"><h1 class="first">Upcoming</h1></a>
   <a href="/product_list"><h1>Sale</h1></a>
</div>
<br>
<br>

<div>
    <h1 class="all_22">MY SERVICES</h1>
</div>

<br>
<div class="gallery-wrap_22">
    <img src="icons/10117847.png" alt="" id="backBtn_22">
    <div class="gallery_22">
    <div>
        <span><img src="{% static 'imagefolder/icons/icon (22).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (21).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (4).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (5).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (6).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (1).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (2).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (8).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (9).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (10).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (11).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (3).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (12).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (13).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (14).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (15).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (16).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (17).webp' %}" alt=""></span>
    </div>

    <div>
        <span><img src="{% static 'imagefolder/icons/icon (18).webp' %}" alt=""></span>

        <span><img src="{% static 'imagefolder/icons/icon (19).webp' %}" alt=""></span>

        <span><img src="" alt=""></span>
    </div>

</div>
    <img src="icons/10117763.png" alt="" id="nextBtn_22">
</div>
   <br>
   <br>
   <br>


 
   
<section class="nmtitle-section" id="section-more-titles">
    <div class="link-container">
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/horror/horror (6).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/horror/horror (2).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/horror/horror (3).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/horror/horror (4).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/horror/horror (1).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/docummentary/docummentary (1).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/docummentary/docummentary (2).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/docummentary/docummentary (3).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/docummentary/docummentary (4).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/docummentary/docummentary (5).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/drama/drama (1).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/drama/drama (2).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/drama/drama (4).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/drama/drama (3).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/drama/drama (5).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/drama/drama (6).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/action/action (17).jpg' %}">
        </a>
        <a class="title-link" href="{% url 'endd' %}">
            <img class="title-link-img" src="{% static 'imagefolder/action/action (6).jpg' %}">
        </a>
        
    </div>
</section>
<br>
<br>
<br>

{% endblock %}